[2015-11-17 22:39] madongfly opened #1215 "Okhttp transport should use resolved address."
Currently, OkHttp transport resolves the host name by itself, the underlying implementation tries all the resolved address one by one, until one connected successfully.

We should only connect with the passed-in resolved address, and shutdown the transport if it can not connect, let the load balance channel layer creates a new transport with a new address.

[2015-11-17 22:39] madongfly commented on #1215
@ejona86 what do you think?

[2015-11-17 22:41] madongfly commented on #1190
We need more discussion about implementing Happy Eyeballs, but the sub problem of OkHttp ignores resolved address can be addressed, split it out to #1215.

[2015-11-17 22:53] ejona86 commented on #1215
This is "fine," but I don't think it can happen until we have _some_ ipv4+ipv6 story better than "loop through all the IPs".

Swapping OkHttp to use the address is easy in my mind. The ipv4+ipv6 handling is the harder part.

[2015-11-18 00:02] louiscryan commented on #1196
@supercharger I suggest you take a look at the Protostuff library which does a lot of what you want. We talked to them about providing a GRPC binding, they already have their own basic RPC mechanism which would be easy to adapt.

[2015-11-18 00:39] louiscryan commented on #1164
This may be fixed by

https://github.com/grpc/grpc-java/pull/1203

[2015-11-18 01:10] louiscryan commented on #1010
@ejona86 This has reared its head on the server side too so we need to come up with a way to provide a graduated experience for both client & server developers. Lets discuss

[2015-11-18 01:34] wenerme opened #1216 "grpc OOME and NPE in simple JMH benchmark"
First I post [here](http://stackoverflow.com/questions/33756744) and put all things in this [gist](https://gist.github.com/wenerme/b428303d5f2d67c609af).

The problem is the memory goes very high, sooner or later will cause OOME, and there is a strange NPE

[code]

[code]

[2015-11-18 02:25] louiscryan commented on #681
So a couple of options are on the table with varying merits:

1. Attach trailer Metadata to Status. Clients use Status.from(Throwable) to extract where necessary
2. Attach trailer Metadata to StatusXXXException. Use similar mechanism to extract from Throwable
3. Do nothing an let folks use interceptors and Context (now that its bound to callbacks) to do what they see fit
4. Allow interceptors to c

[2015-11-18 06:06] jcanizales commented on #681
OAuth2 error details go in the header Metadata; we might want to include both instead of only the trailers.

[2015-11-18 13:52] supercharger commented on #1196
I am able to do java proxy based implementation on top of grpc-java,
https://github.com/supercharger/grpc-proxy

While I am able to implement multiple parameters in java, the restriction of protobuf makes it hard for other RPC across cross- language.

[2015-11-18 17:51] buchgr commented on #1216
Likeliest case: You are legitimately running out of memory i.e. you are creating writes faster than can be written on the wires, and thus be released. Netty has it's own memory allocator, that's somewhat similar to an older version of jemalloc. It tries to reuse as much memory as possible, in your case it can't and allocates new memory from your system ... basically just calling `malloc()`. That f

[2015-11-18 17:55] ejona86 commented on #1216
I saw the post on StackOverflow and am pretty certain I know what is
happening. I needed to discuss our recommended solution though (which still
needs to be done).

It looks like you are trying to benchmark gRPC using the async stub. What
is probably happening is you are writing faster than the network is able to
send. This can OOM because the async interface does not expose outbound
flow control:

[2015-11-18 18:44] carl-mastrangelo commented on #681
@louiscryan I tried locally option number 1, and it wasn't straightforward.  There are a lot of places that we initialize Status, and finding them all and testing it would take some time.  I agree 3 is definitely bad for long term; trying to do this pattern myself in the interop tests was a pain.

Despite the pain of option 1, option 2 is less attractive in my mind.  Exceptions are for exceptional

[2015-11-18 23:53] ejona86 opened #1221 "Consider allowing clients to provide cancellation details"
When designing `Context` we decided that `cancel(Throwable)` could be useful for debugging where a cancellation came from. In general, I'm not a fan of using that information for changing behavior, but it is very helpful for debugging.

Currently `ClientCall.cancel()` does not accept any arguments, because there is no way for the client to inform the server of any reasoning (and aren't too interes

[2015-11-19 00:00] carl-mastrangelo commented on #1221
We could make cancel(StatusException), just extract the status and associated metadata (assuming we pin metadata to status somehow)

[2015-11-19 00:02] ejona86 commented on #1221
We would want to enforce that the status code is `CANCELLED`.

[2015-11-19 00:53] ejona86 commented on #681
I'm generally in favor of 2 and 4. I'm on the fence on which of the two I prefer.

1 could be fine, but it seems strange to include `Metadata` in `Status`, since at other times `Status` is inside `Metadata`. I'm also uncomfortable with `Status` sometimes having `Metadata` and sometimes not; it'll be confusing for APIs to know whether they use the `Metadata` or not. It seems like it would cause a m

[2015-11-19 01:20] supercharger commented on #1196
@louiscryan  I think  to integrate with Grpc, all we need to is use protostuff-runtime to "serialize to inputstream", "deserialize from inputstream" using the http://www.protostuff.io/documentation/runtime-schema/#usage

[code]

As for RPC, There is no support from  [protostuff for RPC](https://github.com/protostuff/protostuff/wiki/Rpc-Services) **except that it allows to generate the code** for w

[2015-11-19 01:39] wenerme commented on #1216
@ejona86 Thanks, I'll try.

@buchgr
[code]

I disabled the assert, seems no more NPE

[code]

[2015-11-19 19:51] #368 closed

[2015-11-20 18:31] jtattermusch opened #1224 "Implement QpsWorker for Java"
go/grpc-performance-testing-setup

[2015-11-20 18:31] jtattermusch commented on #1224
CC @vjpai

[2015-11-20 18:57] zhangkun83 commented on #1212
The most obvious problems that contribute to the maintenance unnecessary connections are:
 1. `SimpleLoadBalancer`'s pick-first implementation doesn't tell `TransportManager` (implemented by `ManagedChannelImpl`) about the abandoned address. The interface is already there (`TransportManager.updateRetainedTransports()`). `SimpleLoadBalancer` needs to use it.
 2. `TransportManager.updateRetainedTran

[2015-11-20 20:10] ejona86 opened #1225 "NPE in ProtoInputStream.drainTo"
[code]

It looks like if you call `drainTo()` twice then it will NPE. Calling `drainTo()` twice is sort of strange, so I wouldn't expect this to be critical, but we should still not NPE.

[2015-11-23 18:58] #1211 closed

[2015-11-23 19:23] zhangkun83 commented on #1212
`TransportManager.updateRetainedTransports()` assumes that any addresses that do now appear in that least is due for immediate closure. It doesn't work well in cases arbitrary addresses may be given, and we still want to cache their connections for some time. One of such cases is affinity-based routing, where addresses are not given up-front, but on a per-request basis. If `TransportSet` does lazy

[2015-11-23 20:01] carl-mastrangelo opened #1226 "A failing test deletes Messages.java"
When running ./gradlew build, if a test fails part way through protobuf-nano/src/generated/test/javanano/io/grpc/protobuf/nano/Messages.java  is deleted.  This causes noise when running git status or other git commands.

[2015-11-23 20:08] ejona86 commented on #1226
Yeah. It's caused by the goo we're doing to clean up previously-generated code before regenerating.

https://github.com/grpc/grpc-java/blob/master/build.gradle#L97

I think implementing google/protobuf-gradle-plugin#33 is the solution, but that isn't implemented.

[2015-11-23 21:56] louiscryan commented on #1206
Fixed by https://github.com/grpc/grpc-java/commit/73e2a235e799d38fda1b2ac61096f9d4aab2bf11

[2015-11-23 21:56] #1206 closed

[2015-11-23 23:33] carl-mastrangelo opened #1228 "OkHttpClientStream should coalesce pending flushes"
In OkHttpClientStream.start(), there may be pending data to write.  If multiple of the writes ask to flush, they should  be coalesced into a single flush at the end.

[2015-11-24 01:01] ejona86 commented on #1212
After discussion, this is the current plan we're going to mull over:

1. Move pick-first into `TransportSet`. This is to deal with reconnect logic needing to apply to all of the IPs as a whole, instead of individually. We could maybe create a new `SocketAddress` type that lists multiple SocketAddresses within as the key for `TransportManager`.
2. Implement idleness in Channel. `TransportSet` will

[2015-11-24 18:24] #1175 closed

[2015-11-24 23:34] ejona86 commented on #1196
@supercharger, would it make sense to close this issue now, or is something outstanding?

[2015-11-24 23:35] ejona86 commented on #1189
It looks like the issue was resolved.

[2015-11-24 23:35] #1189 closed

[2015-11-24 23:35] #516 closed

[2015-11-24 23:38] ejona86 commented on #1125
@carl-mastrangelo, would you be comfortable with us closing this? It seems we are okay with Guava's Base64 with some of the recent changes.

[2015-11-24 23:38] carl-mastrangelo commented on #1125
I am 1e2% fine with closing this.

[2015-11-24 23:38] #1125 closed

[2015-11-24 23:39] ejona86 commented on #1190
Happy Eyeballs wasn't previously used on Android; it just looped through the resolved addresses in order. Other changes will get us to that same approximate level of behavior.

We still want Happy Eyeballs, but it doesn't have to be done for 1.0

[2015-11-24 23:42] zhangkun83 commented on #175
Please refer to the Gradle documentation, e.g., [Zip task](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.bundling.Zip.html) for how to package files into jars.

[2015-11-24 23:42] #175 closed

[2015-11-24 23:45] ejona86 commented on #1092
@nmittler, didn't we end up doing this?

[2015-11-24 23:47] ejona86 commented on #824
@carl-mastrangelo, is this done now?

[2015-11-24 23:48] carl-mastrangelo commented on #824
@ejona86 99.9% done.  There is still a corner case when using a leading ":" in the key, which we use for authority propagation.  It's probably safe to close this out.

[2015-11-24 23:53] ejona86 commented on #765
I've not seen this in a while. @carl-mastrangelo, did we end up fixing this?

[2015-11-24 23:55] ejona86 commented on #646
Having seen it in a while. I think the machine we were able to reproduce it on isn't running the tests any more. Closing, but it should be reopened if we notice it again.

[2015-11-24 23:55] #646 closed

[2015-11-24 23:56] ejona86 commented on #461
This has been implemented, but the performance benchmarks were too noisy to notice the improvement. It's probably about time to check for performance improvement again.

[2015-11-24 23:58] carl-mastrangelo commented on #765
@ejona86 I don't believe so.

[2015-11-25 04:34] #824 closed

[2015-11-25 07:24] supercharger commented on #1196
@ejona86
Thanks, I am closing this issue.

[2015-11-25 07:24] #1196 closed

[2015-11-25 16:27] ejona86 commented on #1181
Considering it a dup. Closing.

[2015-11-25 17:11] ejona86 commented on #1181
Unmarking as dup. This one will be for IOExceptions during connecting.

[2015-11-25 17:12] ejona86 commented on #1053
This requires a change to `AbstractNettyHandler.exceptionCaught()`, since it would currently be defeating any instanceof detection.

[2015-11-25 21:03] #1181 closed

[2015-11-25 22:20] #1047 closed

[2015-11-25 23:39] zhangkun83 opened #1237 "ScheduledExecutorService won't log the exception if the task throws"
Unlike `Executor.execute()`, which lets the thread's default exception handler to log anything thrown from the task, `ScheduledExecutorService.schedule()` expects you to get the exceptions from the returned `ScheduledFuture`, and will __not__ log the exceptions.

As we want to log everything thrown from inside the executors, and don't want to check the `ScheduledFuture` each time we use `Scheduled

[2015-11-26 00:31] hbchai opened #1238 "hello-world-server example fails with Java 7 and long hostname"
The failures seems to be this old JDK bug:

http://mail.openjdk.java.net/pipermail/net-dev/2012-July/004603.html

I couldn't figure out where getLocalHostName() was getting invoked from within the gRPC code, however. It would be nice to be able to work around this somehow. Possibly by registering some kind of custom resolver?

[code]

[2015-11-26 00:44] ejona86 commented on #1238
I'm not sure what you want hope gRPC to do differently. It is a well-known bug in the JVM. If you need to use Java 7, then probably you should use a shorter host name?

Java is probably calling `getLocalHostName()` in order to get the list of addresses it wants to bind or similar (since we just specify a port).

[2015-11-26 00:48] madongfly commented on #1228
Fixed by #1233

[2015-11-26 00:48] #1228 closed

[2015-11-26 00:51] #1215 closed

[2015-11-26 01:38] hbchai commented on #1238
It's unclear to me where the offending call originates. I was thinking that should this be a result of a call within gRPC code which is known to perform resolution, that a shim could be introduced to allow substitution of custom resolution logic. Classes for this already exist (`NameResolver`, etc.); I'm not sure how appropriate they would be to use here.

The problem with choosing hostnames is th

[2015-11-26 16:18] ejona86 commented on #1238
Okay, I see. We don't use `NameResolver` on server-side.

Easiest workaround I have is swapping to `forAddress()`.

The example's code:
[code]

Is the equivalent to:
[code]

So you could try:
[code]

Which would hopefully work better for you. It looks like the HelloWorldClient is already using localhost.

[2015-11-27 05:13] hbchai commented on #1238
I had actually already tried doing something like that with my own code (not the sample code, but similar enough - I created this bug against the sample because it was the easiest way to explain things), and found that it wasn't sufficient. Something else was still doing name resolution.

I fired up the debugger just now, attaching the JDK source, and believe I've found the culprit, in Netty code

[2015-11-28 04:06] hbchai commented on #1238
I verified that a combination of using `InetAddress.getByAddress(byte[] addr)` and setting the `io.netty.processId` system property to the PID of the process (really it just needs to be non-negative) allows the Netty server to start without crashing even when hostnames are long.

[2015-11-30 18:07] buchgr commented on #1237
might consider forking Netty's `HashedWheelTimer` or implement the even cooler hierarchical wheeled timer http://www.confluent.io/blog/apache-kafka-purgatory-hierarchical-timing-wheels and plug it into a low priority thread.

[2015-11-30 21:55] ejona86 opened #1239 "Add integration test for disabled GCM"
Disabling GCM is common when using Jetty ALPN+JDK7 (not available) or JDK8 (for performance reasons). We should add a test to verify that non-GCM connection succeed, similar to the existing NPN tests.

With tcnative, there is little reason to use GCM, but not everyone has swapped from Jetty ALPN yet. This seems Netty-specific, since Android should be making use of the security provider which doesn

[2015-12-01 18:57] ejona86 commented on #1088
This was a dup of #1047

[2015-12-01 18:57] #1088 closed

[2015-12-01 19:04] ejona86 commented on #1238
It's not clear how gRPC can/should workaround the JDK7 bug. It's also not clear how many people are impacted by this, and a workaround is available.

I'm not going to do a doc change at this point, but if more people suffer from this we can add a note in the docs pointing to this issue.

OTHERS READING THIS: feel free to write "me too" posts to this issue noting you ran into the problem and it wou

[2015-12-01 19:04] #1238 closed

[2015-12-01 19:35] ejona86 commented on #1151
@zackangelo, there has been some concern about implied support of languages in the grpc org; abandonware or half-done projects could be confusing. Our current plan is that once a implementation is mature enough and maintained by (say) > 1 person that it could become part of the grpc org. We don't yet have precise details of what "mature enough" means, but the idea is some minimum set of features (

[2015-12-01 19:35] #1151 closed

[2015-12-01 19:38] ejona86 commented on #1142
Marking as long-term milestone, because it doesn't need to happen soon. However, if we end up making NameResolver a stable API, then this will need to addressed.

[2015-12-01 19:40] ejona86 commented on #1104
#1105 seems to address the issue.

[2015-12-01 19:40] #1104 closed

[2015-12-01 19:44] ejona86 commented on #171
In #1196 it seemed things worked alright when using Java serialization. If you have more questions at this point feel free to post on this issue or create a new one.

[2015-12-01 19:44] #171 closed

[2015-12-01 19:47] ejona86 commented on #190
This is addressed with netty/netty#4464 (while ignoring priority). netty/netty#4462 would add a solution that also supports priority. It seems things are in a good place now.

[2015-12-01 19:47] #190 closed

[2015-12-01 19:55] ejona86 commented on #322
@louiscryan tried some optimizations in #1050 and wasn't able to see much difference. Our thought right now is that `SerializingExecutor` is "optimal enough", although the class may be changed in the future for larger-scale optimizations.

[2015-12-01 19:55] #322 closed

[2015-12-01 20:01] ejona86 commented on #557
This was done late October or so. See the [job on grpc-testing](https://grpc-testing.appspot.com/view/Pull%20requests/job/gRPC-Java-PR-Windows/).

[2015-12-01 20:01] #557 closed

[2015-12-01 20:02] ejona86 commented on #558
Closing since no response. Feel free to provide part of the backtrace and we can reopen diagnosing the issue.

[2015-12-01 20:02] #558 closed

[2015-12-01 20:05] ejona86 commented on #602
I believe this was fixed in #697.

[2015-12-01 20:05] #602 closed

[2015-12-01 20:40] ejona86 commented on #870
Closing since it seems necessary features are now available in netty.

[2015-12-01 20:40] #870 closed

[2015-12-02 14:23] bobymicroby opened #1240 "Custom Serialization [question]"
Hello guys,

Do you think that it is feasible using the current codebase, to avoid using protocol buffers and switch to another serialization mechanism? If so, can you point me to the places where one should do it ?

Regards, B.

[2015-12-02 14:48] buchgr commented on #1240
Yes, the grpc protocol does not require protobuf. However, for non protobuf serialization formats you won't have the comfort of code generation. You want to have a look at [MethodDescriptor](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/MethodDescriptor.java), [MethodDescriptor.Marshaller](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/MethodDes

[2015-12-02 14:50] bobymicroby commented on #1240
Thanks a lot for the quick answer. I will have a look.

[2015-12-02 14:52] buchgr commented on #1240
@bobymicroby The recent discussion in https://github.com/grpc/grpc-java/issues/1196 might also be of interest for you.

Also the `hello world` example stub can be found in ./examples/src/generated/main/grpc/io/grpc/examples/helloworld/GreeterGrpc.java once generated.

I ll close this issue for now. Feel free to open a new one if you encounter any problems along the way.

[2015-12-02 14:52] #1240 closed

[2015-12-02 16:28] larev opened #1241 "Connections handling"
Hello! Is it possible to handle connections(their statuses) on the server side?

[2015-12-02 17:47] carl-mastrangelo opened #1242 "Grpc fails to build from clean on Windows x64"
I suspect that the fix for this is simple, but it's still bad experience to have ```gradle.bat build``` fail on the first run.  I included the log file from trying to build.  The error happens in integration tests with "Received close_notify during handshake"

[log.txt](https://github.com/grpc/grpc-java/files/50006/log.txt)

[2015-12-02 18:54] ejona86 commented on #1241
It's not clear to me what you are wanting to do. What is your use-case?

[2015-12-02 21:01] ejona86 commented on #1242
It's probably due to missing openssl, since the tests are now using tcnative. I'm not sure what way we would want to fix that.

[2015-12-02 21:06] ejona86 commented on #946
The netty bug is fixed. It should be able to do mutual authentication now. It is not yet possible to retrieve the client certificate on the server though.

[2015-12-03 11:59] larev commented on #1241
I want to do something like JMS only using the grpc. The problem is that I can't clear the listeners without the status of client connections on the server side.

[2015-12-03 19:26] #1157 closed

[2015-12-03 21:47] ejona86 commented on #1241
For handling listeners I'd suggest you use a stream. Each event can then be its own response on the stream. If the client goes away then the stream will be closed and you can reclaim resources. If the TCP connection goes down the client will be informed so that it can create a new RPC to listen.

[2015-12-04 00:35] ejona86 opened #1251 "Netty Server does not observe channelInactive"
If the TCP connection goes down, gRPC isn't noticing because nothing is observing the `channelInactive()` notification on the channel pipeline. I confirmed that `channelInactive()` is called, but saw that an outstanding streaming RPC was not cancelled.

This likely applies to both client-side and server-side; I only verified it broken on server-side.

[2015-12-04 00:36] ejona86 commented on #1251
We should backport the fix to 0.9.0, which may be slightly annoying since I think `AbstractNettyHandler` didn't exist in 0.9.0.

[2015-12-04 01:23] ejona86 commented on #1251
I don't know why Netty's channelInactive handling isn't enough:
https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L348

[2015-12-04 01:25] ejona86 commented on #1251
Actually, `NettyServerHandler` also has `channelInactive` logic:
https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/netty/NettyServerHandler.java#L263

[2015-12-04 01:53] ejona86 commented on #1251
In `NettyServerHandler`, reordering the `super.channelInactive()` _after_ `forEachActiveStream` fixes the problem. It seems that is a bug in general (or we shouldn't be calling `forEachActiveStream` on server-side), but Netty may also have a bug.

[2015-12-04 19:51] madongfly opened #1253 "ClientCallImpl operations race with Context cancellation."
With be6008666e9012a35f77defaab8e95730b81b838, we don't create the stream when the Context is cancelled, so the following request(), sendMessage(), halfClose() will encounter an IllegalStateException like:
[code]

@louiscryan, FYI, I'll send you a PR to fix it soon.

[2015-12-04 20:55] ejona86 opened #1256 "Should ClientCall.cancel be thread-safe"
If it were thread-safe, we would no longer throw `IllegalStateException` for other methods when closed.

Internally cancel is already thread-safe. The main question is whether it is more useful for applications to cancel calls without synchronization or to notice bugs where they write to closed calls. There is also a question of whether having cancel be thread-safe causes undue burden to intercept

[2015-12-04 23:53] ejona86 commented on #1251
Client-side does not seem to have a problem and has a test: `channelShutdownShouldFailInFlightStreams`. This issue now only applies to server-side.

[2015-12-05 00:04] #1253 closed

[2015-12-07 13:44] larev commented on #1241
Ok, help me please...
Pseudo code:
[code]
How can I abort the iteration in this situation

[2015-12-07 17:03] #1251 closed

[2015-12-08 17:29] Thinkfly opened #1265 "use maven plugin can not generate service code"
I use maven plugin(maven-protoc-plugin) for generating grpc code,but i only can generate message.please help me,thx~

command: `mvn protoc:compile`

proto file:

[code]

compile info:
[code]

[2015-12-08 19:19] ejona86 commented on #1265
Do you have the following in your pom.xml in the configuration section for maven-protoc-plugin?

[code]

(That is a snippet taken from our [README.md](https://github.com/grpc/grpc-java/blob/master/README.md))

[2015-12-08 20:10] ejona86 commented on #1241
The blocking iterator doesn't currently provide a way to abort. If you use the async interface, then calling `StreamObserver.onError()` will cancel the stream.

0.10 will have context integration, so you could use the blocking interface like:
[code]

And then simply leaving the try block will cancel the RPC.

[2015-12-09 02:10] Thinkfly commented on #1265
Yes, I use this in pom.xml,but i can't generate service code

<dependencies>

        <dependency>
            <groupId>io.grpc</groupId>
            <artifactId>grpc-all</artifactId>
            <version>0.9.0</version>
        </dependency>

    </dependencies>

    <pluginRepositories>
        <pluginRepository>
            <releases>
                <updatePolicy>never</updatePolicy>

[2015-12-09 17:03] ejona86 commented on #1265
Looking at the [plugin documentation](http://sergei-ivanov.github.io/maven-protoc-plugin/), it seems you need to run `mvn protoc:compile-custom`.

[2015-12-09 18:58] zhangkun83 opened #1267 "Fine-tune pick-first logic to honor address order"
Naming systems may sort the addresses so that an address that appears earlier has higher priority, which means being closer and/or faster. We may want to take this into consideration when reconnecting.

Today, if a connection was made successfully and later disconnected, we try reconnecting starting from the next address, and if that succeeds we will stick with it while it may be inferior to the f

[2015-12-09 19:05] zhangkun83 opened #1268 "Avoid unnecessary reconnect due to addresses being reshuffled in EquivalentAddressGroup"
Today if the addresses in an `EquivalentAddressGroup` are reshuffled (which DNS might do), `ManagedChannelImpl` will see it as a different `EquivalentAddressGroup`, and creates a new `TransportSet` for it, which is wasteful. We need to find a way to update the address list in and reuse the original `TransportSet`.

[2015-12-09 22:20] zhangkun83 commented on #1212
The rest of the work is a duplicate of #1191

[2015-12-10 03:56] Thinkfly commented on #1265
It works, thank you~

[2015-12-10 03:56] #1265 closed

[2015-12-10 19:07] madongfly opened #1272 "Don't use thread context's class loader for Android."
As http://stackoverflow.com/questions/13407006/android-class-loader-may-fail-for-processes-that-host-multiple-applications says, if users use android:sharedUserId or android:process, the thread context's class loader will be replaced with a dummy implementation.

And calling Thread.currentThread().setContextClassLoader() before whenever the ManagedChannelBuilder is created is silly.

After discuss

[2015-12-10 21:05] ejona86 commented on #1267
`transportReady()` is only called (for both Netty and OkHttp) after we receive the initial HTTP/2 SETTINGS frame, so we should be safe from TLS issues.

Re-starting connecting at the beginning of the list is pretty close to what "normal" applications would do.

[2015-12-10 23:09] #1272 closed

[2015-12-11 17:01] zackangelo commented on #681
Was a decision made on which option to move forward with?

[2015-12-11 18:56] zhangkun83 commented on #1212
Revise this issue to implement channel idleness, which is needed to prevent leaking `TransportSet`.

[2015-12-11 18:57] zhangkun83 commented on #1191
This is a duplicate of

[2015-12-11 18:57] #1191 closed

[2015-12-11 19:23] ejona86 opened #1276 "Implement Channel IDLEness"
We are currently lazy-initializing transports in order to allow the Channel to reach a state similar to IDLE. However, we should actively disconnect the TCP connection after inactivity in order to not rely on server idle checks and to comply with the [gRPC IDLE semantics](https://github.com/grpc/grpc/blob/master/doc/connectivity-semantics-and-api.md).

[2015-12-11 19:23] ejona86 commented on #1212
Closing this one since the main issue is addressed. I created #1276 for tracking idle support.

[2015-12-11 19:23] #1212 closed

[2015-12-14 18:00] unlikely-leo opened #1277 "Resource leak in v0.9.0 and v0.12.0"
After running GRPC for a while I get the following error (with `io.netty.leakDetection.level=advanced`):

[code]

This looks similar to #336 but not quite identical. This happens on a 64-bit Linux machine running Oracle Java 1.8.0. I'm happy to provide more information if required.

[2015-12-14 18:10] nmittler commented on #1277
@louiscryan can you take a look?

[2015-12-14 18:13] nmittler commented on #1277
FYI, this sounds a lot like https://github.com/netty/netty/issues/4302

[2015-12-14 18:16] unlikely-leo commented on #1277
@nmittler Thanks for the quick comment! The bug netty bug report you linked does indeed seem relevant.

[2015-12-14 19:48] carl-mastrangelo opened #1278 "Don't compress empty messages."
If given a zero byte message, compression should not be enabled.  Decompression is fair game.

[2015-12-14 20:02] ejona86 commented on #1278
Putting in 0.10, since it seems this may be necessary for correctness and should be an easy change. If we determine it isn't necessary for correctness, then the milestone can be changed to 1.0.

[2015-12-14 21:19] ejona86 opened #1280 "Provide client service definition for frameworks to avoid reflection"
[code]

[2015-12-14 22:52] louiscryan commented on #1277
looking into it now...

[2015-12-14 23:21] nmittler commented on #1092
@ejona86  Yeah this should already be done .... closing.

[2015-12-14 23:21] #1092 closed

[2015-12-15 01:16] louiscryan commented on #1277
@unlikely-leo could you share your VM flags?

[2015-12-15 10:45] unlikely-leo commented on #1277
Sure @louiscryan:

[code]

[2015-12-16 04:40] louiscryan commented on #1277
OK. Still no joy despite pounding on it with a few different VM flavors

@unlikely-leo scan you give me a rough description of the traffic patterns...
- using streaming RPCs?
- how many messages / calls per second
- do you have more than one connection (channel) open
- is your client and server in the same process or separate
- how big are your messages

@Scottmitch any thoughts?

[2015-12-16 05:05] Scottmitch commented on #1277
On first glance it looks different than the leak reported in netty/netty#4302 for the following reasons:
1. CoalescingBufferQueue is not involved in any of the leaks reported in netty/netty#4302.
2. The leaks in netty/netty#4302 all seem to originate from the `DefaultHttp2ConnectionDecoder$FrameReadListener.onPingRead` when the "pong" response is created. This leak appears to be when writing data

[2015-12-16 06:03] Scottmitch commented on #1277
I also briefly looked at the code `CoalescingBufferQueue` code path and nothing stood out at me. As long as the stream listener close/half closed local methods are being called we should deallocate (even partially written buffers).

Only suspicious code I saw was related to internal state of `CoalescingBufferQueue` potentially being inconsistent, but seems unlikely to be related to this issue. [Co

[2015-12-16 13:40] unlikely-leo commented on #1277
@louiscryan to answer your question about traffic patterns: we essentially have a fully connected graph of things talking to each other via never-terminating RPC calls that establish bidirectional streams. There are about 10k messages/second in the whole system. The vast majority of messages is very small (tens of bytes). We use multiple channels; client and server are sometimes in the same proces

[2015-12-16 15:21] nmittler commented on #1277
@Scottmitch I think you're right.  I think I was conflating netty/netty#4302 with another `CoalescingBufferQueue` issue that we had seen prior. This does seem unrelated.

One thing I did notice is that `DefaultHttp2ConnectionEncoder` does not properly handle [integer overflow when merging data frames](https://github.com/netty/netty/blob/43ebbc3fa065155fa67732b0cbd7c12843b0f3f7/codec-http2/src/main

[2015-12-16 18:27] carl-mastrangelo commented on #1278
Fixed in #1281

[2015-12-16 18:27] #1278 closed

[2015-12-17 18:29] #1188 closed

[2015-12-17 18:39] pongad opened #1290 "Propagate RuntimeException's back to caller"
When using ManagedChannelImpl, if a method of ClientCall.Listener (possibly also of ClientCall itself) throws a RuntimeException, the exception propagates up into SerializingExecutor. The executor will log it under SEVERE but cannot take corrective action. The thread initiating ClientCalls.blockingUnaryCall or its cousins will block forever waiting for a response.

Ideally, the exception should be

[2015-12-17 18:55] carl-mastrangelo commented on #1290
Could you give more detail on the problem you are having?  I just looked through ClientCallImpl.ClientStreamListenerImpl, which governs access to the ClientCall.Listener.  It appears that in all cases, if an exception is thrown from a user provided listener, cancel() is called.  This should close down the call gracefully and eventually propagate to onClose().

[2015-12-17 19:44] zhangkun83 commented on #1137
#1259 is the initial implementation.

[2015-12-17 20:37] pongad commented on #1290
I think it successfully propagate to onClose(), but the method is called not from the thread that starts the rpc call but from an executor. I pasted stack trace for the two relevant threads here. I am not an expert on this, but it looks like https://github.com/grpc/grpc-java/blob/4abb0223757c8696a3316f7fe178a523c227ad84/core/src/main/java/io/grpc/internal/ClientCallImpl.java#L198 might have someth

[2015-12-17 21:01] carl-mastrangelo commented on #1290
This still appears to be correct behavior.  Perhaps I am still not understanding you?  An exception in the application code should not prevent graceful teardown of the RPC.  From looking at your stack trace, it looks like you are calling the wrong method, or there is a server bug that is responding incorrectly to your client.  In either case, the Client Call will still want to gracefully tear down

[2015-12-17 21:31] pongad commented on #1290
@carl-mastrangelo , I think I understand you now. Am I right to say that, at least when using ClientCallImpl, throwing from any methods of Listener will propagate to onClose, but onClose itself probably shouldn't throw? If that's the rule, I can find a way to propagate the error back to the calling thread in the application layer.

[2015-12-17 22:25] carl-mastrangelo commented on #1290
Looking more closely, It doesn't appear that we actually propagate the specific exception, though we could change it to do so.  The reason for this is because if there is an exception in a listener, there isn't any way to tell the server about it.  The spec doesn't allow trailing headers from client responses.  Also, typically onClose is called with the response from the server, rather than the ex

[2015-12-17 22:28] carl-mastrangelo commented on #1290
cc: @ejona86 since this affects stubbed calls too.

[2015-12-18 00:31] pongad commented on #1290
Makes sense. I'll close this issue. Thank you very much for you help @carl-mastrangelo !

[2015-12-18 00:31] #1290 closed

[2015-12-18 02:24] carl-mastrangelo opened #1291 "GrpclbLoadBalancerTest is flaky"
Depending on how fast the balancing() test method is run, it can sometimes mix up the results of the transports.  I have disabled the test in the mean time, with a todo to re enable it.
[code]

[2015-12-18 22:01] #1291 closed

[2015-12-19 03:35] jcanizales opened #1295 "Java - Write sample code for setting and reading error details"
Java issue for https://github.com/grpc/grpc/issues/4543.

[2015-12-21 16:25] ejona86 opened #1296 "Use a List in BlankFutureProvider instead of LinkedHashSet"
Objects added to `blankFutures` are created just before being added, so it is guaranteed there won't be duplicates. The only operations for supporting the API are `add()` and `iterate()`. Thus, `ArrayList` and `LinkedList` are both strictly better than `LinkedHashSet`.

Previously, a ConcurrentHashMap was used which allowed greater concurrency, but since #1292 added guaranteed completion order ful

[2015-12-21 17:46] carl-mastrangelo commented on #1296
Is this on the critical path for making RPCs?  If so, then #1292 should probably be reverted and the tests made able to accept out of order results.

[2015-12-21 21:46] ejona86 commented on #1296
It is on the slow path, before a connection has been established. `GrpclbLoadBalancer` is required to have a "big lock" on the fast path in order to implement round robin. `SimpleLoadBalancer` is using a "big lock" right now, but _should_ be doing only a volatile read in the fast path.

Even if using an `ArrayList`, I would prefer the tests not to depend on completion order because ordering assump

[2015-12-23 02:30] lukaszx0 opened #1299 "Add interfaces to generated rpc service classes"
Currently, service stub classes (not sure if it's the best name to call it) generated by gRPC don't implement any interfaces (https://github.com/grpc/grpc-java/blob/59c1a6ae26aaef2efcd7071562689aee0bd1b933/examples/src/generated/main/grpc/io/grpc/examples/helloworld/GreeterGrpc.java#L17). It makes it impossible to dynamically build server composed of service classes provided in users's app via ann

[2015-12-23 12:45] LeeYeeze opened #1300 "missing io/netty/util/ByteString"
Hi
I am trying to made a simple Grpc client and a server for it.
And this is the code for the client
[code]
And I get a error every time I run it.
And this is it
[code]

The server had the same problem when I was using grpc-all-0.9.0, and turned back to normal when switch to grpc-all-0.9.0-2.jar. But client still fails. I also update netty to 4.1.0 to fix the problem.

I really needs your help. Th

[2015-12-23 14:11] ejona86 commented on #1299
This is similar in some ways to #1280.

I'm not quite sure how we can handle the type safety for `GrpcServiceStub`. For the client stubs, the interface can return `Object` and then `newStub` in the implementation simply specifies a more specific class. That _does not_ work with the current API though, because `newStub` and similar are static, so we would need to put these new non-static implementa

[2015-12-23 19:05] robeden commented on #1300
io.netty.util.ByteString appears to have been removed in 4.1.0.Beta8 (commit: https://github.com/netty/netty/commit/19658e9cd80b57340df58ae573fa9dcbd141416a)

It has been replaced by [AsciiString](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/AsciiString.java).

[2015-12-24 00:41] LeeYeeze commented on #1300
I also look into the source code of GRPC, and find that ByteString is already replaced by AsciiString. Still don't know why it is like that.

[2015-12-24 02:01] LeeYeeze commented on #1300
Still need your help

[2015-12-24 02:47] LeeYeeze commented on #1300
It seems solved after I build a grpc-Java myself

[2015-12-24 06:40] #1300 closed

[2015-12-24 07:17] #1114 closed

[2016-01-04 18:12] louiscryan opened #1303 "Status.augmentDescription violates spec"
From Justin Rudd on mailing list...

Status.augmentDescription adds a '\n' (byte value 10) to the description of a Status which ends up in the header "grpc-message". But the value of "grpc-message" is dropped because of the method isSpecCompliantAscii in TransportFrameUtil.

I've worked around it by just not using augmentDescription. But I thought you'd like to know.

Also, it would be awesome if

[2016-01-04 23:05] robeden commented on #946
Any idea on the priority and/or ETA of allowing retrieval of the client certificate on the server?

[2016-01-05 15:12] LeeYeeze opened #1304 "Time for the first time a rpc service is used is way longer than that of the following usage."
Hi
I would first paste my snippet here

    public void testOriginalAPI() {
		ManagedChannel grpcChannel = NettyChannelBuilder.forAddress("127.0.0.1", 60000)
        		.usePlaintext(true)
        		.build();

		QueryServiceInterfaceBlockingStub blockingStub =  QueryServiceInterfaceGrpc.newBlockingStub(grpcChannel);
		QueryProtocol.QueryRequest request = QueryProtocol.QueryRequest.newBuilder().setQ

[2016-01-05 18:04] carl-mastrangelo opened #1306 "OkHttp Client stream and transport are tightly coupled"
The interaction between the client stream and transport for OkHttp stream starting is tightly coupled.  As brought up in #1294, we should take a look at how these two classes interact and make some clear boundaries (or possibly merge them).

[2016-01-05 23:59] louiscryan opened #1307 "ScheduledFutureTask cancellation does not guarantee queue removal"
GRPC users using timeout may observe a memory leak when using long RPC timeouts with calls that complete quickly.

In ClientCallImpl we add a Runnable to trigger the timeout to a ScheduledExecutorService and retain a ScheduledFuture to that we can cancel the timeout if the call completes before that time.

The issue is that calling ScheduleFuture.cancel is not guaranteed to remove the task from th

[2016-01-06 19:06] nmittler commented on #946
Sorry, I've been distracted by some other tasks and probably won't get to this in the near term.  Reassigning to @ejona86 to prioritize.

[2016-01-06 21:47] #1307 closed

[2016-01-07 02:57] #1304 closed

[2016-01-07 21:35] ejona86 commented on #946
I believe this is required for 1.0, which we are targeting for very late Q1. It isn't actually very hard; the biggest delay would probably be designing the ~1 method API.

[2016-01-08 00:00] ejona86 commented on #1306
This will probably be partially resolved with the refactoring to make way for cronet support.

[2016-01-08 01:18] ejona86 commented on #1304
Yes, the connection is created only when RPCs are issued. #28 would include a way to "kick" the channel out of idle and start a connection without having to do an RPC; that will be done before 1.0.

[2016-01-08 16:27] ejona86 commented on #1300
@LeeYeeze, yes, the currently-released version of grpc-java isn't compatible with 4.1.0.Beta8. You have to build from source at-the-moment.

[2016-01-08 22:33] ejona86 commented on #1290
We've had some talk about propagating an exception for Context-caused cancellation, and that could be re-used for this case as well. In general, we aren't wanting applications to throw in the callbacks. They _can_ and it will be handled, but you will get the log-spam.

I'm not super-concerned, because it does seem like we could add the cause to the Status in the future if it turns out to be a good

[2016-01-09 01:43] Thinkfly opened #1310 "how can i use protocol buffer's message toString() method for utf8"
I want to print protocol buffer's message log in console ,but i use toString() method and get below info.how can i use toString for utf8,thx.

logger.info(xx.toString());

result is:

message: "\347\231\276\345\272\246\345\234\260\345\233\276\350\260\203\347\224\250\345\244\261\350\264\245:\345\205\254\351\246\206,\351\224\231\350\257\257\347\240\201:1"

[2016-01-09 17:28] gubby opened #1311 "Exception when configuring SSL: "Jetty ALPN/NPN has not been properly configured." (and possible solution)"
I am unable to configure an SSL gRPC.

[code]

Causes this exception:
[code]

I think the root cause is here:
[code]

This method is restricting the search to the *boot* classloader, which I don't think is correct. i.e. in the following code, the first line executes fine, but the second line throws CNFE (despite the class being loaded), causing `isJettyAlpnConfigured()` to return false:

[code]

I

[2016-01-10 14:43] nmittler commented on #1311
@gubby did you set up the boot classpath? https://github.com/grpc/grpc-java/blob/master/SECURITY.md#tls-with-jdk-jetty-alpnnpn

[2016-01-11 09:41] Talefairy opened #1312 "gRPC distributed deployment (load-balancing)"
Hi, 您好。如果我在多台机器上部署多个server。 怎么让一个client side 访问多个server。并且实现负载均衡？ 谢谢

[2016-01-11 16:37] nmittler commented on #1310
This is really a protobuf question (not grpc).

If it's a ByteString field, you can use ByteString.toString(UTF_8)

[2016-01-11 17:07] ejona86 commented on #1311
@gubby wrote:

Actually, it is correct. Jetty ALPN _replaces_ certain SSL classes in the JDK, and it has to be in the bootclasspath to do that. Yeah, that's a bit icky, but it can get the job done.

Note that since grpc-java v0.9 we are encouraging using netty-tcnative instead of Jetty ALPN. netty-tcnative uses OpenSSL via JNI. See the SECURITY.md file that nmittler linked to for details.

[2016-01-11 18:34] ejona86 commented on #924
I'm not sure what is necessary for this issue. It seems the code has already been doing the things discussed here. What am I missing?

https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/Http2ClientStream.java#L201

[2016-01-11 19:52] louiscryan opened #1313 "SPEC: Support utf-8 percent encoded grpc.message"
See https://github.com/grpc/grpc/issues/4672

[2016-01-12 22:41] gubby commented on #1311
Hmm, I didn't see the security page, but that makes more sense.

But this seems like a shame, unless I misunderstood, it seems like to use gRPC with SSL one needs to either:

1. Configure the boot classpath on the JVM of every user of the RPC client library being built, or
2. Install a package onto the operating system on every host the client/server are deployed.

This means it's nearly impossibl

[2016-01-13 00:10] ejona86 commented on #1311
Yes, it is a shame. ALPN is the bane of HTTP/2 development at present. We've already increased the ease _dramatically_, but yes, it still isn't as easy as native Java. Application authors are reasonably served, but things aren't seemless for Java libraries. Some important Google libraries are to use gRPC, so there is pressure from multiple directions to make the process easy.

There is general wor

[2016-01-13 16:59] jhump commented on #1299
I think we could handle this just using reflection. For our proprietary RPC, we already have utility code (named `ServiceReflection`) for invoking static methods that are generated on the old proto service classes (those generated directly by protoc). For example, methods like `newStub` and `getDescriptor`.

This capability was dealt with in the old service code (generated by protoc) via the `Serv

[2016-01-13 22:50] zhangkun83 commented on #1312
Question translated: If I deploy multiple servers on multiple machines, how should a client use these servers with load-balancing?

Answer:
You will want to take a look at the `NameResolver` `LoadBalancer` interfaces. They are experimental at this point, and there aren't yet any practical implementations besides the bare-bone `DnsNameResolver`. However, you can create your own `NameResolver` and `

[2016-01-13 22:50] #1312 closed

[2016-01-14 12:40] orian commented on #1216
When this happens, the thrown exception is: `io.grpc.StatusRuntimeException: CANCELLED`. Please consider to add a way of checking/controling stream queue.

https://groups.google.com/forum/#!topic/grpc-io/tFZo9da__pU

[2016-01-14 18:27] nmittler opened #1319 "BufferingHttp2ConnectionEncoder forgets GO_AWAY received"
The BufferingHttp2ConnectionEncoder needs to remember that a GO_AWAY was received and immediately reject incoming requests.

[2016-01-15 01:59] ejona86 commented on #1299
Ah, I guess I follow along now. That can work.

I'm not sure if I see enough value in `newBindableService`, but `bindService` itself seems like it would work well and not cause any trouble. It would also improve the construction patterns with and without injection.

I think the push to have an interface (i.e., `MyService`) was why we didn't consider this before.

[2016-01-15 23:22] carl-mastrangelo commented on #1216
Is this still happening / was this ever resolved?

[2016-01-15 23:39] orian commented on #1216
It's happening with a: `io.grpc:protoc-gen-grpc-java:0.9.0`

[2016-01-16 00:00] ejona86 commented on #1061
Interop is a key feature and is tested [continuously](https://grpc-testing.appspot.com/job/gRPC_interop_master/).

I just tested java->cpp and cpp->java (java master ↔ cpp master, java 0.9.0 ↔ cpp master, java 0.9.0 ↔ cpp 0.11.0) without any issues. The java and cpp clients compiled without needing to modify any files. I'm not sure what would have caused sayHello() to hang. Maybe it could have bee

[2016-01-17 02:55] matthild opened #1325 "GRPC with TLS mutual authentication: Server accepts untrusted client certificate"
A Java GRPC server configured to require client authentication appears to accept client certificates issued by CAs that the server does not trust. If so, this is a dangerous security vulnerability.

Here is [a minimal project that reproduces the problem](https://github.com/matthild/reproduce_tls_bug).  Curiously, pretty much exactly the same code works correctly when part of the grpc-java reposito

[2016-01-17 11:05] zhongql commented on #172
i just use eclipse + maven in mac to develop, first define .proto file and mvn compile ,generate gRPC code in target/generated-sources ,i manually copy this files to /src/generated,and writing a client in /main/java, but it don't work, without gradle, how to building, i looked in their readme and Java tutorial ,but also have no idea how to do this for my own client/server

[2016-01-19 13:07] ejona86 commented on #172
I talked with @zhongql via email and got them working. There was no need to copy the generated files to src/generated.

[2016-01-20 00:20] ejona86 commented on #1311
The page I was referencing was [SECURITY.md](https://github.com/grpc/grpc-java/blob/master/SECURITY.md).

[2016-01-20 00:20] #1311 closed

[2016-01-20 13:50] gubby commented on #1311
Agreed, this was me not reading the SECURITY.md page properly.

Is there a way I can contribute to make this easier for end users? You mentioned a Jumbo JAR, presumably (depending on licensing) one implement a native library hack whereby on startup something spits out an openssl .so/.dll (etc) to /tmp and then loadLibrary() from there?

[2016-01-20 17:54] ejona86 commented on #1311
@gubby, the hack you mention is already in place with tcnative. The Jumbo JAR idea is to include multiple .so/.dll so that on startup tcnative could choose the one that is appropriate for the platform. If that interests you might take a look at [the issue for it](https://github.com/netty/netty-tcnative/issues/24).

Combined with static linking it would greatly improve deployment ease, at some expe

[2016-01-20 21:42] ejona86 opened #1330 "Receiving ClosedChannelException instead of actual error"
We aren't reporting a helpful error in very simple connectivity cases, like the server port is closed. Here is what it looks like when using the interop client against a non-existent server:

[code]

It seems the problem may also impact other, much harder to diagnose, issues like client certificate validation (like in #1327).

[2016-01-21 15:38] nmittler commented on #1319
Closing this in favor of the solution in #1331.

[2016-01-21 15:38] #1319 closed

[2016-01-21 16:18] matthild commented on #870
A word of warning: It appears that in some environments [the GRPC server accepts untrusted client certificates](https://github.com/grpc/grpc-java/issues/1325).

[2016-01-21 18:30] ejona86 commented on #1325
I don't believe the server is accepting the client's certificate. Instead, I believe that the server configuration to require a client cert is not functioning. I see the same behavior if the client doesn't provide any client certificate.

[2016-01-21 18:37] matthild commented on #1325
Hm, interesting -- thanks. One data point is that the `noClientAuthFailure` test added in PR #1327 passes, so the server configuration to require a client cert can function in some situations, at least.

[2016-01-21 23:00] JoostvDoorn opened #1333 "Error in java grpc files generated by compiler"
I am generating protocol buffer code with the following command:
[code]
I get the following error in Intellij.
[code]
Protofile:
[code]
The dependencies I use are:
grpc-all-0.9.0, guava-18.0, protobuf-java.3.0.0-beta-2 (I also tried guava-19 and beta 1)

Also see the generated files:
https://gist.github.com/JoostvDoorn/c69f14a485144276545b

[code]

[2016-01-22 03:34] ejona86 opened #1335 "Investigate whether tcnative is being enabled on Jenkins Windows build"
Context: https://github.com/grpc/grpc-java/pull/1334#issuecomment-173794785

[2016-01-22 06:53] matthild commented on #1325
In light of the fix in PR #1334, it seems that you are right.

I looked a bit deeper into what's happening here. Calling `clientAuth(ClientAuth.REQUIRE)` ultimately causes `ClientAuth.REQUIRE` to be propagated to Netty's `OpenSslEngine` constructor, which [stores `ClientAuth.REQUIRE` in the `clientAuth` member](https://github.com/netty/netty/blob/6a93f331d3b12bbebcb2b6c2f65fd4ee00a134ea/handler/sr

[2016-01-22 15:28] nmittler commented on #1325
FYI @Scottmitch @normanmaurer (from Netty)

@matthild good catch, and thanks for investigating!

Looks like a pretty easy fix. I can roll a PR if that's easier for you ... either way.

[2016-01-22 15:31] normanmaurer commented on #1325
@nmittler this was already fixed:

https://github.com/netty/netty/commit/eb577c5bd9ff4986ce4fe9e18acde9b0de6b2097

;)

[2016-01-22 15:54] nmittler commented on #1325
@normanmaurer even better! Has that change been released?

[2016-01-22 15:55] normanmaurer commented on #1325
@nmittler nope...today :)

[2016-01-22 15:56] nmittler commented on #1325
@normanmaurer sounds good!  I'll upgrade grpc as soon as it's available.  Thanks!

[2016-01-22 16:29] ejona86 commented on #1325
@normanmaurer, thanks! And I didn't see the bug when I looked at OpenSslEngine because it was already fixed on master! (I was looking at those same lines)

[2016-01-23 02:11] alugowski opened #1342 "memory leak in io.grpc.internal.TransportSet"
We experienced an issue where our grpc-java clients filled up their heaps and the entire cluster went down. The cause appears to be a list of futures in io.grpc.internal.TransportSet. 5 of these sets would consume 47% of a 30GB heap. The cluster was running without issue for a month.

Context: Our clients each make about 10,000 requests/s to a cluster of 80 servers. The problem began when the clus

[2016-01-23 02:20] carl-mastrangelo commented on #1342
Is it possible there are some very long lived connections?  The only hash map in MCI that would fill that roll is the transport set, which should be pretty small, and clean itself up after a transport has shutdown.

@zhangkun83 thoughts?

[2016-01-23 02:22] alugowski commented on #1342
@carl-mastrangelo the TransportSet is the one that filled up.

[2016-01-23 02:28] alugowski commented on #1342
More precisely, the TransportSet itself has small cardinality, but it contains a very long linked list.

[2016-01-23 02:34] carl-mastrangelo commented on #1342
It seems like TransportSet was changed on December 9th.  Can you confirm if you are running with https://github.com/grpc/grpc-java/commit/7ce50f76c75407d94b28cefbfa42bc0680ce7c60 in your clients?

[2016-01-23 03:52] ejona86 opened #1343 "Deadline can fire before stream started"
In [ClientCallImpl](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/ClientCallImpl.java#L249) the deadline is scheduled before `stream.start()`. However, if the deadline has already elapsed the runnable will be executed immediately and race with the `start`. I've only looked into how OkHttp may be impacted.

I believe [a NullPointerException](https://github.com/gr

[2016-01-23 04:07] carl-mastrangelo commented on #1343
Hmmm, If the stream is cancelled before it is started, it should buffer the cancellation until start is called.  It should always be safe to call cancel, iirc.

[2016-01-23 05:39] zhangkun83 commented on #1342
I have found an issue which is probably the cause. In `ClientCallImpl.start()`, if the transport is not ready, we register a `StreamCreationTask` to the transport future, which originates from `TransportSet`. When the call gets cancelled because of exceeding the deadline, the callback doesn't get removed. Util the transport becomes available, callbacks get accumulated.

Because `ListenableFuture`

[2016-01-23 06:00] alugowski commented on #1342
@carl-mastrangelo we do not have that commit. It looks like my latest commit is 82a79d8f93f7466138dd05c1ca593f837e7699bb from Dec 7.

@zhangkun83 We do see a lot of errors and GOAWAYs in the logs. Our connections are typically long-lived; on the order of days. Usually the clients are restarted, this was a special occasion that the servers were.

For our use case, if the transport is not ready we'd

[2016-01-23 06:02] alugowski commented on #1342
Or cap the size of that queue and drop requests if the queue is full?

[2016-01-23 06:19] zhangkun83 commented on #1342
This is what I was talking about in my previous comment. The Guava futures framework doesn't  provide an API to remove the callbacks or cap the number of callbacks, thus we have to do by ourselves in gRPC. While I will surely work on it next week, it doesn't seem to be a trivial change.

Before we fix the issue, you can work around it by capping the number of retries in a row. For example, if you

[2016-01-23 07:11] alugowski commented on #1333
Just a guess:

proto2 and proto3 are incompatible. GRPC uses proto3.

[2016-01-23 07:27] alugowski commented on #1342
Thank you very much for looking into it! Much appreciated!

[2016-01-23 09:58] JoostvDoorn commented on #1333
From the documentation:

[2016-01-23 15:40] ejona86 commented on #1343
I would agree that is how the interface is, but it also is broken in all the transports due to both failure to handle the case and lack of synchronization.

`transportReportStatus` doesn't handle `null` listener. `AbstractClientStream.start` isn't synchronized when setting the listener. Netty [will NPE](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/netty/NettyClientHand

[2016-01-23 16:33] ejona86 commented on #1333
@JoostvDoorn, hmm... I see parser() in both protobuf 3.0.0-beta-1 and beta-2, both proto2 and proto3 syntax. However, looking at the gRPC-generated code, it looks like you are using an older `protoc-gen-grpc-java` (pre-v0.9.0). [Update it to v0.9.0](http://search.maven.org/#artifactdetails%7Cio.grpc%7Cprotoc-gen-grpc-java%7C0.9.0%7CN%2FA) and the "has private access" errors will definitely go away

[2016-01-23 20:48] zhongql opened #1344 "can put the service instances on different ports?"
i want to  create  gRPC server in python with client in java , and start up multiple service instances on different ports, can  it work ? and the client how to support  different ports ?

[2016-01-23 21:11] ejona86 commented on #1344
Generally we would expect you to run multiple services on the same port, as long as they are in the same process. But yes, there is an issue with python: grpc/grpc#4418.

For dealing with multiple ports in Java, instead of doing:
[code]

Just do:
[code]

Where 1234 is the appropriate port number you want to connect to.

[2016-01-24 03:30] zhongql commented on #1344
Oh, so great , but the  ManagedChannelBuilder.forTarget is a ExperimentalApi, temporarily can't use ?

[2016-01-24 12:51] JoostvDoorn commented on #1333
@ejona86 Thanks, this seems to fix all the issues I have with the example. I did notice another thing that having the same name for the proto file as the package name does generate problems.

[2016-01-24 12:51] #1333 closed

[2016-01-24 15:11] emmenlau opened #1345 "grpc 0.12.0 with protobuf-3.0.0-beta-2 ?"
I've compiled grpc 0.12.0 with protobuf-3.0.0-beta-2 as suggested in a recent git issue, and as in https://github.com/grpc/grpc/commit/f4c74fa6cdf306977181620ce802214317f397d6. Now grpc-java 0.12.0 does not compile anymore as it seems to require explicitly protobuf-3.0.0-beta-1?
[code]

[2016-01-24 20:51] ejona86 commented on #1344
Oh, you're right, it is still experimental. Honestly, that particular API is unlike to change much. But there is also 'ManagedChannelBuilder.forAddress(String name, int port)' which is stable.

[2016-01-25 03:47] ouyangkongtong opened #1346 "../gradlew java_pluginExecutable fatal error"
hi，
environment：
java version "1.7.0_79"
Mac OS X 10.10.5
Gradle 2.10
protobuf version 3.0

I have configured  'export CXXFLAGS="-I/usr/local/protobuf-3.0.0-beta-2/include" LDFLAGS="-L/usr/local/protobuf-3.0.0-beta-2/lib"'  in the ~/.bash_profile file：
![image](https://cloud.githubusercontent.com/assets/2417403/12542025/e1651226-c358-11e5-8e2e-1b47abb5f1e9.png)

fatal error info：
![image](https://

[2016-01-25 05:08] zhongql commented on #1344
ok, thank you very much

[2016-01-25 05:09] #1344 closed

[2016-01-25 05:27] ejona86 commented on #1346
Just in case you aren't aware, building the plugin is generally not necessary since we have releases of the plugin binary on Maven Central and you can build gRPC itself with -PskipCodegen=true (see the first section of [COMPILING](https://github.com/grpc/grpc-java/blob/master/COMPILING.md)).

I'm not sure why it can't find the header. Can you verify that the file `/usr/local/protobuf-3.0.0-beta-2/

[2016-01-25 16:48] carl-mastrangelo commented on #1345
Could you rerun with --stacktrace?   That nag about 3.0.0-beta-1 is there by default I believe.

[2016-01-25 17:58] ejona86 commented on #1335
https://grpc-testing.appspot.com/job/gRPC-Java-PR-Windows/469/console
[code]

[2016-01-25 18:29] nmittler opened #1355 "GOAWAY with OK maps to INTERNAL"
HTTP/2 graceful shutdown starts with a GOAWAY with code OK.  We currently map that to a `INTERNAL`, which would not imply that clients should attempt a retry.  We should change this to `UNAVAILABLE`.

[2016-01-25 21:11] emmenlau commented on #1345
Thanks for the quick reply. I compiled not with 3.0.0-beta-1 and the nag stays. Here is a bit more text:
[code]

[2016-01-25 21:20] emmenlau commented on #1345
Ok now the error message brought me onto a good track! Everything seems to work after downgrading gradle from version 2.10 to 2.8!

[2016-01-25 21:20] #1345 closed

[2016-01-25 21:21] carl-mastrangelo commented on #1345
FYI, you can run the ./gradlew script which uses the correct version.

[2016-01-25 21:25] #1343 closed

[2016-01-26 00:09] carl-mastrangelo opened #1358 "Overload ProtocolNegotiator.newHandler to accept an authority."
In the case of a load balanced channel, there is a need to provide a possibly different authority to the backend than the load balancer.  It looks like  ProtocolNegotiator.newHandler would be a good place to add this functionality.

[2016-01-26 01:18] ejona86 commented on #1061
0.12 was just released. Please reopen if it still doesn't work for you.

[2016-01-26 01:18] #1061 closed

[2016-01-26 01:22] ejona86 commented on #1296
I hadn't noticed that there was [`remove()`](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/BlankFutureProvider.java#L81) as well, so using a `List` doesn't make as much sense.

[2016-01-26 01:22] #1296 closed

[2016-01-26 15:52] ouyangkongtong commented on #1346
1、It has been based on [COMPILING](https://github.com/grpc/grpc-java/blob/master/COMPILING.md) setting
2、I verify that the file `/usr/local/protobuf-3.0.0-beta-2/include/google/protobuf/io/zero_copy_stream.h ` exists
![aa8bb8bf-24de-421f-b10a-463654e24af6](https://cloud.githubusercontent.com/assets/2417403/12585263/2a830124-c486-11e5-95c6-3fd336371c5d.png)

3、i add setting `LD_LIBRARY_PATH=/usr/lo

[2016-01-26 18:45] ejona86 opened #1359 "Netty should call transportShutdown on GOAWAY"
This will cause `TransportSet` to divert new traffic away from the transport which would prevent many failed RPCs.

[2016-01-26 19:50] ejona86 opened #1360 "POM missing for protoc-gen-grpc-java"
For 0.12.0 it was manually deleted (because it was causing errors; probably because it is wrong), but it was missing already for 0.9.1. It may be because we upgraded from gradle 2.3 to gradle 2.8.

[2016-01-26 20:46] #461 closed

[2016-01-27 00:18] ejona86 commented on #1241
0.12.0 is now released (it was originally going to be named 0.10).

[2016-01-27 00:18] #1241 closed

[2016-01-27 00:19] ejona86 commented on #1164
Haven't seen this recently. Closing.

[2016-01-27 00:19] #1164 closed

[2016-01-27 00:21] ejona86 commented on #853
Closing due to no reply. A lot has happened on the SSL/TLS front; using a newer version is highly recommended.

[2016-01-27 00:21] #853 closed

[2016-01-27 00:27] ejona86 commented on #449
This was decided against, due to the synchronization required even when not using the feature. The synchronization is commonly occurring anyway in the ExecutorService being used, so waiting for a application-provided ExecutorService to shutdown is a pretty easy workaround.

[2016-01-27 00:27] #449 closed

[2016-01-27 00:29] ejona86 commented on #339
I would still like to see this happen, but I haven't been able to get support from others.

[2016-01-27 00:35] ejona86 commented on #305
A lot has happened on this front in both Netty and gRPC. There is now a WriteQueue in gRPC that reduces the number of times we flush. The http/2 code in Netty now has clearly defined flush model such that it no longer flushes itself (there may be one edge case). Also #502 has batch API discussion which turned into corking PR #996.

There doesn't seem to be a need for this issue any more. If shortc

[2016-01-27 00:35] #305 closed

[2016-01-27 00:41] ejona86 commented on #1346
The point of `skipCodegen=true` is to _avoid_ building `java_pluginExecutable`. When using `skipCodegen=true` you would just try to build grpc as a whole with `./gradlew build`.

I think I see the problem though. In the most recent screenshot of your `.bash_profile` I see two lines at the end:
[code]

That last line will overwrite variables set on the protobuf line. Instead, you need something lik

[2016-01-27 00:50] ejona86 commented on #985
Let's consider this a doc bug to make it more clear what Throwables are generally expected to be received.

[2016-01-27 01:00] ejona86 commented on #1216
What's necessary here is a "bridge" between the `StreamObserver` API and the more advanced underlying APIs. Another possible solution is #339 and swapping to the advanced apis directly.

Leaving this open until we have such a bridge, which is currently is discussion.

[2016-01-27 03:03] ouyangkongtong commented on #1346
That is the question，setting `CXXFLAGS `、`LDFLAGS ` question.
thanks @ejona86 ~~~

[2016-01-27 03:03] #1346 closed

[2016-01-27 19:11] #1355 closed

[2016-01-27 19:33] ejona86 opened #1367 "Update to Netty 4.1.0CR1"

[2016-01-27 19:55] alugowski commented on #1342
We've had this problem come up several more times in the last few days, so we were forced to disable grpc and go back to our old inferior messaging system until we can fix the root cause. Can I offer any more data/help in the fix?

[2016-01-27 20:35] zhangkun83 commented on #1342
Thank you, but we don't need anything from you at this moment. We have a proposal of refactor that may fix this problem nicely. It's not a small change. Hopefully we will see some progress by the end of next week.

[2016-01-27 20:44] alugowski commented on #1342
Thank you!

[2016-01-28 19:09] bobymicroby commented on #339
:+1 for the The "advanced" interface

[2016-01-28 19:20] jtattermusch opened #1370 "Failing to build java interop image"
Seems like some of the in-process interop tests are executed during the java build and they are failing.

https://grpc-testing.appspot.com/job/gRPC_interop_master/2635/consoleFull

[2016-01-28 19:36] bobymicroby commented on #1216
I've hit the same wall...
[code]

:+1:  for #339

[2016-01-29 01:14] #1370 closed

[2016-01-29 18:36] ejona86 commented on #1303
The spec was changed to support percent-encoding special characters. #1313 is tracking implementing the change which would prevent the error seen here.

[2016-01-29 18:36] #1303 closed

[2016-01-29 18:38] ejona86 commented on #1325
This should be solved by #1367, but I'll leave it open as a reminder to remove the assume()s in TlsTest so that it will be verified in the unit tests.

[2016-01-29 21:25] zhangkun83 commented on #1277
@unlikely-leo is this reproducible on 0.12.0?

[2016-01-29 21:32] zhangkun83 commented on #1116
@zsurocking any progress?

[2016-01-29 21:40] zhangkun83 commented on #263
@carl-mastrangelo can you update this issue if it's already fixed?

[2016-01-29 21:54] carl-mastrangelo commented on #263
Fixed as a side effect of 4b18f49330cfaf439b354bf0e9d74298db422fc2

[2016-01-29 21:54] #263 closed

[2016-01-30 01:18] #1360 closed

[2016-01-30 01:56] carl-mastrangelo commented on #1367
Fixed in #1374

[2016-01-30 01:56] #1367 closed

[2016-01-30 01:57] carl-mastrangelo commented on #1325
Is there anything more to do here, now that #1367  is fixed?

[2016-01-30 01:59] ejona86 commented on #1325
Yes, delete `Assume.assumeTrue(sslProvider != SslProvider.OPENSSL);` in `TlsTest` from the tests `serverRejectsUntrustedClientCert` and `noClientAuthFailure`.

[2016-01-30 22:53] ejona86 commented on #1325
Fixed by #1376

[2016-01-30 22:53] #1325 closed

[2016-02-01 19:40] carl-mastrangelo commented on #24
@ejona86  any more context on what is needed here?  AbstractServerStream doesn't have tons of code, and tests were added in #892.  Can I close this out?

[2016-02-01 19:42] carl-mastrangelo commented on #622
Closing this out as infeasible.

[2016-02-01 19:42] #622 closed

[2016-02-01 20:52] ejona86 commented on #24
Yeah, those tests are fine.

[2016-02-01 20:52] #24 closed

[2016-02-01 21:16] carl-mastrangelo opened #1378 "Audit which APIs should stay experimental"
A lot of methods have been marked Experimental API.  We should go over what methods should become standard before doing our GA release.

[2016-02-02 06:04] saintstack commented on #1054
"Would a shaded proto3 runtime help ?"

We could shade, yeah. Would our 2.5 clients be able to talk to a 3.0 server?

Any movement here or something to try?

Our new stumbling block is CodedOutputStream. We have a DirectByteBuffer whose data is offheap and we want it to stay offheap. COS does not support ByteBuffer in 2.5. In 2.6 it does but insists on copying data from the offheap DBB on heap.

W

[2016-02-02 06:25] tsuna commented on #1054
Forking, ouch.  What sorts of arguments does the open-source community need to put forward to convince the protobuf-java maintainers that this issue needs to be tackled upstream?

[2016-02-02 10:36] unlikely-leo commented on #1277
@zhangkun83 yes, I just updated the dependency to 0.12.0 and saw the same error message again.

[2016-02-02 15:57] nmittler commented on #1054
@saintstack work is underway to support zero-copy for `ByteBuffer`. The first part is just adding [wrapping support](https://github.com/google/protobuf/blob/master/java/core/src/main/java/com/google/protobuf/UnsafeByteOperations.java#L55), which is already available on master.

Adding zero-copy support for `ByteBuffer` to `CodedOutputStream` is coming soon.  Stay tuned.

Agree with @tsuna  ... yea

[2016-02-02 16:10] saintstack commented on #1054
That doesn't look bad @nmittler  Would it be proto3 only?

[2016-02-02 16:28] nmittler commented on #1054
@saintstack I don't believe so.  `UnsafeByteOperations` should be in the next release. @pherl does that sound right?

[2016-02-02 18:02] #1225 closed

[2016-02-02 18:34] pherl commented on #1054
Yes. UnsafeByteOperations will be in the next release, and is currently available in master already.

[2016-02-02 18:36] carl-mastrangelo opened #1380 "Add header logging to calls"
To make debugging easier, there should be some way to log metadata that comes with Client Calls, and possibly Server calls.

[2016-02-02 19:35] emmenlau commented on #1061
Dear ejona,
somehow I don't get this. Could you *please* help to clarify? Not even the *proto* files for the helloworld-example between grpc-0.12.0 and grpc-java-0.12.0 are similar. The files don't have the same name, and they don't have the same content. In Java, rpc SayHello (HelloRequest) returns (HelloResponse), in C++ it returns (HelloReply). I've asked about this before, can you clarify why

[2016-02-02 19:36] emmenlau commented on #1061
Thanks for your great work! But please help. Can you reopen the issue?

[2016-02-02 19:37] enis commented on #1054
UnsafeByteOperations is great.

At least one issue that Stack above describes is that we want our RPC buffers to be off-heap DBBs. The data that is in the sidecar can be decoded by us nicely, but the RPC call header, etc are in PB so we have to decode that as well using CodedInputStream. In this case, the CIS backed by NIOByteString still allocates a byte[] on-heap and does the whole-copy:
https:/

[2016-02-02 19:41] ejona86 commented on #1061
@emmenlau, did you try again with 0.12?

While it is unfortunate that the proto files are different, they are actually compatible. The package is the same, the service name is the same, the method name is the same, and the messages have the same fields. I would expect it to work, and I've seen it work.

As I said before, you shouldn't need to modify the protos at all to compile. Have you been able

[2016-02-02 19:46] emmenlau commented on #1061
Hi! Well I can not even compile, this is the problem. Against which proto file should I compile? Java does not compile against C++ proto, and C++ does not compile against Java proto. I can not make an API with different function definitions, so I'm stuck before the start.

[2016-02-02 19:53] ejona86 commented on #1061
The differences in the proto files are mostly cosmetic. In your own service you can ensure that you use the same proto file, but the proto file differences really shouldn't be a problem; just leave the proto files as-is in each repo and it should work. If you try to change the proto files to match then yes, it will not compile because the class names will have changed.

I completely agree that hav

[2016-02-02 19:55] emmenlau commented on #1061
I understand you say the examples are different but compatible. But this really breaks what I want to do. I need an example with *one* proto file that defines the API functionality, and a server and client I can compile against this proto file. Even if it works what you suggest, what would it help? Eventually I need to make the changes to get the two examples in sync, and this is what breaks funct

[2016-02-02 19:58] emmenlau commented on #1061
BTW, I think this is what most people need from interop, so I think fixing the example would not be in vain. And with 0.11 I tried getting Java and C++ in sync and failed for several hours. Maybe stupid mistake by me, or maybe broken? I guess you can do it in 5 min, can you please try?

[2016-02-02 20:06] saintstack commented on #1054
What @enis said.

It'd be a CIS that can read from the DBB w/o bringing it on heap (and does not do a byte-at-a-time reading out of the backing DBB but reads longs and words at a time when it can). Need same in COS.

I can try it out np.

[2016-02-02 20:08] nmittler commented on #1054
@enis ... Nothing right now is planned for `CodedInputStream` (only `CodedOutputStream`). However, we do plan to look into zero-copy reads after we finish up zero-copy writes.

PRs are always welcome if you don't want to wait :)

[2016-02-02 20:45] carl-mastrangelo commented on #1061
@emmenlau what are you trying to do?  The two proto files are API compatible, so the only way I could imagine something going wrong is with generating Java stubs from the C++ example proto, or C++ stubs from the java one.  The examples are intentionally simple, and specific to the language.  It would be confusing to have java options in the grpc repo when no java stubs will be generated from them.

[2016-02-02 20:47] ejona86 opened #1381 "hello_world.proto in Java differs from copy in main repo"
In the grpc repo it is at examples/protos/helloworld.proto . Most importantly the response is HelloReply in one and HelloResponse in the other.

[2016-02-02 20:54] trask commented on #1277
I'm seeing leaks as well (using both 0.9.0 and 0.12.0).  I posted a simple (if not very realistic) repro here https://github.com/trask/grpc-netty-leak-repro.  Just clone and run `mvn test`.  Sample output:

[code]

[2016-02-02 20:54] emmenlau commented on #1061
Hi @carl-mastrangelo. I understand you want to keep examples simple. But in the helloworld example in Java, rpc SayHello (HelloRequest) returns (HelloResponse), in C++ it returns (HelloReply). Why?

[2016-02-02 20:59] ejona86 commented on #1061
I've created #1061 for syncing helloworld.proto.

[2016-02-02 21:00] carl-mastrangelo commented on #1061
An unfortunate piece of history?  Here is a more important question: does it matter?  The examples do work.  I have always viewed the examples directory as specific to the language, and the interop tests specific to the protocol.  If you want a piece of code showing interoperation between languages, why not use the one we designed and continuously test, as Eric mentioned above?  It's here https://

[2016-02-02 21:03] emmenlau commented on #1061
But this is *exactly* my point! For me, it is not easy to understand! The proto files have different names, different return values, different internal definitions between languages. Its not useful for someone that wants to develop interop. I see it is easy for you, but believe its not easy for me. How do I merge them?

[2016-02-02 21:04] emmenlau commented on #1061
Could you make one helloworld-example that works out of the box interop, in a way how one would program correctly and cleanly with grpc (so with a *single* proto file)?

[2016-02-02 21:07] carl-mastrangelo commented on #1061
I think your misunderstanding is with the intent of these directories.  hello world needs to be the simplest possible working thing, which does in fact work with itself.

 You are trying to do something more complicated, and upset that it doesn't work.  Could you please detail what it is exactly that you are trying to do?  If you don't tell us, it's going to be hard for us to see a problem.

[2016-02-02 21:15] emmenlau commented on #1061
But in what way is it easier to understand the functionality of interoperability based on the helloworld-examples you propose, compared to one that would be consistent in the function signatures? You seem unhappy about my proposal to synchronize them. I am confused as to why the inconsistency is preferable? Can you elaborate where my misunderstanding might be? I was understanding that helloworld-e

[2016-02-02 21:15] ejona86 commented on #1061
I just merged in #1382 which syncs the biggest change, HelloResponse vs HelloReply, as well as some smaller bits. It should be possible to use Java's helloworld.proto now in C++ and it work. I'm leaving #1061 open until I sync the java-specific options to grpc/grpc or I get rid of them or it's deemed unnecessary.

[2016-02-02 21:16] emmenlau commented on #1061
Thanks a lot @ejona86 , I will test it right away!

[2016-02-02 21:26] ejona86 commented on #1277
@trask, that was _really_ helpful. I think I know what is going on. Thank you!

However, I think it may be a different bug than @unlikely-leo.

[2016-02-02 21:33] ejona86 commented on #1277
@trask, I take it back. :( I'm not sure what the problem is; something more subtle is going on. However, being able to easily reproduce should still help debugging a lot.

[2016-02-02 22:03] enis commented on #1054
Great. I think we (in HBase community) can come up with the PR for CIS over BB / BS.

[2016-02-03 09:28] anoopsjohn commented on #1054
Thanks..  Ya we need COS also to work with DBB with zero copy.   Happy to work on CIS part.

[2016-02-03 15:25] nmittler commented on #1054
@enis @anoopsjohn sgtm. I'm hoping to have to COS work sorted out soon, which might help provide some direction for CIS  ... we'll see :)

[2016-02-04 00:03] emmenlau commented on #1061
Thanks a lot for your work @ejona86 ! Its working for me now! Awesome!

[2016-02-04 00:13] ejona86 commented on #1061
@emmenlau, glad to hear it!

[2016-02-04 05:19] ramkrish86 commented on #1054
@nmittler Thanks for the inputs/discussions. We can work on COS based on the direction of COS.

[2016-02-04 21:43] carl-mastrangelo commented on #492
Fixed in a3c79e87ae85205bbdb2ed4de03813760ce755ee

[2016-02-04 21:43] #492 closed

[2016-02-05 17:54] carl-mastrangelo commented on #1237
I've taken a look at this, and there are some questions that need to be answered before moving forward:

* Should we be logging if the executor used is provided from the user?  Would it be presumptuous to log everything the grpc code submits to the executor?
* Several places use the future that comes back from the executor if it is a service of some kind.  Should we still log if we know the error

[2016-02-05 19:15] ejona86 commented on #1237
Yes, I think we should log in this case. It could be presumptuous, but we only have a few callsites that call schedule. And in fact, I don't think we allow users to provide the ScheduledExecutorService anyway.

Really? No, I don't think we should _necessary_ log in that case, but we should make sure that _someone_ is handling the error. I don't actually know anywhere the `future.get()` is being ca

[2016-02-05 20:47] carl-mastrangelo commented on #1237
I ran the following test to check the behavior before writing this:

[code]

It only prints out "BANG!"

[2016-02-05 21:10] ejona86 commented on #1237
@carl-mastrangelo, why do we care about `submit()`? `git grep '\.submit('` didn't show any calls to it.

`execute()` itself is fine, as using it instead of `submit()` prints out:
[code]

Although I do believe [`ScheduledExecutorService.execute` behaves differently](http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/8u40-b25/java/util/concurrent/ScheduledThreadPoolExecutor.java#

[2016-02-08 14:39] unlikely-leo commented on #1277
Could the original problem I reported (leak in `io.netty.buffer.CompositeByteBuf`) be related to https://github.com/netty/netty/pull/4713 which is reported as fixed in the [Netty 4.0.34.Final release notes](http://netty.io/news/2016/01/29/4-0-34-Final.html)?

[2016-02-08 16:54] Scottmitch commented on #1277
@unlikely-leo - netty/netty#4713 was focused more on making the leak detection for `CompositeByteBuf` objects follow the same paradimn as other buffer types. I don't believe this PR itself fixed any leaks.

[2016-02-08 23:22] ejona86 opened #1398 "Update to netty-4.1.0.CR2 for SNI fix"
We want this:
https://github.com/netty/netty/commit/e220c568232fe9b479e3ac7a5b66f5a97dcc2c39

We are hitting the SNI problem (netty/netty#4746) with tests on GCE.

[2016-02-08 23:44] ejona86 opened #1399 "Interop's deadlineExceeded test is flaky"
[code]

As seen on OS X Travis (since rebuilt):
https://travis-ci.org/grpc/grpc-java/jobs/107847923

[2016-02-09 09:04] unlikely-leo commented on #1277
Thanks @Scottmitch!

[2016-02-09 20:01] ejona86 commented on #1398
Due to netty/netty#4856, CR2 isn't probably going to work for us. Bumping to a later grpc release and we'll wait until there is another Netty release.

[2016-02-09 23:31] erimatnor opened #1400 "DNS: use Netty's asynchronous DNS resolver"
The current Netty-based transport doesn't use Netty's asynchronous DNS resolver, which means the client hangs if hostnames cannot be resolved. This is really bad if you are reusing an eventloop from other parts of a program and this eventloop is not supposed to block. gRPC should at least expose the necessary APIs to be able to override the default DNS resolver.

[2016-02-10 00:00] carl-mastrangelo commented on #1400
I see a possibility of it hanging if an error unrelated to resolution happens inside the resolver, but I don't think a bad host name would cause this.  DnsNameResolver can be overridden when constructing the channel.

[2016-02-10 00:20] ejona86 opened #1401 "ProtocolNegotiators leaks ByteBufs on failure"
As reported by @trask in #1277 with repro repo at https://github.com/trask/grpc-netty-leak-repro. The key distinguishing feature is `BufferUntilChannelActiveHandler` in the log here:
[code]

When looking at the code, it is obvious it doesn't release when it fails the promise. This leak only happens when failing to establish a connection to the server.

[2016-02-10 00:22] ejona86 commented on #1277
@trask, I've found and have a fix for the bug you found (not yet send a PR though). I'm very confident it is a different issue than reported by @unlikely-leo, so I've filed #1401 to track it. This issue will remain for the leak @unlikely-leo reported.

[2016-02-10 00:59] ejona86 commented on #1277
@unlikely-leo, from looking at your report, it does seem like the bug would be in Netty since it doesn't seem gRPC ever observes the buffer being leaked. That said it looks like it may not even be a problem with HTTP/2. Something funny does seem to be going on.

Are you using the gRPC defaults for Netty channels and event loops? Also, how frequent is this problem? It seems you were able to reprodu

[2016-02-10 05:04] ejona86 commented on #1400
The current DNS name resolver does _not_ block any event loop. Instead, it uses another thread:
https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/DnsNameResolver.java#L90

The executor used is semi-private. Users can't access it directly, but user work does get scheduled to it. But it is also created via Executors.newCachedThreadPool, so the behavior is similar to just creat

[2016-02-10 07:50] jhspaybar opened #1403 "Access unparsed data in interceptor?"
I'd like to make a caching interceptor that uses the raw binary of the message as a key, and the raw binary of a response as the value so that I can avoid any ser/der costs on the server.  Is it possible to get access to the InputStream that goes through the Listener before it calls "call.method.parse(inputStream)" ?

Maybe there's a different/better way to do this and avoid serialization costs?

[2016-02-10 11:22] erimatnor commented on #1400
@ejona86 Looking at the code, it appears that you are right that the DNS resolver isn't blocking the client eventloop. Still, it is blocking the shared executor, which I guess is fine because it is a cached thread pool.

In any case, I am seeing the client hanging for a long time if no DNS is available or hosts cannot be resolved. Since the standard resolver is using plain Java DNS resolution this

[2016-02-10 11:26] erimatnor commented on #1400
@ejona86 btw, I think you are wrong that Netty's DNS resolver doesn't support UDP.

http://netty.io/4.1/api/io/netty/resolver/dns/DnsNameResolverBuilder.html#channelFactory(io.netty.channel.ChannelFactory)

Also, FYI. I was able to implement an alternative DnsNameResolver with a Netty backend that has nicer behavior. So, definitely good that you can override the default resolver at least.

[2016-02-10 16:44] carl-mastrangelo commented on #1403
Not ideal, but could you put the caching logic in the MethodDescriptor?  I believe you can hook the InputStream -> ReqT conversion logic there.  Would that work?

https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/MethodDescriptor.java#L55

[2016-02-10 17:39] #1401 closed

[2016-02-10 18:05] #875 closed

[2016-02-10 18:10] jhspaybar commented on #1403
I had considered that, but it seems that the ServerCallImpl gets instantiated with a MethodDescriptor I can't modify to swap out the marshaller.  I suspect I'd either need to change code-gen to plug in my marshaller very early, or use reflection in an interceptor to change the private field holding the MethodDescriptor in the ServerCallImpl.  Maybe as an aside, it's possible for an interceptor to

[2016-02-10 18:41] ejona86 commented on #1400
Leaving this open as a feature request. We don't necessarily have to have the Netty-based DNS resolver as the default.

Hmm... That would be nice, although it is quite hard to describe precisely. If the timeout is 1ns, then blaming DNS isn't quite appropriate. I'd believe there is work to do here still, including tuning the DNS timeout.

Oh, that's interesting and good to know. I'll have to look a

[2016-02-10 20:09] carl-mastrangelo opened #1407 "Name resolution failures can cause the call to hang."
If an exception is thrown from NameResolver.Listener.onUpdate(), the call hangs indefinitely and is never closed.  This is a problem if the actual name resolution succeeds, but is not successfully set.

[2016-02-10 20:28] carl-mastrangelo commented on #1403
@ejona86 have any ideas on how this could be accomplished?

[2016-02-10 20:52] #1381 closed

[2016-02-11 00:49] ejona86 commented on #1403
I think you are forced to ditch normal server interceptors and instead modify the `ServerServiceDefinition` directly. `ServerInterceptors` does modify the definition when calling `intercept()`, but it isn't powerful enough to let you modify the `MethodDescriptor`. You don't need to do any hacks luckily. Instead, you just process the returned definition from `YourServiceGrpc.bindService()` before i

[2016-02-11 00:53] jhspaybar commented on #1403
That does actually make sense!  Thanks for the detailed explanation.  I'd been looking at ServerInterceptors quite a bit already and saw it was modifying stuff...and just didn't put it together, so thanks for hitting me over the head with what should have been obvious. :)

[2016-02-11 01:00] jhspaybar commented on #1403
I should also ask, if I end up making something like a `MethodDescriptorInterceptors` that operates sort of like a `ServerInterceptor` but allows for an earlier interception(like possibly to allow for a different serialization format like flatbuffers, or grpc-json) is it something I should at least open a PR for to get a discussion going?

[2016-02-11 01:23] ejona86 commented on #1403
@jhspaybar, possibly. I'm not quite sure how useful the feature is in general. I would mainly hope that the API is relatively small and that we figure out other use-cases. If it is primarily just this one use-case, I think I'd prefer a utility that just tries to help with caching. If it's easy to open a PR though, we can take a look at the code and try to figure out where to go from there.

I'm no

[2016-02-11 01:41] zhangkun83 opened #1408 "Potential risk of deadlock from calling listeners under locks"
Methods of `ClientTransport.Listener` and `ServerTransportListener` are usually called under a lock. The biggest reason for locking is to guarantee the ordering of multiple methods on the same listener.

However, these listeners usually call into channel layer code, and may in turn acquire locks from there, which forms a `transport lock -> channel lock` lock order. On the other hand, when channel

[2016-02-11 18:29] ejona86 commented on #1403
@jhspaybar, I think I know the rough API I'm leaning toward, if you want to send a PR. In ServerInterceptors, a `byteIntercept(ServerServiceDefinition, ServerInterceptor... interceptors)` method (and I guess a `List<? extends ServerInterceptor>` counterpart). The docs would mention that the type of both requests and responses passed through the interceptors would be `InputStream`, but the intercep

[2016-02-11 18:32] ejona86 commented on #1408
When driving home yesterday I realized: I think we can use `SerializingExecutor` _in addition to_ `ThreadlessExecutor`.

[2016-02-11 21:05] jhspaybar commented on #1403
@ejona86 Sure, I'll take a poke at something like what you've described and try to get something put together within a couple days.

Another thing to keep in mind here, since I think we're getting very close to it is that serialization could happen in interceptors as well.  The API goes downhill from a type safety perspective, but if the input/output was just passed as an Object and started as a r

[2016-02-11 21:16] ejona86 commented on #1403
My main problem with using it for other formats is that the Server implementation will be expecting Protobufs. Yes, you could convert JSON bytes -> Protobuf objects (which could be quite natural if using JSON-encoded Protobuf), but for something like flatbuffers that sort of defeats the point.

For the JSON protobuf case, yes, that could work and be quite helpful. However, it also feels like a bit

[2016-02-11 22:47] ejona86 opened #1411 "Usages of OkHttpClientTransport.toGrpcStatus should add status details about the source of the code"
Right now you can get a status of `INTERNAL: Internal error` which isn't very useful. If it had RST_STREAM in the description though then it would be much more useful.

[2016-02-11 23:12] jhspaybar opened #1413 "Generator assumes packed=true on repeated scalars"
Please see this report for context https://github.com/grpc/grpc/issues/5174

The long story short however is that it seems my server implementation was emitting a packed=true representation of a `repeated int32` field, and NodeJS could not parse it.  Once I added packed=true to the proto definition, Node could begin to read the values returned from my Java server.

[2016-02-11 23:27] jhspaybar commented on #1413
Nevermind...I misunderstood the report on the Node side, it sounds like they are non-compliant and I'll continue working over there.

[2016-02-11 23:27] #1413 closed

[2016-02-13 00:03] zhangkun83 commented on #1342
With #1395 checked in, the memory leak in the case where the client fails to connect to already-resolved server addresses, should have been resolved. @alugowski I think your case falls into this category, so you should no longer have the issue. That change will be in 0.13.0.

However, if the name resolution never succeeds, and the calls keep timing out and being retried, there will still be memory

[2016-02-13 00:57] alugowski commented on #1342
Great!

Other than the usual disclaimers of running master, do you guys see potential roadblocks to using the build now?

If not, I'll start the process of validating this and rolling it out. Unfortunately we've only seen this problem in production, and even there it's transient, so it may be a while before I can say what the effect is for us.

[2016-02-13 00:59] ejona86 commented on #1342
@alugowski, no particular roadblocks to using master at this time. We've planning on releasing on Monday, so what you see now should be very similar to what we release.

[2016-02-13 01:03] alugowski commented on #1342
In that case I'll just wait until Monday. Thanks for your work on this!

[2016-02-13 11:07] rsmilyanov commented on #339
Yep, there are use cases where the advanced interface is needed.
@ejona86, are there any plans to have such interface?

[2016-02-13 11:08] saturnism opened #1414 "add pom.xml to examples/"
Currently there is only gradle build.gralde file.  Add pom.xml please!

[2016-02-13 11:57] IamFive commented on #1414
check https://github.com/IamFive/grpc-maven-sample, maybe that is what u want.

[2016-02-13 12:29] saturnism commented on #1414
+1 but would be better if its part of the examples/ dir
On Sat, Feb 13, 2016 at 12:57 PM woo <notifications@github.com> wrote:

[2016-02-13 12:40] IamFive commented on #1414
I think it's not that easy to create a pom.xml for the examples, the grpc version will changes, but the whole project is build with gradle not maven.

I will create a pull request to see whether they will accept it.

[2016-02-13 13:32] rsmilyanov commented on #779
Hello @ejona86 ,

I want to make a server side user authorization check with server interceptor.
On the example you mentioned above method interceptCall must return a `ServerCall.Listener<Req>` as per the java doc of the interface.

Currently I am calling `call.close(Status.UNAUTHENTICATED, headers)` and returning an empty `ServerCall.Listener<ReqT>`. Client side is being notified onError event an

[2016-02-13 16:29] ejona86 commented on #779
@rsmilyanov, yes, it's fine to return a noop `ServerCall.Listener`. Since you called `close()` already, it's true you don't care much about the callbacks. Note that there may be _other_ interceptors that do care, so they will end up wrapping your listener in a new one that does something (so returning a noop listener isn't completely useless).

The interceptor is _not required_ to call `next`. If

[2016-02-13 16:46] rsmilyanov commented on #779
@ejona86, thanks for your comment.
I will not have any other interceptors - it will be just one interceptor that checks whether the user is logged in or not.

[2016-02-14 11:03] saturnism opened #1419 "move maven-protoc-plugin to maven central"
any reason why some of the components, like maven-protoc-plugin, are in bintray? can this be moved to maven central instead?

[2016-02-14 20:12] stepancheg opened #1420 "gprc-all is published without sources"
[code]

[2016-02-14 20:41] saturnism opened #1421 "different grpc components depends on the same dependencies but of different versions"
This looks quite unsafe.
[code]

[2016-02-14 22:50] stepancheg commented on #72
Any news on the issue? It is super-important for unit-tests. When running unit-tests you need to bind on random port, because otherwize tests occasionally fail giving headaches to developers.

AFAIU, this feature can be implemented easily, it just needs to be decided what API should look like.

I'd prefer `ServerImpl` to have `getPort()` function that returns `0` if server is not listening on `IP`

[2016-02-15 21:07] jhspaybar opened #1425 "Context forwarding between client and server?"
The comments on the Context object aren't completely clear to me what it forwards and does.  For example, here https://github.com/grpc/grpc-java/blob/6e94cf33db75b652b42fae77d36a4bdd55e9a9dd/core/src/main/java/io/grpc/Context.java#L52 the comment says

[code]

I've seen the tests for deadline propagation added recently, but I'm working on a tracing context interceptor, and it isn't clear to me if

[2016-02-16 04:51] trask opened #1426 "Sporadic NullPointerException"
I'm getting this sporadically on slow travis-ci machines.  Haven't seen it on other machines.  My guess is that the listener is being executed before the channel field assignment occurs so channel is null.

[code]

[2016-02-16 15:26] nmittler commented on #1426
Thanks for reporting @trask!

@ejona86 It seems that the [code in `NettyClientTransport`](https://github.com/grpc/grpc-java/commit/6236968d4b176929090a132edd997d17e4a4945d) it seems that the listener shouldn't be accessing `channel` in case it is notified immediately. WDYT?

[2016-02-16 17:06] ejona86 commented on #1426
@nmittler, I think we should just get the `Channel` before calling `addListener` on the `ChannelFuture`.

[2016-02-16 17:18] ejona86 commented on #72
The problem is that not all transports will have a port. The InProcess transport, the Netty-LocalChannel transport, a Unix Domain Socket transport (doesn't exist today, but easily could), and a shared memory transport (also doesn't exist) don't have a port but could use a similar feature. In addition, even normal-Netty could need to provide more than just a port, since it could listen only on part

[2016-02-16 17:22] ejona86 commented on #72
We could maybe _also_ have a `getPort()` convenience method that gets the `SocketAddress` casts and gets the port, throwing some exception (`IllegalStateException`?) or maybe returning `-1` if not using ip. I'm not sure how well `0` will work out, since it is a valid argument to `InetSocketAddress` constructor.

[2016-02-16 17:28] nmittler commented on #1426
@ejona86 refresh my memory, does `b.connect(address).channel()` block? Also what happens if the connect fails? Will `channel()` return null or throw?

[2016-02-16 17:58] ejona86 commented on #1426
@nmittler, no, it doesn't block. The channel is created immediately and `Bootstrap` has the plumbing in place to make sure you can write to it immediately without reordering events. The `ChannelFuture` is only for the connecting operation itself. Even if `connect()` fails, `channel()` will be available for our use.

[2016-02-16 21:22] ejona86 commented on #1335
Since #1427, we no longer want to install OpenSSL on Windows. So this is now obsolete.

[2016-02-16 21:22] #1335 closed

[2016-02-16 21:39] ejona86 commented on #1224
This is for performance benchmarking.

[2016-02-16 23:00] ejona86 commented on #1421
I expect the hpack conflict to not cause any problems today. In addition, Netty in CR1 (the current version we are using) has forked hpack internally, and I've noticed we no longer directly use hpack in gRPC so I'm removing the dependency (in #1430).

The jsr305 dependency is for annotations. google-http-client should probably be updated to a newer version; I just tried compiling the library with

[2016-02-16 23:34] ejona86 commented on #1419
As you may have seen in sergei-ivanov/maven-protoc-plugin#11, there were details that needed to be worked out. But as of two days ago it is now available on Maven Central. I created #1431 to update the docs.

[2016-02-17 00:28] #1419 closed

[2016-02-17 18:11] ejona86 commented on #1421
I filed google/google-http-java-client#320 for the jsr dependency.

[2016-02-17 18:11] #1421 closed

[2016-02-17 18:16] ejona86 commented on #1425
Context is local-only. gRPC will support auto-transmitting a few precise items, but in general explicit use of Metadata is necessary. For gRPC, we're only planning on directly propagating deadline (but possibly a smaller deadline than the Context has, depending on CallOptions) and cancellation.

For propagating tracing information, you would want interceptors on clients and servers to read/set the

[2016-02-17 18:57] jhspaybar commented on #1425
Thanks!  Once I get the CLA signed I might tweak the comment in that class a bit to make this more clear.

[2016-02-17 23:58] ejona86 opened #1438 "Check for null Channel when creating stub"
[code]

[2016-02-18 03:05] lesv opened #1439 "Annoying logging while running an app"
https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/TransportSet.java#L197

[code]

This is in our Quickstart app, it would be really nice if it went away.

[2016-02-18 18:54] ejona86 commented on #339
Still not enough support from others on the team. Once we have #1010 figured out for server-side, then I think it will be clear whether it is necessary.

[2016-02-18 19:23] saturnism commented on #1421
Thanks. I understand that usually this type of dependency conflicts aren't an issue, but it also can cause havoc. Some projects, like Spring, enforces dependency convergence. gRPC dependency will fail in that case.

In addition to have the dependent library to be brought up to speed for the jsr dependency, I highly recommend gRPC pom.xml exclude the old version from its dependency tree and keep th

[2016-02-18 19:24] saturnism commented on #1421
and for the comment above, i suggest reopen this :) and exclude jsr305 from google-http-client so that it only uses the jsr305 dependency from grpc-core .

[2016-02-18 19:30] saturnism opened #1440 "Use new protoc maven plugin from Maven Central"
License issue on maven-protoc-plugin has been resolved, and it's now pushed to maven central - yay!
https://github.com/sergei-ivanov/maven-protoc-plugin/issues/11

Should update documentation and/or examples to use the the maven central plugin:
http://search.maven.org/#artifactdetails%7Corg.xolstice.maven.plugins%7Cprotobuf-maven-plugin%7C0.5.0%7Cmaven-plugin

[2016-02-19 00:40] ejona86 commented on #1440
I already did in #1431. Did I forget something?

[2016-02-19 00:48] ejona86 commented on #1421
Excluding the dependency seems counter-productive. We want whatever the latest version is, which is the default behavior of Maven. If google-http-client _requires_ a newer version, then I don't want to accidentally leave in the exclusion and break it.

Keeping all the versions _identical_ seems a non-goal and not worthwhile. If Spring wants to enforce that, they can go for it, but it doesn't seem

[2016-02-19 05:44] #1426 closed

[2016-02-19 12:09] saturnism commented on #1421
https://dzone.com/articles/dependency-convergence-maven
On Thu, Feb 18, 2016 at 7:49 PM Eric Anderson <notifications@github.com>
wrote:

[2016-02-19 12:26] saturnism commented on #1440
Oh cool! Didn't realize that was in. Thanks!
On Thu, Feb 18, 2016 at 7:41 PM Eric Anderson <notifications@github.com>
wrote:

[2016-02-19 13:35] #1440 closed

[2016-02-19 15:53] ejona86 opened #1446 "Remove references to io.grpc.internal from io.grpc"
`io.grpc` is very close to having no references to `io.grpc.internal`. It would be useful to be able to depend on the API but not the implementation to not pull in unnecessary dependencies and provide cleaner builds that don't accidentally depend on the implementation. For instance, a library could have optional gRPC support, but depend on grpc-api even when grpc was not selected.

[2016-02-19 15:54] ejona86 opened #1447 "Create a grpc-api artifact"
After #1446 we could make a grpc-api artifact that does not include `io.grpc.internal`. From the other issue:

[2016-02-19 17:04] ejona86 commented on #1439
Agreed. I've been a bit annoyed with it as well and the logging hasn't seemed useful during debugging (which is why it was added) even though it's been there for a while. Let's decrease the verbosity for now and see if we end up feeling pain because it isn't displayed by default.

[2016-02-19 17:38] #1439 closed

[2016-02-19 17:39] ejona86 commented on #1420
grpc-all is currently repackaging all the other grpc-* jars. It should really just use normal dependencies in order to not cause duplicate dependency problems. However, I think we're more likely to just delete it.

[2016-02-19 17:41] nmittler commented on #1420
+1 to deleting it

[2016-02-19 19:29] #1060 closed

[2016-02-19 23:09] trask opened #1455 "Losing messages in 0.13.0"
I've posted a repro to https://github.com/trask/grpc-lost-msgs-repro.  Just clone and run `mvn test`.

The repro sends 1000 messages to the server, but the server only ever sees around 30 of them (I'm running locally on windows, though I also see this issue on travis-ci linux).

I don't see this issue in 0.12.0.

[2016-02-20 17:11] ejona86 commented on #1455
I think I may have fixed this on Friday. Could you try with the v0.13.x branch that has 103d3d17? I've published v0.13.1-SNAPSHOT you can use if you add [our snapshot repo](https://oss.sonatype.org/content/repositories/snapshots/) or you can use `./gradlew install -PskipCodegen` to build a snapshot directly on your machine. Note that master is still broken.

I was planning on making a new release

[2016-02-20 20:09] ejona86 opened #1459 "Artifacts should depend on particular version of grpc-core"
grpc-core contains internal, unstable APIs. To prevent accidentally mis-matching artifact versions (say grpc-netty-0.12.0 coming from one source of dependencies and grpc-core-0.13.0 coming from another), any artifacts that depend on grpc-core should use [$VERSION] syntax instead of $VERSION to cause an error (because grpc-netty-0.12.0 can only use grpc-core-0.12.0; core shouldn't be silently upgra

[2016-02-20 20:18] ejona86 commented on #1421
I remain unconvinced. However, I did learn that Maven uses "nearest" for choosing the version of a dependency, which is unsettling. Maven is the only package manager I know of that doesn't use "greatest version". That leads me to find the enforcer's requireUpperBoundDeps _quite_ useful, and I would gladly try to address any issues it finds because it would be detecting actual problems. And from wh

[2016-02-20 20:31] ejona86 opened #1460 "Consider avoiding the copy in BINARY_BYTE_MARSHALLER"
In the initial version of the PR to add BINARY_BYTE_MARSHALLER it did not do a copy. However, I suggested that we do a copy to prevent trouble with Metadata's caching of serialized encodings.

I may have been misguided though. It seems that even with the copy in place, mutating the byte[] would cause trouble for Metadata. It may be better to not copy, because it doesn't improve the situation, and

[2016-02-20 20:43] trask commented on #1455
I'm not seeing the issue anymore with the snapshot. Thanks.

[2016-02-20 20:43] #1455 closed

[2016-02-20 20:48] ejona86 commented on #1455
@trask, thanks for testing and thanks for your exceptional bug reports. I'm sorry to have caused you the trouble in reproducing the bug. I spent a reasonable amount of time tracking down the issue myself, so I know it can be quite time and thought-intensive.

[2016-02-20 22:51] nmittler commented on #1398
Fixed by #1461

[2016-02-20 22:51] #1398 closed

[2016-02-21 06:21] trask commented on #1455
No problem, thanks for getting to the bottom of it.

[2016-02-22 02:07] ejona86 commented on #1403
Fixed by #1422

[2016-02-22 02:07] #1403 closed

[2016-02-22 10:05] pbassiner opened #1463 "DNS resolution expiration"
It looks like the channel is somehow caching the IP resolved through DNS but never refreshing it. We are using grpc in AWS and since ELB's IPs change over time, we've run into issues and found out grpc clients are trying to connect to an old IP.

Code snippet:

[code]

Is our assumption correct? Is there any issue in how are we using the client library? Would it be a bad practice (performance-wise

[2016-02-22 22:15] alugowski commented on #1342
Just FYI, we've had this fix in production since last week, and so far no issues. I restarted the server cluster several times in an attempt to trigger the problem, but the clients behaved properly.

Thanks for your had work!

[2016-02-23 17:01] ejona86 opened #1469 "Codegen base class for services to extend"
We should allow adding new methods to a service without breaking existing service implementations. The best way to do that seems to have service implementations extend a base class that responds with UNIMPLEMENTED for all methods. The class would also make creating fake/mock services during tests easier.

A similar problem can happen for stubs in tests. We may need something there as well.

See al

[2016-02-23 17:13] ejona86 commented on #1420
Just because, if we wanted to make a fat jar of sources, we would add something like:
[code]

(I have had a branch with that laying around since Aug 7, 2015...)

[2016-02-23 17:43] #1342 closed

[2016-02-23 17:45] ejona86 commented on #1463
This is a deficiency of `DnsNameResolver`, not a fault with how you are using the library. To to get an idea of what would work for you, would refreshing every 15-30 minutes work for you? That would be easy to add in the short-term.

[2016-02-23 18:39] pbassiner commented on #1463
In my opinion, the proper solution would be to make it configurable by channel, so each client can set it up according to its needs (like connection or request timeouts in an http client). Is it reasonable?

[2016-02-23 18:45] jhspaybar opened #1470 "*Interceptor interceptForward methods?"
Would you be open to a pull request which allows users to pass in interceptors in forward order?  Meaning, if I pass in ServerInterceptors.interceptForward(svc, new A(), new B(), new C()) that I'll end up with interceptors being called in the order A -> B -> C rather than C -> B -> A?

[2016-02-23 19:07] ejona86 commented on #1470
Maybe. We used to do that order because it seemed most intuitive initially, but changed it because it was confusing when mixing separate calls (#570). Having a method named differently that does it in the opposite order seems like it could work, though.

@nmittler @zhangkun83 @louiscryan, thoughts, since y'all were part of the earlier discussion?

[2016-02-23 19:16] ejona86 commented on #1463
In my mind the proper solution is to use the DNS TTL... but that's not quite feasible. Instead we could do a DNS query every time and rely on the platform's caching (like `networkaddress.cache.ttl`). But that will take a little bit of interface rework. I don't think you should need to configure the refresh period. So I really am suggesting the fixed rate refreshing as only a short-term solution. W

[2016-02-23 20:03] pbassiner commented on #1463
Well, in our case, that wouldn't make the trick. We are using AWS's ELBs which have a 60 seconds TTL for their DNS records.

I agree on the proposal for the long-term solution. Relying on the DNS TTL seems the way to go (although being able to override the setting would also make sense anyway).

[2016-02-23 21:29] nmittler commented on #1470
Hmm ... maybe a more builder-style interface would help to clear up the ambiguity?

[2016-02-24 04:48] saturnism opened #1474 "Update unary gRPC server stub"
The Java unary stub is taking the form of an async service, where a single result is expected to return from a StreamObserver.

This can be error prone:
 * You can't tell from the stub whether it's unary or streaming multiple results
 * The code can easily call onNext one too many times, or not call onComplete

Unary gRPC stubs for several other stubs expects a single return value from the method.

[2016-02-24 04:54] saturnism commented on #1421
+1 to version pin. you mentioned version pin grpc-core, can we also version pin netty?

DependencyConvergence is not a fool's errand. It is fully utilized in Spring and it does avoid unexpected issues.

A component library, like gRPC, is responsible to understand the exact dependency version requirements. Leaving this to chance and/or other dependent libraries is more error prone.

No Spring Boot

[2016-02-24 05:21] saturnism opened #1475 "Improve client stream server side stub"
Looking at this:
https://github.com/grpc/grpc-java/blob/master/examples/src/main/java/io/grpc/examples/routeguide/RouteGuideServer.java#L187

This is super weird to have the "request input", Points, as a return value of a method, and the response RouteSummary, to be the input parameter of a method. I took a look at this for a while to figure out what's going on.

Every other language stubs seems t

[2016-02-24 05:50] saturnism commented on #1475
If we consider differentiating Observer vs Observables, like RxJava, this may be a lot easier:

Example stubs for RxJava:
[code]

[2016-02-24 15:03] aserrallerios commented on #1463
We use `NettyChannelBuilder` to create a `ManagedChannelImpl`. This `ManagedChannelImpl` keeps a reference to its `NettyChannelBuilder.NettyTransportFactory`, which is used every time the channel needs to open a new Transport (for example, if the server has changed its IP, the Transport will be closed and a new Transport will be requested).

Every time the `NettyChannelBuilder.NettyTransportFactor

[2016-02-24 17:14] ejona86 opened #1476 "TransportSet should reset current index on transportReady"
If we successfully make a connection to an address, then that should mean the address is good. If it later is disconnected due to GOAWAY or transient failure we should start at the top of the list instead of trying less-desirable IPs.

This can cause errors, but any errors can already be gotten other ways, so it shouldn't be considered a major bug.

[2016-02-24 17:28] saturnism commented on #1474
Another thought is to send the response via something like a UnaryResponse, which inherently makes the onNext and onComplete calls on behalf of the caller.

[2016-02-24 17:56] ejona86 commented on #1459
We should also use the [] syntax for the version of Netty we use, since breaking changes are frequent in the http2 codec.

[2016-02-24 17:58] zhangkun83 opened #1477 "Only link delayed transport AFTER real transport has called transportReady()"
There is no benefit of creating streams on a transport that has not called `transportReady()`, because they will be buffered anyway. Besides, transport connection may turn out to be a failure, which will fail the pending streams on it, spamming transient errors to the callers. Those streams, however, if created on a transport that has called `transportReady()`, would have a higher chance of succes

[2016-02-24 18:13] ejona86 commented on #1421
Added a comment to pin netty version to #1459.

The problem is that Maven does not provide a way to do that. The version range would be a solution to that, except that we can no longer suggest a version to use, the actual version used will be re-chosen every day, and in general we will need an open upper-bound. That means in practice we can no longer suggest a version that is known to work well an

[2016-02-24 18:21] ejona86 commented on #1477
In the case that the last transport attempt fails in a TransportSet, it should still result in a failure of the calls, ideally with some error information. That error information can either come from `transportShutdown(Status)` or by eagerly assigning only the last transport.

[2016-02-24 19:02] sduskis commented on #1476
Our users are seeing failures because the low priority addresses are getting "Network unreachable" errors.  Can this please be escalated?

[2016-02-24 19:42] sduskis commented on #1476
Oh, I think I get what you're saying in your second paragraph. This is a problem that's not gRPC specific.  The root of the "Network unreachable" problem, rather than what amounts to applying a bandaid in resetting the TransportSet index.  We'll look more towards the root cause than the bandaid.

[2016-02-25 02:13] saturnism commented on #1421
agreed on version range. if versions follow the semver practice, we can assume at least major.minor, and and not worry about revisions. :)

[2016-02-25 02:15] saturnism commented on #1414
i had a small discussion, i think there is a chance to have a grpc-java-examples repo where it depends on external dependencies just like a regular user would. repo request soon.

[2016-02-25 02:49] makeyang opened #1479 "Add flow control sample documentation"
flow control mechanism is a little bit hard to understand. can you guys add some test to demonstrate its usage?

[2016-02-25 05:40] IamFive commented on #1414
that would be nice. ;), with the wrong document, i spent whole day to fix out the how the old maven plugin runs

[2016-02-25 06:54] ejona86 commented on #1476
@sduskis, #1477 would actually reduce the number of errors you would see, since we would delay failing RPCs until we try all addresses for a host. So you may be more interested in it. It is more of a real fix.

[2016-02-25 09:41] hughneale commented on #174
+1

[2016-02-25 11:46] davieli opened #1481 "The asynchronous Channel is uncompleted,but I have never used asynchronous Channel"
The server print the logs as follows,and never stop until the server is shut down:

2016-02-25 19:31:42.664 [grpc-default-worker-ELG-2] ERROR i.netty.handler.codec.http2.Http2ConnectionHandler - Sending GOAWAY failed: lastStreamId '0', errorCode '1', debugData 'HTTP/2 client preface string missing or corrupt. Hex dump for received bytes: '. Forcing shutdown of the connection.
java.nio.channels.Clo

[2016-02-25 15:31] ejona86 commented on #1481
How frequently is it printed? Is there a monitoring tool or similar that creates a TCP connection and then closes it immediately?

"Sending GOAWAY failed" is a pretty common occurrence and often can be ignored. I'd like to fix netty to no longer log the error, but haven't yet.

[2016-02-25 16:25] ejona86 commented on #1479
That seems reasonable. Were you trying to use `StreamObserver` or `ClientCall`?

[2016-02-26 01:15] ejona86 commented on #1475
The only reason we didn't use Observable is because it means depending on all of RxJava for all generated code. We could have separate utilities to help map from StreamObserver, but that does not address your concern.

Given that we can't depend on RxJava, do you have an alternative suggestion? I will note that the stubs are pretty fixed at this point, but it could be possible to add _yet another_

[2016-02-26 01:16] ejona86 commented on #1475
(And returning an `Observable` would allow having an API to do push-back flow control, which is not currently available with `StreamObserver`)

[2016-02-26 01:18] makeyang commented on #1479
ClientCall

[2016-02-26 01:18] ejona86 commented on #1474
Returning the value means blocking, but the API needs is supposed to be async. Python, Ruby, and Go are all blocking APIs, so it is comparing apples to oranges.

[2016-02-26 02:46] saturnism commented on #1475
Actually, I was experimenting also with ReactiveStream. There is a nice bridge between ReactiveStream and RxJava

In the client side streaming case, I did find that returning response synchronously was very difficult to achieve.

Here is the sample stubs I was able to work with ReactiveStream
[code]

Returning a Observable / Publisher can be a bit more tricky. The implementation code differences i

[2016-02-26 02:47] saturnism commented on #1474
Understood :( How do you feel about UnaryResponse that's more explicit and concrete?

[2016-02-26 02:55] ejona86 opened #1484 "Rename interop's "AbstractTransportTest" to "AbstractInteropTest""
grpc-testing now has an `AbstractTransportTest` which is a much more appropriate name for it than for interop's test class.

[2016-02-26 02:56] ejona86 commented on #1474
I don't really know how I feel, especially given where we stand today.

[2016-02-26 03:57] davieli commented on #1481
@ejona86 Thank you! Yes,you are right.That is the Nginx's health check.I have fixed this problem.

[2016-02-26 03:57] #1481 closed

[2016-02-26 08:56] makeyang opened #1485 "why DEFAULT_FLOW_CONTROL_WINDOW in NettyServerBuilder set to 1048576?"
in http2 doc, the max value of flow control window would be 2^31-1

[2016-02-26 10:09] makeyang opened #1486 "is server push feature used in anywhere in Grpc-java?"
my rpc framework need this feature, so I'd like to reference the implementation of it in Grpc-java, but fail to find it in code.
can anyone help on this please?

[2016-02-26 10:34] makeyang commented on #737
based on this discussion, will grpc-java implement a server-push mechanism to push server status to client?

[2016-02-26 13:41] sduskis commented on #1476
SGTM.

[2016-02-26 13:45] sduskis commented on #1477
@ejona86 suggested in #1476 that this could be a fix for a problem we're seeing.  What's the ETA for this fix?

[2016-02-26 15:18] ejona86 commented on #1485
I'm not sure why you bring up the maximum of 2^31-1. The default in the http/2 standard is 2^16-1. For the connection it is discussed in section 6.9.2. For streams is discussed near `SETTINGS_INITIAL_WINDOW_SIZE`

We are using 1 MiB instead of 64 KiB because the Netty transport is used in many places where the bandwidth-delay product is on the order of 1 MiB. My eventual hope is to auto-tune the w

[2016-02-26 15:19] ejona86 commented on #1486
No. We don't support PUSH_PROMISE on either the client or server.

[2016-02-26 16:50] zhangkun83 commented on #1477
I will work on #1476 first, then this one. Hopefully they can be done by end of next week.

[2016-02-26 18:47] saturnism commented on #1474
Also, familiar way for async services:
http://docs.oracle.com/javaee/6/tutorial/doc/gkkqg.html
https://spring.io/guides/gs/async-method/

[2016-02-27 01:28] #1476 closed

[2016-02-27 06:35] ejona86 commented on #1474
Using the Future API on server-side would be easy, except for streaming, just like blocking. Not being able to mix different styles and not having nice streaming solutions for blocking and future is the crux of the issue. I would _love_ to have a good pattern for mixing different types within the same service.

We could have "blocking" and "future" style methods for unary calls and use the async f

[2016-02-27 16:40] saturnism commented on #1414
Me too. I just want a project that worked :D

I combined both Gradle and Maven build files into a single repo - https://github.com/saturnism/grpc-java-examples

[2016-02-28 01:05] ejona86 opened #1492 "CI should build examples/android and android-interop-testing"

[2016-02-28 01:05] ejona86 opened #1493 "Bump grpc version used by examples/android"
We should also update the RELEASING doc so that the versions are updated as part of our process.

[2016-02-28 02:33] makeyang commented on #1486
thanks

[2016-02-28 22:25] #1486 closed

[2016-02-28 22:31] ejona86 commented on #737
@makeyang, so, server-push won't be used. There are two parts of the discussion: service health checking and keep alive (aka, TCP health checking). Service health checking will use the [gRPC health checking protocol](https://github.com/grpc/grpc/blob/master/doc/health-checking.md). At some point in the future there will likely be a streaming version of it. The health checking may be used client->s

[2016-02-29 15:05] pszemus opened #1495 "How does deadline work?"
I'm creating a blocking stub with deadline:
[code]
and then I start calling method in a loop:
[code]
first 8 calls are handled correctly but others end with DEADLINE_EXCEEDED exception.
Looking at my gRPC server logs I can see that the 8th call (last succeeded call) is ~3 seconds after the 1st one, so I assume that the deadline I set is for all my calls.
How to set up a deadline per call ?

[2016-02-29 16:16] ejona86 commented on #1495
A deadline is a fixed point in time, like 8:10 AM on Feb 29th. A timeout is a relative time, like 3 seconds. gRPC is using deadlines, not timeouts, as they work much better when you many things you need to do by a certain time.

To have each RPC last up to 3 seconds, you could do:
[code]

There are some plans to support timeouts, but they are part of larger per-service configuration plans. It'll b

[2016-02-29 18:50] matthild opened #1497 "GRPC tests fail and hang with JDK 1.8.0_73"
Making the following change in `build.gradle` gets everything working again:

[code]

However, doing so would probably break the build for developers using an old JDK and for Travis.

Should the [current logic for choosing the ALPN version](https://github.com/grpc/grpc-java/blob/master/build.gradle#L150) accommodate more than one version of Java 8, or is the current approach intentional?

[2016-03-01 03:09] ejona86 commented on #1497
It should accommodate more than one version of Java 8.

[2016-03-01 03:30] ejona86 opened #1500 "There is no warning that ManagedChannel.shutdownNow is not implemented"
It seems the important part of the comment was not copied in https://github.com/grpc/grpc-java/commit/b687bdc7426da49879f8bf8f5c4472056180e241

[2016-03-01 11:57] pszemus commented on #1495
Thank you. That's very explanatory.

[2016-03-01 11:57] #1495 closed

[2016-03-01 16:32] #1485 closed

[2016-03-01 19:19] ejona86 commented on #1470
After some discussion, we're still a bit on the fence. Having an additional method that does the opposite order is easy, but we also question if it improves the situation since it has its own gotchas. Maybe it would have been better to have not swapped the order, but it was all getting pretty confusing at the time.

Would you also want an `interceptForward()` in `ManagedChannelBuilder`?

We do thi

[2016-03-02 16:56] ejona86 commented on #1470
After some offline discussion, I'm on-board and nobody seems to be strongly against it. Let's add it.

`interceptForward()` works really well when you only have one call to it for the channel. I'm in favor of that over piece-meal installing of interceptors, and having them in the forward direction does ease the comprehensibility of that sort of code.

[2016-03-02 18:02] jhspaybar commented on #1470
Alright, I'll send a pull request later today.

[2016-03-03 00:00] zhangkun83 commented on #1408
It's just not only transport listeners. Calling stream listeners can also have the deadlock issue, specially in `InProcessTransport`. The deadlock triggered by grpc/grpc-java/pull/1503 is an example.

[2016-03-03 00:37] zhangkun83 opened #1510 "DelayedClientTransport and InProcessTransport means deadlock"
There is a chance of deadlock when `DelayedClientTransport` is linked with an `InProcessTransport`. See grpc/grpc-java/pull/1503.

[2016-03-03 18:37] zhangkun83 opened #1513 "TlsTest flakiness"
Found on Travis linux when testing for #1508
[code]

[2016-03-03 19:21] ejona86 opened #1514 "Add assertCodeEquals to TestUtils and swap code to use it"
[`assertCodeEquals()`](https://github.com/grpc/grpc-java/blob/master/testing/src/main/java/io/grpc/internal/testing/AbstractTransportTest.java#L813) (also [here](https://github.com/grpc/grpc-java/blob/5d025ed6ae329061dd17c828045234be73282697/android-interop-testing/app/src/main/java/io/grpc/android/integrationtest/InteropTester.java#L730)) is really helpful for debugging test failures from CI envi

[2016-03-03 19:26] ejona86 commented on #1513
And I just saw this on #1511:
[code]

[2016-03-03 21:06] ejona86 commented on #1513
From #1505
[code]

[2016-03-03 21:08] ejona86 commented on #1513
Saw noClientAuthFailure in #1509

[2016-03-03 21:13] carl-mastrangelo commented on #1513
@ejona86  I can't imagine how #1505 might have caused that.  Another close by commit perhaps?

[2016-03-03 21:16] ejona86 commented on #1513
I'm guessing [this change](https://github.com/grpc/grpc-java/commit/1170afd16844bfe8654dd8634ff026d02e77baa0#diff-0133adb8af67ea6848d382c6d47a936fR171) has exposed a pre-existing flake. Before we would randomly get a useless UNAVAILABLE Status without any description of what went wrong, but now it is showing up as UNKNOWN.

We could revert that one part of that CL and probably unflake ourselves. I

[2016-03-03 22:07] ejona86 commented on #1330
#1513 makes it obvious I didn't get all the cases. We need to find the missing cases that cause ClosedChannelException and then revert #1516.

[2016-03-03 22:19] #1513 closed

[2016-03-04 22:24] louiscryan opened #1519 "Simplify using richer APIs in service implementations"
While it is possible for service implementors to interact with richer features like inbound & outbound flow-control today by creating their own io.grpc.ServerCallHandler this is quite cumbersome to do. You would need to completely rewrite how your server was build and could not simply implement the generated service definition any more. In cases where only one of the methods in the service needs m

[2016-03-05 00:18] ejona86 commented on #1221
Cancel without debug information is becoming a bigger problem. We need to do this.

[2016-03-05 00:42] ejona86 opened #1522 "IOExceptions are INTERNAL because they are getting wrapped in Http2Exceptions"
`Utils.statusFromThrowable` will need to check the `Http2Exception.cause()` to see if it is an `IOException` (by recursively calling `statusFromThrowable`?).

I saw this with `java.io.IOException: Broken pipe`, which should be UNAVAILABLE.

[2016-03-05 07:10] #1470 closed

[2016-03-07 17:41] #1359 closed

[2016-03-07 19:51] ejona86 commented on #1216
An update here: as of Friday we believe we have a working design, and it's pretty straight-forward. We hope to have something you could use soon.

Effectively the API is you can cast the provided `StreamObserver` to a specialized class which has more methods on it. We believe we can support any feature exposed from `ServerCall` in this style with no threading concerns, although we may choose to on

[2016-03-07 21:17] stanley-cheung opened #1528 "Doc Fixit: Java is missing from website Auth doc"
Java is missing from this doc: http://www.grpc.io/docs/guides/auth.html

[2016-03-07 22:08] ejona86 commented on #1528
We have some information at (SECURITY.md)[https://github.com/grpc/grpc-java/blob/master/SECURITY.md#enabling-tls-on-a-server]. That could be used as a basis for the auth.html docs

[2016-03-07 23:27] hsaliak commented on #1528
For java, I'd recommend we point to security.md from the website until we are clear that SECURITY.md would be stable for the foreseeable future. @ejona86 do we expect updates to SECURITY.md in the next 1-2 releases, especially around the recommended approach?

[2016-03-07 23:49] ejona86 commented on #1528
@hsaliak, as of now, things particular things are stable; I have little concern with copying them.

[2016-03-07 23:57] hsaliak commented on #1528
Thanks!
@LisaFC  would you be able to give this a shot?

[2016-03-08 12:17] LisaFC commented on #1528
Sure, will do that today and you and @ejona86 can review the PR for truthiness.

[2016-03-08 15:18] LisaFC commented on #1528
Couple of questions:

- Many of the other languages have scopeless credentials as the default approach for authenticating with Google, with using an OAuth2 token as a legacy approach, does Java just use scoped credentials for authenticating with Google?
- The existing doc has lots of information about all the stuff you need to install to use SSL/TLS but there's no example code (other than enabling

[2016-03-08 20:44] ejona86 commented on #1313
@carl-mastrangelo, can this be closed?

[2016-03-08 20:47] ejona86 commented on #1242
This should have been fixed when we swapped to tcnative-boringssl-static. If it's still an issue this should be reopened.

[2016-03-08 20:47] #1242 closed

[2016-03-08 20:49] ejona86 commented on #1522
This may be related to #1053

[2016-03-08 20:54] carl-mastrangelo commented on #1313
Yes, but the main bug cannot.

[2016-03-08 20:54] #1313 closed

[2016-03-09 01:01] ejona86 opened #1531 "Use stream.cancel() instead of cancel() in ClientCallImpl"
Some error handling in ClientCallImpl is calling ClientCall.cancel() instead of stream.cancel(). For example, in [sendMessage()](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/ClientCallImpl.java#L317). This causes incorrect throwing of `IllegalStateException` to later callers.

[2016-03-09 02:11] thefallentree opened #1532 "Examples of serving HTTP 1 request with servers running GRPC?"
Hi,

Is there a example of using grpc/underlay netty to serve HTTP1/1 on the same port?

Cheers.

[2016-03-09 04:37] elandau opened #1533 "Simulate latency and GRPC thread safety gurantees"
We wrote an interceptor to simulate adding latency and injecting failures into client requests.  In doing so we may be violating thread safety guarantees in GRPC.  I was hoping someone could look this over and let me know if this implementation makes sense or if we should be doing something different.

First, some details about the implementation and expected behavior,
*  Failure behavior is provi

[2016-03-09 17:13] carl-mastrangelo opened #1534 "TransportSet creates lots of transports"
Logs indicate that it is possible with a single Channel to get multiple transports for the same ip:port.

[2016-03-09 18:22] ejona86 commented on #1532
No, we don't provide such an example and it isn't really much of a supported use-case at present. I do know it is possible, but it is a bit tricky and not something I would generally encourage.

Longer-term, with [some upstream Netty API changes](https://github.com/netty/netty/issues/3667) we would hope to support more advanced Netty use-cases, for example, by providing a GrpcHandler.

[2016-03-09 20:01] ejona86 opened #1536 "Remove allowance of ClientStream.sendCancel() before start()"
It looks like it [will trigger a `NullPointerException`](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/netty/NettyClientHandler.java#L396). This could maybe be handled in `AbstractClientStream`, but I'm unsure if that's the best place.

[2016-03-09 20:04] ejona86 opened #1537 "DelayedStream.startStream() should cancel the provided stream if not using it"
If `cancel()` or `startStream()` was previously called then startStream()` throws away the stream argument. It should `cancel()` the stream to make sure resources are freed, although I think only DelayedClientTransport benefits.

This should not be done until after #1536. I don't know if OkHttp suffers a similar problem. If so, we may want to revisit whether it makes sense to allow streams to be c

[2016-03-09 23:38] #1510 closed

[2016-03-10 00:17] jhspaybar commented on #1519
This is becoming increasingly important for us as we write streaming APIs.  It's helpful to know if you should be sending more data when on the server side and streaming out.  It's also nice to know if a client has disconnected since the last time you send an onMessage before calculating the new data and sending it.

[2016-03-10 00:38] ejona86 commented on #1519
@jhspaybar, @louiscryan is actively working on an implementation. It seems it shouldn't be long before a PR gets sent out.

[2016-03-10 03:15] jhspaybar commented on #1519
Awesome!  Thanks for the update.

[2016-03-10 05:45] thefallentree commented on #1532
Thanks,

We are currently using jetty to serve http needs, and grpc for rpc part. Would there be a problem other than having two I/O stack running at the same time?  (maybe there is even advantage of that )

[2016-03-10 11:01] pszemus opened #1539 "How to connect to unix socket?"
I'm using this code snippet to connect to gRPC server though a unix socket:
[code]
but I'm getting this exception: `java.lang.IllegalArgumentException: cannot find a NameResolver for unix:/tmp/imageresizer.socket`

[2016-03-10 13:13] LeeYeeze opened #1540 "It seems that CallOptions.withDeadlineAfter does not provide a fully functional timeout"
CallOptions.withDeadlineAfter works when client and server are connected or can be connected but the server can not respond in time. When it comes to network partition, a CallOptions.blockingUnaryCall will wait about 30s to throw an exception despite the deadline.

I can walk around this by giving timeout parameters to the future.get() inside CallOptions.getUnchecked(Future<V> future) like this
[c

[2016-03-10 13:33] LisaFC commented on #1528
Aaaaaanyone?

[2016-03-10 18:24] ejona86 commented on #1540
What timeout were you passing to deadlineAfter? What transport where you using (okhttp vs netty)? When the call ended up throwing an exception, what was the status?

We [cancel the Call](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/ClientCallImpl.java#L342) as soon as the deadline expires, so I'm not really understanding what behavior you're seeing.

Your code

[2016-03-10 18:37] ejona86 commented on #1539
grpc-java doesn't provide native unix domain socket support. However, you can provide a `io.netty.channel.unix.DomainSocketAddress` to `NettyChannelBuilder.forAddress()` and also override the `eventLoopGroup()` to be an `io.netty.channel.epoll.EpollEventLoopGroup` and the `channelType()` to `io.netty.channel.epoll.EpollSocketChannel`.

If you have trouble, you can try reference [our benchmark](htt

[2016-03-10 18:58] ejona86 commented on #1532
Having both running shouldn't be too much of a problem. You'll need to configure a port for it to run on, which may be a little annoying, but everything should function.

[2016-03-10 21:45] ejona86 commented on #1528
Using scoped credentials isn't required, but I don't know the times it works and doesn't work. It's not clear to me what the various other language examples do oauth-wise, especially since many just call `IsCreateScopedRequired` for the scoped case.

I think there may be some need to [convert to JWT](https://github.com/grpc/grpc-java/blob/master/interop-testing/src/main/java/io/grpc/testing/integr

[2016-03-11 02:00] LeeYeeze commented on #1540
Sorry @ejona86 , this is my test case, netty is used and timeout is 5s. The test case expires after around 30s every time.
	public void testTimeout() {
		ManagedChannel grpcChannel = NettyChannelBuilder.forAddress("110.75.247.90", 60009) // inaccessible remote server caused by network partition or no rpc server listening on the port.
        		.usePlaintext(true)
        		.build();

		QueryServic

[2016-03-11 02:09] ejona86 commented on #1540
@LeeYeeze, thanks. I think I know what is going on. This is a bug with the netty transport, only during connecting.

If Netty's not connected yet, then [`sendCancel()`](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/netty/NettyClientStream.java#L175) queues a message in `ProtocolNegotiators.AbstractBufferingHandler`, thus the cancellation doesn't occur.

This is going to

[2016-03-11 09:05] pszemus commented on #1539
Got it! Thanks!
I've ended up with (for future generations):
[code]
and in `pom.xml`
[code]
there should also be `os-maven-plugin` configured

[2016-03-11 09:05] #1539 closed

[2016-03-11 17:11] bobymicroby commented on #1475
Hi Guys,
I started experimenting with grpc-java in one old rxjava project of mine . For now I am having but rough time connecting the bidi stub to the rest of the observable world.
Another problem is that I was unable to find any documentation regarding on which thread onNext of the returned producer stream will be called, and on which thread the onNext of the response consumer will be called in t

[2016-03-11 17:37] ejona86 commented on #1475
@bobymicroby wrote:

Your first problem you didn't concretely describe, so I don't actually know what the problem is. If it's already discussed somewhere else, I guess that's fine.

I was getting really confused, but it seems you are speaking about client-side, not server-side which this issue is about.

It can be called from whatever thread you want, as long as you handle that the object isn't th

[2016-03-11 21:11] ejona86 opened #1546 "If DNS resolution fails, the Channel is permanently failed"
We should probably update DnsNameResolver to continue retrying the DNS query until shutdown, at maybe a fixed rate of 1 minute or such. Overall, it's not a superb solution, but it fixes a lot of the problem and is expedient to implement.

[2016-03-11 22:29] carl-mastrangelo commented on #1546
Exponential back off with an exponent of 0?

[2016-03-11 22:38] ejona86 commented on #1546
Zero is best exponent.

[2016-03-11 22:52] #1477 closed

[2016-03-11 23:55] ejona86 commented on #1540
This may have been fixed by #1494, because now cancel() will be handled by DelayedStream.

[2016-03-12 07:30] bobymicroby commented on #1475
@ejona86 Thanks for the info.
I was talking about client-side. Sorry for my confusing questions, I guess they were embodiment of my own confusion   :)
I will take a better look at the grpc code then, because it seems to me I am missing a point here and there. Regards, B.

[2016-03-14 15:34] LisaFC commented on #1528
Ok, we can leave the scoped example "as is".

All the other examples in the auth doc have client-side code examples for SSL/TLS, showing providing credentials when creating a channel: http://www.grpc.io/docs/guides/auth.html#examples

Is there an appropriate equivalent in Java? (and, now that I think of it, I should check is there anything server developers need to do on the server side in the oth

[2016-03-14 17:38] ejona86 commented on #1528
Ah, no, unless you need to provide your own root CAs.

[code]

The equivalent of the last example for OkHttp is a bit painful, and generally only helpful during testing on mobile. We do have [`TestUtils.newSslSocketFactoryForCa()`](https://github.com/grpc/grpc-java/blob/42d787288e17952ad6880479f57aeb8694ebc494/testing/src/main/java/io/grpc/testing/TestUtils.java#L238) that does the hard part, but

[2016-03-14 17:42] LisaFC commented on #1528
Thanks, that's very helpful! Will have PR with updated doc shortly....

[2016-03-14 18:00] #1484 closed

[2016-03-14 19:19] jhump opened #1549 "Simplify implementation of back-pressure in generated stubs"
Pending API changes can allow reactive/async pattern for interacting with flow control and applying back pressure: https://github.com/grpc/grpc-java/pull/1545/files

In many cases, automatic back-pressure in generated stubs could be very useful -- e.g. having calls to `StreamObserve#onNext(T)` block instead of queueing.

It's been pointed out that this could cause deadlock for bidi-streaming opera

[2016-03-14 20:10] ejona86 commented on #1549
This could possibly be as an alternative to StreamObserver. For example, we could make a more robust blocking API that could handle bidi. To my knowledge, the various languages' APIs are either completely blocking or completely async; they don't "randomly" block.

But alternatively, simply having the blocking behavior be opt-in could be enough to address deadlock concerns.

[2016-03-14 20:46] ejona86 commented on #1533
`failureInjected` isn't technically strong enough of a threading guarantee to prevent calling methods; you may see spurious failures or odd things happen.

[2016-03-15 02:27] maniksurtani commented on #1533
Very useful. It would also be good to simulate a delay, followed by a failure.

[2016-03-15 02:38] maniksurtani commented on #1533
Whoops, ignore me - just realised that you are doing just that.

Do you see the same FIT context being applied to all invocations? Or some sample?

[2016-03-15 02:58] elandau commented on #1533
We've actually made a bunch of improvements to the original code that was posted.  I believe this version has good threading guarantees.  Any comments on this implementation would be greatly appreciated.

I don't think this would belong in any of the core grpc-java modules but might be worth adding to a contrib if anyone is interested.

[code]

For reference here's the InjectedFailure interface,
[

[2016-03-15 03:03] elandau commented on #1533
@maniksurtani This implementation completely abstracts out the source of the FIT context via InjectedFailure.Provider so sampling would be implemented at that layer.

[2016-03-15 10:00] thefallentree opened #1551 "Example of LoadBalancer implementation?"
Hi,

Is there a example we can see how to createa and use an  LoadBalancer  ? It should be able to deal with usual error and some health checking/retry etc.

Thanks.

[2016-03-15 14:57] buchgr commented on #1205
can I steal this from you @louiscryan ?

[2016-03-15 16:13] louiscryan commented on #1205
Sure. Should be pretty easy to do now that Context.getDeadline() is available

[2016-03-15 16:32] ejona86 commented on #1551
The only "examples" are [SimpleLoadBalancerFactory](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/SimpleLoadBalancerFactory.java) and the half-finished [GrpclbLoadBalancer](https://github.com/grpc/grpc-java/blob/master/grpclb/src/main/java/io/grpc/grpclb/GrpclbLoadBalancer.java). Client-side load balancing is pretty far along, but it isn't complete yet.

We have no suppo

[2016-03-15 17:33] zackangelo opened #1552 "Unchecked exceptions can't be captured from a ServerInterceptor"
I'm attempting to add instrumentation to our gRPC service implementations using a `ServerInterceptor`, namely failure rates on a per-method basis. To do this, I'm using a `SimpleForwardingServerCall`, overriding the `close` method and then checking the status to see if the call succeeded.

When an unchecked exception is thrown from a service implementation:

[code]
and given an `interceptCall` met

[2016-03-15 18:12] ejona86 commented on #1552
FYI, failure rate statistics are going to be a native feature.

Yes, `close()` is not called, because 1) it is impossible to call from a threading standpoint and 2) it would have to be a feature of the stub which means if an interceptor threw an exception `close()` still wouldn't be called.

Your best option is to override onHalfClose (and preferably the other listener methods, too) to catch and n

[2016-03-16 14:31] buchgr opened #1555 "Use FastThreadLocalThread's in shared channel executor."
While working on https://github.com/netty/netty/commit/b88a980482d2aef1163a9abe759f68e685550052 I noticed that when using the blocking stub and the netty transport, we allocate in Netty's allocator from within the shared executor threads. Netty's allocator employs thread local caches that perform the majority of allocations. These caches are accessed via Netty's own threadlocal implementation `Fas

[2016-03-16 14:33] #1438 closed

[2016-03-16 15:49] ejona86 commented on #1555
In what cases would the blocking call be running within the cached thread pool? I know there's the case where a server makes an outgoing call.

For all performance cases, I'd expect the user to override the executor being used, so I'd expect that our thread factory wouldn't be used when we'd want it. We could recommend our users to use Netty-aware threads though.

[2016-03-16 16:16] zhangkun83 commented on #1534
After further investigation, it turned out to be the application creating multiple channels.

[2016-03-16 16:16] #1534 closed

[2016-03-16 16:18] zhangkun83 commented on #1267
Resolved by #1490

[2016-03-16 16:18] #1267 closed

[2016-03-16 16:24] buchgr commented on #1555
yes, outgoing calls and responses on the server side, no? Good point with providing a different `Executor`.

That being said, I don't know what the benefit of using `FastThreadLocalThreads` for gRPC is. On my MBP, Netty's `FastThreadLocalBenchmark` runs ~4.6 times faster when using `FastThreadLocalThreads`. Now, that might just be cause the slowpath of `FastThreadLocal` is rather slow [1].

Anyway

[2016-03-16 16:33] ejona86 commented on #1555
I question how much that matters. It doesn't matter the speedup if the operation doesn't consume much of the total CPU time. For example, if it is consuming 0.01% of the CPU today, then a 100000x speedup wouldn't be noticeable.

No. In no way could we do that. Netty must not be a dependency of core.

[2016-03-16 16:40] buchgr commented on #1555
@ejona86

yup, that's also what I was thinking. I could look into this though.

yes, so my question: can we even implement this nicely? We could obviously use a different executor in the Netty specific builders, but then if someone was to use e.g. okhttp + netty transport in the same JVM, there would be two different executors...

I could maybe just look into it and see if we can get better perfor

[2016-03-16 16:52] zackangelo commented on #1552
Thanks Eric!

The fix you suggested in the meantime seems to work great.

[2016-03-16 16:53] #1552 closed

[2016-03-16 17:05] lukaszx0 opened #1556 "Change the way we pass SSLSession"
Right now, we're using Netty's channel attributes to pass SSLSession object from one place to another. It was a quick win when adding `ServerCall#attributes()` support.

We want to plumb it through as an argument.

Ref: https://github.com/grpc/grpc-java/pull/1506/files#r56371848

[2016-03-16 17:15] ejona86 commented on #1555
Not a huge concern to me. There is very little reason to do this and if it was done 1) two sets of executors isn't the end of the world and 2) the application could just override the executor.

That could be fine. I'm mostly interested what a user would have to do in order to make use of the optimization, since the users that care about the optimization are also the same users that should be overr

[2016-03-16 17:16] lukaszx0 commented on #1556
@ejona86 feel free to assign it to me, I'll try to find time to refactor this.

[2016-03-16 17:37] buchgr commented on #1555
They simply should use Netty's `DefaultThreadFactory` [1] in their `Executor`. It does all the things I mentioned. We can mention this in the docs for `executor(Executor exec)`.

[1] https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/DefaultThreadFactory.java

[2016-03-16 17:50] buchgr opened #1558 "Evaluate Netty's new `SelectStrategy` for lower latency writes into the eventloop."
Once https://github.com/netty/netty/pull/4955 is merged we should test and think about implementing our own `SelectStrategy` or even allow a user to provide its own (?) for faster writes from outside of Netty's event loop.

[2016-03-16 17:58] ejona86 commented on #1216
With 7902017 you can now easily observe flow control when sending on server-side.

[code]

[2016-03-16 18:22] ejona86 commented on #502
@louiscryan, this issue is almost the same as #994. Do we want to close one?

[2016-03-16 21:08] stanley-cheung commented on #1528
Anything else for this issue?

[2016-03-16 21:52] lukaszx0 opened #1562 "Move utilities from GrpcUtil from internal package"
We've collected a bunch of utilities in `GrpcUtil` most of which are used publicly in apps (metadata keys, marshallers) and since `GrpcUtil` is part of `internal` package, we want to either move `GrpcUtil` completely out of it, or split, leaving some of the esoteric stuff like `SHARED_CHANNEL_EXECUTOR` or `TIMER_SERVICE` in internal package and exposing metadata key fields etc. in class from publi

[2016-03-16 22:04] lukaszx0 commented on #1562
While I was creating this PR, @ejona86 responded in my PR - https://github.com/grpc/grpc-java/pull/1506#issuecomment-197564914. I agree with it and I think this issue becomes irrelevant and can be closed.

[2016-03-16 22:04] ejona86 commented on #1562
Copying from discussion in #1506.

@ejona86 wrote:

@lukaszx0 wrote:

[2016-03-16 22:31] ejona86 commented on #1139
We're now using generics in the `LoadBalancer` interface and providing some factory methods, such that `ClientTransport` is no longer exposed. Closing.

[2016-03-16 22:31] #1139 closed

[2016-03-16 22:35] ejona86 commented on #1306
@carl-mastrangelo, was this improved when I [removed the Runnable](https://github.com/grpc/grpc-java/commit/964963ab1aa92139502b5fd2211e98bed35948e2#diff-0121ed05a1dbf51add0d8961599a28c4L118)? If not, it'd be helpful to point out some symptoms of the coupling.

[2016-03-16 23:13] carl-mastrangelo commented on #1306
* In start, it calls methods on the transport
* that method can then call back into the stream (with start(1234))
* the lock used by stream is actually the "lock" of transport
* transportHeadersReceived is called in by the transport, but must be called under the shared lock.
* sendCancel calls back into the transport
* remoteEndClosed does too

There are reasons for all this, but its still pretty

[2016-03-16 23:34] #927 closed

[2016-03-17 16:16] lukaszx0 commented on #1562
Regarding ServerCall attrs, I've created #1564 which moves them out of internal package.

[2016-03-17 19:14] CodingFabian opened #1565 "Please generate OSGi headers for jar files"
It would make using gRPC in an OSGi container easier if the jar files would contain the required OSGi headers. This can be as easy as using the `maven-bundle-plugin`.
Unfortunately, I am not versed in gradle, so I am unable to provide a patch right now.
Is this something you can consider for addition?

[2016-03-17 19:22] ejona86 commented on #1565
We don't have any `OSGi` experience on our team. This is something we would probably need a contribution for.

We currently have [shared code for setting the manifest](https://github.com/grpc/grpc-java/blob/master/build.gradle#L38). It is possible to use project-specific pre-existing variables to tune the behavior, [like we do with POMs](https://github.com/grpc/grpc-java/blob/master/build.gradle#L

[2016-03-18 00:11] lukaszx0 commented on #1562
The aforementioned PR has been merged, and as stated in my previous comment, I think I'm on the same page with @ejona86 about other stuff in `GrpcUtil`.

I think this issue can be closed unless you guys feel something needs to be changes in `GrpcUtil`.

[2016-03-18 00:12] ejona86 commented on #1562
SGTM. If someone is using GrpcUtil and thinks it needs to be public this can be reopened.

[2016-03-18 00:12] #1562 closed

[2016-03-18 11:33] doubler commented on #1551
I have the same checking/retry problem when implementing a LoadBalancer.
I use an `List<EquivalentAddressGroup> addressGroups `with each EquivalentAddressGroup has different SocketAddress at position 0. And in pickTransport, `return tm.getTransport(addressGroups.get(counter.getAndIncrement() % addressGroups.size()));`

If all the servers are available, it acts like Round-Robin. While if any remote

[2016-03-18 15:55] ejona86 commented on #1551
Retry shouldn't be part of the LoadBalancer. For now, implement it as an interceptor or in the code calling the stub.

I don't understand the need for `updateRetainedTransports()`; that should only be necessary when routes change permanently, like when the name resolver returns an updated address. It's meant to remove address groups from tracking.

[2016-03-18 18:20] #1528 closed

[2016-03-19 04:02] Thinkfly opened #1567 "Can I get Request MetaData From Context in 0.13.2"
How Can I get Request MetaData From Context in 0.13.2,Please Help me,Thank you.

[2016-03-19 21:19] buchgr commented on #1567
Hey @Thinkfly ! Check out the examples in https://github.com/grpc/grpc-java/tree/master/examples/src/main/java/io/grpc/examples/header . There, it's illustrated how to access metadata when using the stub api.

For future questions, it's best to ask them on stackoverflow.com using the java and grpc tags, so that other developers with the same questions can also benefit.

Thanks!

[2016-03-19 21:19] #1567 closed

[2016-03-21 19:24] ejona86 opened #1569 "okhttp: race between receiving data and closing deframer"
As [reported on SO](http://stackoverflow.com/q/36123530/4690866):
[code]

When receiving a DATA frame, it seems there is a [race between](https://github.com/grpc/grpc-java/blob/v0.13.2/okhttp/src/main/java/io/grpc/okhttp/OkHttpClientTransport.java#L659) getStream() and calling transportDataReceived(). Although I wouldn't expect to trigger that race often.

[2016-03-22 11:40] doubler commented on #1551
I think I miss understood with the `updateRetainedTransports()`
Looking forward to the "health checking" service.

[2016-03-22 15:46] ejona86 opened #1571 "Create protobuf-lite project"
The current protobuf project can be used with lite, but only by excluding the protobuf dependency and adding your own dependency on lite (which is not yet available on Maven Central). That is weak, but also doesn't work in some compilation environments. We should create a separate protobuf-lite project, which protobuf can depend on, for LITE_RUNTIME users.

[2016-03-22 16:12] ejona86 commented on #174
With #1506, there is now an `attributes()` method on `ServerCall`. You can use the keys in #1564 to access the SslSession and IP address.

[2016-03-22 16:12] #174 closed

[2016-03-22 21:00] johnbcoughlin opened #1576 "Overload ServerBuilder.addService to take a Supplier of the service definition"
In general, servers want to instantiate a new method handler for each call to avoid polluted state. We'd like this to be handled by the framework, rather than asking application developers to remember it. The current API essentially pushes the responsibility to the application:

- The `Server` is a singleton since it has a long-lived lifecycle
- `ServerBuilder.addService(ServerServiceDefinition se

[2016-03-22 22:43] ejona86 commented on #1571
Fixed by #1574

[2016-03-22 22:43] #1571 closed

[2016-03-23 00:30] ejona86 opened #1577 "Solve logging"
We used to have some INFO logs, but they were considered spam by some users (#1439), so they were reduced to FINE (#1449). In general, open source libraries don't log unless something is going wrong, and these log statements didn't imply something was wrong.

However, in #1538 INFO-level logs were added back (in a different place, but same effective event). These could be a lower level, but it see

[2016-03-23 06:00] thefallentree opened #1578 "io.netty.handler.codec.http2.Http2Exception$StreamException: Stream closed before write could take place"
We are using latest GRPC java release, what could possbily be the reason?

Thanks

[code]

[2016-03-23 06:05] thefallentree commented on #1551
What I mean "Retry" is really the transporting layer retry. We are seeing some pretty strange issue which I guess is the due to stream abrutply closed,  We need a reliable example on how to Close and Reopen Channel in a sane manner.

Just like a conneciton pool

[2016-03-23 13:28] buchgr commented on #1578
Did your client get shutdown/killed while it was actively issuing RPCs? What seems to have happened is that your client canceled an RPC call, while your server still had some outgoing data buffered (to send to the client).

Afaik, this is usually expected behaviour and nothing to worry about. Maybe we should have picked a different log level, though.

Leaving this open for @ejona86 @nmittler to co

[2016-03-23 16:26] tbak opened #1579 "Error message built with Status exception builder is not serialized properly"
[code]
creates an exception with detailedMessage containing '\n' character. In `TransportFrameUtil` this character fails the validation rule `isSpecCompliantAscii`, which results in grpc-message header being silently discarded.

[2016-03-23 16:28] ejona86 commented on #1579
This was resolved with #1517, which will be part of the next release. Basically we've swapped to percent encoding status messages.

If you interop with other languages, you may see %-encoded values instead of decoded values. That will be fixed as other languages adopt to the change.

[2016-03-23 16:28] #1579 closed

[2016-03-23 16:49] ejona86 commented on #1578
Yeah, I think this alone is nothing to worry about. I'm hoping this sort of logging is less common after we update to the most recent Netty release, but it may take more effort to reduce its occurrence.

If you were experiencing a problem when receiving the log, then I'd expect there to be another log statement before this one that provides more information.

[2016-03-23 16:49] #1578 closed

[2016-03-23 20:11] ejona86 opened #1581 "Update Netty to 4.1.0-CR4"

[2016-03-23 20:14] buchgr commented on #1581
are you taking care of this, or should I?

[2016-03-23 20:14] ejona86 commented on #1581
It's up for grabs.

[2016-03-23 20:22] buchgr opened #1582 "okhttp integration tests fail with latest oracle jdk on OSX"
After updating to the latest Oracle JDK8u73 on OS X , the okhttp integration tests fail.

Running `./gradlew clean build` on latest master (65d3847d14592a1) gives me the below output and hangs there indefinitely.

[code]

Using `jstack`, I can see that gradle hangs at `AbstractInteropTest.deadlineNotExceeded`

[code]

The issue is always reproducable.

[2016-03-23 20:30] carl-mastrangelo commented on #1582
Are you running with jetty-alpn?  I think you need to have a specific jdk version for that to work.

I tried using java 7 and the tests blew up as well:

JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64/jre/

[2016-03-23 20:38] buchgr commented on #1582
@carl-mastrangelo well I guess, assuming `jetty-alpn` is the default for okhttp? I wouldn't know whether I run with it or not :-). I upgraded my jdk from 8u60 (everything works) to 8u73 (test failures).

Anything particular you want to do/check?

[2016-03-23 20:51] carl-mastrangelo commented on #1582
https://github.com/grpc/grpc-java/blob/master/build.gradle#L151

Try changing that to 'org.mortbay.jetty.alpn:alpn-boot:8.1.7.v20160121'
?

[2016-03-23 21:26] ejona86 commented on #1582
This is a dup of #1497. #1501 was made to fix it, but it fails on Travis.

[2016-03-23 21:29] buchgr commented on #1582
@ejona86 thanks! will close then.

[2016-03-23 21:29] #1582 closed

[2016-03-23 22:06] sreecha opened #1584 "Create a stress test client for Java"
The specification for the stress test client is at : https://github.com/grpc/grpc/blob/master/tools/run_tests/stress_test/STRESS_CLIENT_SPEC.md

FYI: The C++ stress test client is [here](https://github.com/grpc/grpc/blob/master/test/cpp/interop/stress_test.cc)

[2016-03-24 05:01] thefallentree commented on #1578
I don't think our code ever calls cancel() or shutdown() , but I will look into it.

we are running into issues that one of our channel will permanently go into DEADLINE_EXCEEEDED mode, but havn't been able to find the issue yet.

[2016-03-24 05:02] thefallentree commented on #1578
On second thought, could this be caused by client side timeout settings?

[2016-03-24 07:24] buchgr commented on #1578
@thefallentree yep!

[2016-03-24 17:52] ejona86 opened #1589 "Provide description to Status used in ClientCallImpl.cancel"
Right now it is just Status.CANCELLED. We should give it a description so that it is more obvious it was generated locally (such as "Client cancelled call"). This is trivial, except plenty of tests fail, so they need to be updated to just check the Code.

[2016-03-24 19:36] #1531 closed

[2016-03-24 20:05] ejona86 opened #1590 "Retries as a first-class feature"
Easy-to-enable, first-class API for having automatic retry any type of call. It would be good if this API supported hedging, where you preemptively issue a second RPC if the first is taking a while. Supporting hedging means that hedging would not need additional buffering.

This is larger in scope than #1122, which is only unary. This is related to #1570 and #1586, but more concerned with the API

[2016-03-24 20:16] ejona86 commented on #1590
I spoke with @ctiller and have this rough design that could suit both Java and C core.

I think any "policy" should probably be set on CallOptions (with maybe a default specified in ManagedChannelBuilder).

The design here is based on the same basic approach taken with the Load Balancer, have an object that can direct the core what to do, which seems to have worked well. The proposal is to have so

[2016-03-24 20:18] ejona86 commented on #1590
@lukaszx0, @elandau, FYI

[2016-03-24 20:23] zhangkun83 commented on #1463
Instead of doing DNS resolution periodically, we will do it when ever the channel has failed to connect all addresses. We believe that's enough, and are yet to find a use case that would make periodic resolution necessary.

Because we use `InetAddress.getAllByName()` for DNS resolution, which is subject to the [JVM DNS cache](http://docs.aws.amazon.com/AWSSdkDocsJava/latest/DeveloperGuide/java-dg-

[2016-03-24 21:01] elandau commented on #1590
@ejona86 I like this design.  Regarding the factory aspect how about returning a RetryContext from start()?  I think it would make it clearer as to what tracks state.

[code]

[2016-03-24 21:05] ejona86 commented on #1590
@elandau, I think returning the context from start is a good idea, since it would allow using final/constructor. Other places we can do that (like Call, Stream, *Transport), but I do think we can do so here. We may want to tweak the name start(), but that is bike shedding that can be done later.

[2016-03-24 22:01] zhangkun83 commented on #1463
I have a second thought and only refreshing on connection failures may not suffice.

Consider an idle channel, it may not maintain a live connection, thus no connection failures to trigger refreshing. When we make an RPC on that channel, the addresses may be stale and there are two possible outcomes:
- Best case: old addresses are no longer connectable, thus we gets connection failures which trigg

[2016-03-24 23:57] lukaszx0 commented on #1590
Thanks for putting this together Eric.

FYI, in our PR (https://github.com/grpc/grpc-java/pull/1570), there's `RetryPolicy` which looks like this:

[code]

It is now possible to do this after my changes in https://github.com/grpc/grpc-java/pull/1587

[2016-03-25 01:04] lukaszx0 commented on #1590
cc @jhump @ericzundel

[2016-03-25 05:24] ctiller commented on #1463
Don't trigger the resolution until you need to connect?

On Thu, Mar 24, 2016, 3:02 PM Kun Zhang <notifications@github.com> wrote:

[2016-03-25 11:56] buchgr commented on #1581
Fixed by #1585

[2016-03-25 11:56] #1581 closed

[2016-03-25 12:47] buchgr commented on #1589
I guess I haven't thought deeply about it. What's the problem with implementing `Status.(equals()|hashCode()` to only use `code`?

[2016-03-25 15:34] carl-mastrangelo commented on #1581
Whats new in CR4?

[2016-03-25 15:42] ejona86 commented on #1581
@carl-mastrangelo, at the very least netty/netty#4938. I don't know if we are hitting netty/netty#4965, but it would be good to rule out the possibility.

[2016-03-25 17:47] ejona86 opened #1597 "Stop using grpc-all"
grpc-all appears convenient, but it sort of makes a mess because it repackages. We could remove the repackaging logic and have it just pull in other dependencies, but it seems maybe better to have users just depend on the pieces they need.

Related: netty/netty#4671

[2016-03-25 17:47] ejona86 commented on #1420
Split off #1597 for removing/dealing with grpc-all. This is trivial to fix short-term and doesn't require any decision making.

[2016-03-25 18:10] buchgr commented on #1581
@carl-mastrangelo and https://github.com/netty/netty/pull/4983 and https://github.com/netty/netty/pull/4974 :smile:  #ShamlessPlug

[2016-03-25 20:59] #1493 closed

[2016-03-25 21:33] ejona86 commented on #1330
I saw a flake of this with #1594
[code]

[2016-03-25 21:36] #1500 closed

[2016-03-25 21:38] #1420 closed

[2016-03-25 22:20] zhangkun83 opened #1599 "Only events from NameResolver-produced address should trigger resolution refresh"
Currently a failure on any `TransportSet` will trigger name resolution. However, the addresses of a `TransportSet` may also originate from an external load-balancing service, e.g., in `GrpclbLoadBalancer`. A failure on such `TransportSet` shouldn't trigger name resolution.

[2016-03-25 22:21] zhangkun83 commented on #1463
A few questions to consider:

1. When to trigger the resolution
 - 1a: After disconnection/failure
 - 1b: Before connection
2. Invalidate old addresses before re-resolution?
 - 2a: invalidate
 - 2b: do not invalidate

@ctiller prefers 1b+2a, because it provides the best address freshness, with the caveat that it may add some latency to requests that trigger new connections, even if the addresses h

[2016-03-25 22:33] zhangkun83 opened #1600 "Round-robin LB should be aware of and skip bad servers"
The round-robin logic in `GrpclbLoadBalancer` should listen to transport life-cycle events (`handleTransportReady()` and `handleTransportShutdown()`) to learn what servers are not usable, so that it can skip them. The round-robin logic will also be shared with the simple round-robin `LoadBalancer` (which is yet to be implemented).

[2016-03-25 22:56] zhangkun83 opened #1601 "Trigger name resolution also when a live connection closed"
#1591 doesn't cover the case where some addresses have changed in the name system while some are still there and usable. This may end up trying to connect old addresses each time we reconnect. The solution is to also trigger a name resolution after a live connection has been closed.

[2016-03-29 02:40] hsaliak opened #1605 "Ensure that gRPC Java implementation conforms to standard status codes in gRPC"
Error code specification - https://github.com/grpc/grpc/blob/master/doc/statuscodes.md

[2016-03-29 16:14] ejona86 opened #1606 "Message serialization occurs on transport thread"
`TransportSet` is calling `setTransport()` [from the `transportReady` notification](https://github.com/grpc/grpc-java/blob/a40b686891920b825171ed90c81fc36d962e75d1/core/src/main/java/io/grpc/internal/TransportSet.java#L338). `setTransport()` eventually ends up [serializing messages](https://github.com/grpc/grpc-java/blob/eccd231/core/src/main/java/io/grpc/internal/DelayedStream.java#L86). This mea

[2016-03-29 17:54] ejona86 opened #1607 "testConfigureDeadlineNanoTime is flaky"
As seen for https://travis-ci.org/grpc/grpc-java/jobs/119128181 (rerun, so log no longer visible):
[code]

[2016-03-29 18:48] ejona86 opened #1609 "Codegen should observe lite=true flag instead of LITE_RUNTIME"
The LITE_RUNTIME option is to go away in protobuf because it makes using the same proto on server-side and client-side problematic. Instead, an option is going to be passed to protoc to enable Lite. We should do the same for gRPC. We can use lite=true for now; we can [watch protoc](https://github.com/google/protobuf/blob/master/src/google/protobuf/compiler/java/java_generator_factory.cc#L61) to se

[2016-03-29 20:17] ejona86 opened #1612 "Codegen should include proto-defined service/method comments in JavaDoc"

[2016-03-29 20:29] ejona86 commented on #1612
Reference code: https://github.com/google/protobuf/blob/master/src/google/protobuf/compiler/java/java_doc_comment.cc#L141

https://github.com/google/protobuf/blob/d2c7fe6bc5d28b225f6202684574fe4ef9e3a3a8/src/google/protobuf/descriptor.h#L131
https://github.com/google/protobuf/blob/master/src/google/protobuf/descriptor.proto#L728

[2016-03-29 20:54] #1601 closed

[2016-03-29 23:16] #1546 closed

[2016-03-29 23:22] #1609 closed

[2016-03-30 00:19] ejona86 opened #1614 "android-interop-testing fails to ProGuard"
It may just be my machine, but android-interop-testing is failing to build. It may have appeared to work before because I wasn't doing "gradle install" of grpc first, however that doesn't seem like a full explanation given some other things I've been doing. In some ways I hope I've just hosed something on my machine.

[2016-03-30 15:38] ejona86 opened #1616 "CallOptionsTest.testToString is flaky"
As seen at https://travis-ci.org/grpc/grpc-java/jobs/119406156, since rebuilt (so logs lost):
[code]

[2016-03-30 15:39] ejona86 opened #1617 "DeadlineTest.shortDeadlineEventuallyExpires is flaky"
As seen at https://grpc-testing.appspot.com/job/gRPC-Java-PR-Windows/948/console
[code]

[2016-03-31 00:21] #1607 closed

[2016-03-31 16:16] buchgr commented on #1617
this and #1616 might have something to do with my changes. So I ll fix them.

[2016-03-31 16:54] ejona86 commented on #1617
I think @carl-mastrangelo already is as part of #1619.

[2016-03-31 18:05] ejona86 commented on #681
I still feel really good about adding the trailer Metadata to Status{,Runtime}Exception. Let's try to finish this up in the coming weeks. I'd be pretty disappointed if we still didn't have a decision by 1.0.

[2016-03-31 18:50] ejona86 commented on #1551
You should have no need to close and reopen a channel, and we aren't very interested in making that easy. The Channel internals should be handling that without any LoadBalancer interaction.

[2016-03-31 23:21] #1617 closed

[2016-03-31 23:23] #1616 closed

[2016-04-01 07:54] trknz opened #1621 "Add an ability to run protobuf server as a Servlet 4"
Pls add an ability to run a protobuf v3 server as a Servlet 4 on any server with the Servlet 4 support.

[2016-04-01 08:26] IamFive opened #1622 "Anyone use gRPC in prod evn? please share your practice"
As title, please leave your product name, experience, anything you want to share

thanks

[2016-04-01 15:49] ejona86 commented on #1621
Dump from what I wrote on SO to have the information in one place:

[2016-04-01 21:27] emmenlau opened #1625 "javaPluginPath in gradle build does not work for me"
I'm building protobuf, grpc and grpc-java all from scratch, but without heavy customization. This mostly works, however grpc-java does only compile and work for me if I patch the gradle build:
[code]
I don't know why I seem to need a change in javaPluginPath? Is this due to my custom build of protobuf? I did not make any (intentional) changes to protobuf that would ring a bell...

[2016-04-01 21:33] ejona86 opened #1626 "Context.fork shouldn't return a CancellableContext"
Just because someone wants to fork a Context, doesn't mean they want that Context to be cancellable. In addition, it requires the caller to close the CancellableContext when they are done. Since it is trivial for the caller to also call `withCancellation()`, it seems best to return a plain Context.

@louiscryan, thoughts?

[2016-04-01 21:39] ejona86 commented on #1625
Are you using the gradle wrapper? Gradle's behavior changed in a recent version. Using ./gradlew should work without issue.

[2016-04-01 23:35] emmenlau commented on #1625
Thanks for the hint, I did not use gradlew, sorry for that!

[2016-04-01 23:35] #1625 closed

[2016-04-02 20:16] njovy opened #1628 "Support OkHttp3?"
It's been a while since stable OkHttp3 has been released and libraries depending on OkHttp started to support OkHttp3 as well. Is there any plan to support OkHttp3?

[2016-04-04 16:39] orian opened #1629 "io.grpc.StatusRuntimeException: INTERNAL: Failed to frame message"
message Test {
      bytes test = 1;
    }

The above runtime exception is thrown when a field of type `[]byte` is set to `null` and one tries to use it as service argument.

The code is executed on Android. I use protobuf-nano.

Default value for `[]byte` is `com.google.protobuf.nano.WireFormatNano.EMPTY_BYTES`

The error is hard to spot. Is this stated in a documentation? Maybe it should be trea

[2016-04-04 17:15] ejona86 commented on #1629
This appears to be a nano-proto specific problem, so please file an issue with https://github.com/google/protobuf instead. In general, nano proto strongly favors performance over ease of use.

[2016-04-04 17:15] #1629 closed

[2016-04-04 17:18] orian commented on #1629
Thanks.

[2016-04-04 17:19] orian commented on #1629
Thanks. I got it. Just want to leave a trail for those to have this problem.

[2016-04-04 17:27] ejona86 commented on #1628
We've not discussed it too much. I believe that most gRPC users are still on OkHttp 2. I'm not against moving to OkHttp3, but we wouldn't want to support both versions.

[2016-04-05 18:18] ejona86 commented on #1614
Assigning to @carl-mastrangelo to check whether it is just my computer.

[2016-04-05 20:17] zsurocking opened #1632 "deadlineExceeded interop test is flaky"
intervalUs is used for consecutive responses. We cannot use it for the only response and expect a delay from server sending the response.

[2016-04-05 21:41] ejona86 commented on #1632
It has a delay _before_ the message that included it, so I would disagree

https://github.com/grpc/grpc/blob/master/doc/interop-test-descriptions.md#observe-responseparametersinterval_us

[2016-04-05 22:03] zsurocking commented on #1632
You're right.
As discussed in #1633, the proto definition is a little ambiguous. We're doing it correctly as a client according to the spec. And I'll fix the service implementation instead.

[2016-04-05 22:03] #1632 closed

[2016-04-06 07:39] thefallentree opened #1636 "Do I need to use common-pools to wrap ManagedChannel"
Hi,

Do we need to implement a pool of ManagedChannel on the client side?

 We are currently sharing a single ManagedChannel to a single target on whole application, but we are seeing some pretty weird behavior that channel went into permanent DEADLINE_EXCEEDED mode.

We havn't been able to replicated it locally and we are trying anything we can..

Thanks

[2016-04-06 07:46] buchgr commented on #1636
what gRPC version are you using?

I don't understand. Could you please elaborate?

Also, we have a better chance of fixing your problem if you could share some code and additional details.

Thanks!

[2016-04-06 07:48] thefallentree commented on #1605
We were seeing some INTERNAL error codes

[2016-04-06 07:59] buchgr commented on #1636
Also, is the garbage collector running a lot and are the pause times similar or longer to your call deadlines?

[2016-04-06 08:04] thefallentree commented on #1636
we are using 0.13.2 latest release. We don't seem to be triggering GC , our call deadlines are pretty big, mostly 30s.

Cheers

[2016-04-06 09:47] buchgr commented on #1636
no that should not be necessary. also deadlines aren't per channel, but per client call.

hmm. not sure we can help without additional details...

[2016-04-06 10:54] thefallentree commented on #1636
Thanks for the information, we will try to gather some more data on our side.

It's been pretty random, as we have been hit by this phantom issue several times in the last several days.

[2016-04-06 10:55] thefallentree commented on #1622
We are currently using it, you should know ,this repo is only for grpc-java implementation, if you need general answers, you probably need to post in GRPC repo.

also, people kinda need a reason to reply.

[2016-04-06 11:50] buchgr commented on #1636
@thefallentree

what does that mean exactly? After some point in time every RPC fails with DEADLINE_EXCEEDED?

[2016-04-06 14:14] buchgr commented on #1584
@sreecha
I have got a Java implementation with a similar feature set as the C++ client, however I would like to support all interop tests. So my questions are:

- Should the interop tests all use plaintext communication?
- What about the RPCs that need Authentication? Where to specify the e.g. OAuth2 credentials?

thanks!

[2016-04-06 14:22] buchgr commented on #1584
@sreecha
Also, regarding the flags that will be removed from the C++ client (like metrics_collection_interval_secs and sleep_duration_ms), should we just use the default values in the java client i.e. collect metrics every 5 seconds and don't sleep between calls?

[2016-04-06 15:53] ejona86 commented on #1605
@thefallentree please create a new issue with the error information so that we have something actionable to go on. Note that as far as this issue is concerned, INTERNAL error codes are allowed.

[2016-04-06 16:38] sreecha commented on #1584
/cc @ejona86 and @louiscryan

Hi @buchgr ,
- I am not sure how the current interop tests are implemented in java (for rpcs that need authentication or whether they all use plain text communication). Can you please check with either Louis or Eric ?

- Regarding `metrics_collection_interval_secs`:  In C++, I wanted to keep the `metrics_server.cc` (the one that implemented `metrics.proto`) generic an

[2016-04-06 17:37] buchgr commented on #1584
@sreecha thanks!

Oh, so the java stress test client only needs to work with the java interop server? I figured it also needs to work with the c++ interop server and in that case, details like whether to use TLS and authenticaton seemed to me like they should be put in the spec?

[2016-04-06 17:41] sreecha commented on #1584
Hi @buchgr ,
The java client should be able to work with C++ (and other languages) interop servers as well (but that is already the case with current interop tests.. i.e java interop client already works with interop servers in all languages). So I am assuming it shouldn't be difficult for the stress test client..  I do not know more specific details (sorry : ( )....Eric or Louis should be able to

[2016-04-06 17:54] buchgr commented on #1584
Hi @sreecha ,

thanks for your fast replies :-). I think I phrased my question wrong. I ll give it one more try.

My understanding is that the stress testing framework launches a interop server, and all the clients test against this server. Correct? So I was wondering if that server requires all the clients to talk TLS with a specific certificate and/or specific auth credentials?

Thanks!

[2016-04-06 18:08] ejona86 commented on #1636
@thefallentree, what sort of networking environment are you in? Could it be possible that the network (NAT, Load Balancer, etc) is breaking the TCP connection but not informing your client? We aren't currently doing manual keepalive so there may be some cases still which may cause O(minutes) to detect the connection failure. (I'm working on fixing that though.)

The only reason I would suggest hav

[2016-04-06 19:31] sreecha commented on #1584
Sorry for my vague replies.

You are correct that the framework launches an interop_server and several stress test clients against that server.

Currently it does _not_ expect the clients to talk TLS.

This is because, currently I did not implement any interop tests that require tls, oauth2 or jwt in my C++ stress client and I do not know specific details like where is the test-cert installed, whe

[2016-04-06 23:33] ejona86 commented on #1614
@zsurocking was able to reproduce on his computer. It's not just me.

[2016-04-07 12:47] buchgr commented on #1584
@sreecha thanks so much!

[2016-04-07 20:33] #1460 closed

[2016-04-07 23:05] ejona86 opened #1645 "CallOptionsTest.withDeadlineNanoTime is flaky"
[code]

As seen (may have been restarted):
https://travis-ci.org/grpc/grpc-java/jobs/121289248
https://travis-ci.org/grpc/grpc-java/jobs/121487416
(<-33620603 ns from now> and <-2319629 ns from now> should have been within <20000000ns> of each other)

[2016-04-07 23:10] ejona86 opened #1646 "StubConfigTest.testConfigureDeadlineNanoTime is flaky"
[code]

As seen in (may have been restarted):
https://travis-ci.org/grpc/grpc-java/jobs/121487417
https://travis-ci.org/grpc/grpc-java/jobs/121488444 (20000000 < 24579334)

https://travis-ci.org/grpc/grpc-java/jobs/118573602, which was before assertEquals float vs double fix, so it had:
[code]

[2016-04-07 23:25] carl-mastrangelo commented on #1622
Hi @IamFive ,

The best place to discuss this and get answers would be on the public gRPC forum here:  https://groups.google.com/forum/#!forum/grpc-io

[2016-04-07 23:25] #1622 closed

[2016-04-08 00:25] ejona86 commented on #1646
https://travis-ci.org/grpc/grpc-java/jobs/121306624 (20000000 < 27499937)

[2016-04-08 00:25] ejona86 commented on #1645
https://travis-ci.org/grpc/grpc-java/jobs/121306337
<-31362816 ns from now> and <-1433587 ns from now> should have been within <20000000ns> of each other

[2016-04-08 09:42] mwitkow opened #1648 "Add KeepAlive support"
With our sue of gRPC Java across Google Compute Engine (GCE) L3 Load Balancers (Network Load Balancers), we seem to be hitting similar issues we had with gRPC in Go:
https://github.com/grpc/grpc-go/issues/536

Basically Google L3 load balancers silently drop long-lasting TCP connections after `600` seconds.

While we were able to work around the issue by specifying a custom Dialer in Go:

[code]

[2016-04-08 11:25] lukaszx0 commented on #1299
Solution proposed by @jhump was incorporated in #1634 and landed on master as https://github.com/grpc/grpc-java/commit/f8b71e72b3a596f57752938fb5441f1f5ecda0b6

[2016-04-08 11:25] #1299 closed

[2016-04-08 15:58] ejona86 commented on #1646
https://travis-ci.org/grpc/grpc-java/jobs/121710941 (20000000 < 22392102)

[2016-04-08 16:32] ejona86 commented on #1648
I'm currently trying to push forward a cross-language grpc spec for HTTP/2 PING-based keep alives and have already been investigating this pretty deeply. I'm hoping to get something public "soon." The design leaves open the possibility of supporting TCP keepalives in addition, but it wasn't going to be an initial focus.

Go's TCP Keepalive leaves something to be desired because it does not expose

[2016-04-08 16:52] ejona86 opened #1652 "Exceptions thrown in StreamObserver.onNext() may be swallowed"
For unary calls it appears the exception is basically guaranteed to be swallowed.
See #1638 for some discussion. Basically we try to fail the call with a Status, but if the call already completed successfully (which is especially likely for unary calls) the exception is thrown away.

[2016-04-08 16:55] ejona86 commented on #1519
@louiscryan, do you consider this done, or do we want to leave it open for client-side?

[2016-04-08 16:56] ejona86 commented on #1551
Closing this because I don't think we'll end up having an example, other than the other implementations LBs we have.

[2016-04-08 16:56] #1551 closed

[2016-04-08 17:01] louiscryan commented on #1519
I'd like to leave it open for client-side though its a bit less of a
priority there

On Fri, Apr 8, 2016 at 9:55 AM, Eric Anderson <notifications@github.com>
wrote:

[2016-04-08 17:29] ejona86 commented on #1645
https://travis-ci.org/grpc/grpc-java/jobs/121581408
<-32981662 ns from now> and <-2647022 ns from now> should have been within <20000000ns> of each other

[2016-04-08 17:30] ejona86 commented on #1645
https://travis-ci.org/grpc/grpc-java/jobs/121289248 (again)
<-48887404 ns from now> and <-2280743 ns from now> should have been within <20000000ns> of each other

[2016-04-08 17:31] ejona86 commented on #1646
Before the recent fix:
https://travis-ci.org/grpc/grpc-java/jobs/120967086 (20000000 < 33037554)

[2016-04-08 17:33] ejona86 commented on #1645
https://travis-ci.org/grpc/grpc-java/jobs/121757443
<-32549978 ns from now> and <-1435954 ns from now> should have been within <20000000ns> of each other

[2016-04-08 17:40] ejona86 commented on #1645
https://travis-ci.org/grpc/grpc-java/jobs/121761316
<-21761389 ns from now> and <-1378367 ns from now> should have been within <20000000ns> of each other

[2016-04-08 17:40] lukaszx0 opened #1653 "Conventions and style"
I've recently become an active contributor to the project and managed to have few of my PRs merged. My PRs received a lot of great feedback and good comments but also A LOT of convention/code style related ones. Everytime I receive one I feel really bad that I've wasted both mine and reviewer's time and only made whole review process longer by result. I tried really hard to improve in this area an

[2016-04-08 17:41] #1645 closed

[2016-04-08 17:49] ejona86 commented on #1653
Given our style guide, both of the following are acceptable:
[code]

Although the style guide also says to keep things consistent, it's important to note that the first method _can't_ align its arguments with the parenthesis. So this isn't _necessarily_ a difference in style. I do know at other times existing style has been ignored.

For this specific example I'll say that as a team we had slowly

[2016-04-08 17:50] carl-mastrangelo commented on #1653
Mass changing is bad, I agree.  Changing a line is owning that line, and commits to being the blame person for it.  Only style for code that you understand should be changed.

Style is tricky, because multiple code bases interact with each other and the style guides conflict on the boundaries (gluing netty to grpc for instance).  Obviously I prefer Google's style since I know it the best.  That sa

[2016-04-08 17:53] carl-mastrangelo commented on #1653
Also for line wrapping, both are acceptable, but as @ejona86 mentioned consistency is important.   The amount of code internally using the minimal indent (only +4) is enormous, and fits in to the expectations of a huge (majority?) of our users.    I prefer to not surprise them, so short indent is my preference.

[2016-04-08 18:10] ejona86 commented on #1645
https://travis-ci.org/grpc/grpc-java/jobs/121762868 (from before the fix)
<-26339591 ns from now> and <-19607344 ns from now> should have been within <20000000ns> of each other

[2016-04-08 18:16] mwitkow commented on #1648
Please do. HTTP/2 PING as a healthcheck signal would be *invaluable* when implementing something like an DNS-SRV based client-side load balancer.

Any ETA on these shenanigans? :>

[2016-04-08 18:22] lukaszx0 commented on #1648
@mwitkow FWIW, http/2 pings are [already implemented in Java](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/Http2Ping.java).

We're just missing cross-language consensu on what exactly and how we want to do it.

[2016-04-08 20:05] ejona86 commented on #1648
Here is an except from the document I'm trying to get agreement on:

TCP keepalive is hard to configure in Java and Go. Enabling is easy, but one hour is far too infrequent to be useful; an application-level keepalive seems beneficial for configuration.

TCP keepalive is active even if there are no open streams. This wastes a substantial amount of battery on mobile; an application-level keepalive

[2016-04-08 20:21] #1411 closed

[2016-04-08 20:47] #1459 closed

[2016-04-08 21:25] #1614 closed

[2016-04-08 21:38] ejona86 opened #1655 "Android example fails to build"
This is basically the equivalent to #1614

[2016-04-08 23:18] smparkes commented on #299
So all throwables turn into UNKNOWN?

What is the model then for exposing information? How does the application go about doing that? Deliver it in-band via onNext?

[2016-04-08 23:23] smparkes commented on #299
Ah. I got it: https://groups.google.com/forum/#!msg/grpc-io/a1oROAX_lB4/mbKIB_eYCgAJ

+1/0/-1 on a PR that mentions this in the `StreamObserver` javadocs?

[2016-04-08 23:27] ejona86 commented on #299
+1 for a PR that mentions that in the `StreamObserver` JavaDocs, but... there will be some effort needed to do it right because there are 4 different cases: client/server x sending/receiving.

[2016-04-09 13:07] lukaszx0 commented on #1648
cc @jhump

[2016-04-09 16:00] smparkes commented on #299
Ack.

Maybe this requires a page of its own. It's subtle and important.

I'll hold off and collect notes as I audit our code in all these places for desired behavior, and then draft something.

[2016-04-11 06:09] jhspaybar opened #1657 "OutOfBounds exception with NameResolvers and TransportSet"
Long story short, it appears there's an explicit array.get(0) that happens on the first outbound call, but if the NameResolver hasn't found any servers yet, this causes an exception.  Stack trace can be found below(SpectatorInterceptor is a proprietary metrics component, and the EurekaNameResolver simply uses Eureka to resolve a set of IP + port that can then be used to load balance).  In the case

[2016-04-11 17:55] jhspaybar commented on #1657
Worse yet, this appears to cause some real nastiness on the client interaction.  It appears the first call fails, and then the second attempted call on the same client blocks forever.

`
2016-04-11 10:50:55,382 ERROR com.netflix.alphagrpc3.grpc.ClientTest$2:123 [Thread-12] [run] Before call!
2016-04-11 10:50:55,393 ERROR com.netflix.alphagrpc3.grpc.ClientTest$2:138 [Thread-12] [run] Call failed
ja

[2016-04-11 18:27] ejona86 commented on #1657
The second issue may be related to #1407 (I don't know; I've not looked into it yet).

[2016-04-11 19:31] jhspaybar commented on #1657
Based on the description it almost certainly is related, the exception bubbles up through the onUpdate method.

[2016-04-11 20:49] carl-mastrangelo commented on #725
I think this is actually complete.  Marking as done.

[2016-04-11 20:49] #725 closed

[2016-04-11 21:52] zhangkun83 commented on #1606
Pre-serializing the messages means an extra copy and extra memory usage. An executor for `setTransport()` sounds like the better solution.

[2016-04-11 22:02] ejona86 commented on #1606
@zhangkun83 SGTM

[2016-04-12 03:49] #1533 closed

[2016-04-12 14:26] nmittler commented on #1102
@ejona86 what exactly do we want to change here? Has anyone raised the Netty issue?

[2016-04-12 14:35] nmittler commented on #1053
@ejona86 @carl-mastrangelo do we have a test that reproduces this?

[2016-04-12 15:46] carl-mastrangelo commented on #1053
I don't believe so.

[2016-04-12 16:00] ejona86 commented on #1053
I think I may have run into it reliably when using LocalChannel instead of loopback for NettyTransportTest, because LocalChannel behaves slightly differently when the endpoint isn't available.

[2016-04-12 16:03] ejona86 commented on #1102
I think this has been fixed already in netty/netty#4938.

[2016-04-12 16:03] #1102 closed

[2016-04-12 17:00] zhangkun83 opened #1660 "Add an API on Channel for getting Channel security configuration"
As required by #874, auth interceptors needs to know whether the channel is using secure transport, something like
[code]

The features are not necessarily orthogonal. For example, `AUTHENTICATION` is only useful when `INTEGRITY` is there, so we may want to make `AUTHENTICATION` automatically imply `INTEGRITY`. The enum may also be expanded when necessary.

[2016-04-12 19:46] #1205 closed

[2016-04-12 20:29] ejona86 opened #1663 "Need to remove usages of Guava's Throwables.getCausalChain"
It is marked `@Beta`, so isn't appropriate in a library.

[2016-04-12 23:24] carl-mastrangelo opened #1664 "Solve formatting problems once and for all"
...by submitting to our benevolent autonomous overlords.  The Google standard formatter would solve all formatting debates, and could be pulled in as part of our tests:

https://github.com/google/google-java-format

[2016-04-12 23:28] ejona86 commented on #1664
We "only" need Gradle integration.

[2016-04-12 23:40] #1606 closed

[2016-04-13 10:21] yinheli opened #1665 "ServerInterceptor close trigger MessageDeframer is already closed"
I want implements `ServerInterceptor` for intercepting incoming calls to check valid authentication credentials.

Here is my java env and code snippet.

question is:

* invoke `serverCall.close` and return null trigger NPE

exception stack:

[code]

* invoke `serverCall.close` then return `return new ServerCall.Listener(){} // ` empty Listener, trigger `MessageDeframer is already closed` Exception

[2016-04-13 16:03] ejona86 commented on #1665
The `IllegalStateException: MessageDeframer is already closed` looks to be a bug. I would expect the interceptor to "serverCall.close then return return new ServerCall.Listener(){}"

[2016-04-13 16:20] ejona86 commented on #946
SSLSession was exposed in #1506, and API made more public in #1564

[2016-04-13 16:20] #946 closed

[2016-04-13 18:48] #1053 closed

[2016-04-13 18:48] #1522 closed

[2016-04-13 19:10] carl-mastrangelo opened #1669 "GrpcUtil.getGrpcUserAgent creates a lot of garbage"
`GrpcUtil.getGrpcUserAgent` creates a lot of garbage based on profiling, showing up in the top 20.  It appears that this call was designed to mostly static and not change per call.

We should find a way to initialize this at channel creation time to make this not so messy.

[2016-04-13 19:15] nmittler commented on #924
@carl-mastrangelo do we still need this or can it just be closed?

[2016-04-13 19:17] carl-mastrangelo commented on #924
Probably can be closed out.

[2016-04-13 19:17] #924 closed

[2016-04-13 19:59] buchgr commented on #1479
I assume you mean an example?

[2016-04-13 20:07] nmittler commented on #1605
After code inspection, everythin seems correct except for the cases below:

Case | Expected | gRPC-Java
---- | ----- | ----
| Compression mechanism used by client not supported at server | UNIMPLEMENTED | [INTERNAL](https://github.com/grpc/grpc-java/blob/fd8fd517d21165e1ad97a063861ec0790ed2c610/core/src/main/java/io/grpc/internal/ServerCallImpl.java#L90) |
| Server temporarily out of resources (e.

[2016-04-13 20:16] nmittler commented on #1605
@hsaliak  @ejona86 audit is done ... next step is to determine what (if any) issues to create to address the discrepancies.

[2016-04-13 20:22] buchgr commented on #28
I ll work on this next. Assuming the `connectivity and semantics api` document is still recent @ejona86?

[2016-04-13 20:26] ejona86 commented on #28
@buchgr, yes it is still recent. I do know that LoadBalancing will come into play and I don't think we have the states defined for it, so it would take some thought.

[2016-04-13 20:29] ejona86 commented on #1605
UNIMPLEMENTED in wrong in the spec; that is not appropriate. We need to have a conversation to fix the spec. JSON failure should swap to INTERNAL. We need a discussion for problems with unary calls.

[2016-04-13 20:31] ejona86 commented on #1479
I assumed it was include an example that demonstrates interacting with flow control.

[2016-04-13 20:56] carl-mastrangelo commented on #72
I am marking this as closed, even though there may be more followup work for exposing the SocketAddress.

[2016-04-13 20:56] #72 closed

[2016-04-13 21:51] zhangkun83 commented on #1657
@jhspaybar While we should probably fix #1407 to prevent further calls from being stuck, I wanted to know why your name resolver would call `onUpdate()` with an empty list.

[2016-04-13 23:37] ejona86 commented on #1655
It isn't happening now. Either user error or it is now fixed.

[2016-04-13 23:37] #1655 closed

[2016-04-14 01:24] jhspaybar commented on #1657
Mostly because it's being lazy :)  We have a Eureka API that just streams back a complete snapshot of IP+port pairs every ~90 seconds, and we essentially just responseList.map(this::toResolvedServerInfos) and pass it straight in to onUpdate.  For now, we're just further doing a size check and calling listener.onError(Status.UNAVAILABLE.withDescription("Eureka URI found no servers.")) when it's emp

[2016-04-14 01:29] carl-mastrangelo opened #1670 "DefaultHttp2HeadersEncoder.encodeHeaders are slow"
After GC and syscalls, `io.netty.handler.codec.http2.DefaultHttp2HeadersEncoder.encodeHeaders` takes the most CPU on a simple ping pong stress test. It accounts for about 3.3% of total program time.  The offending line is:

https://github.com/netty/netty/blob/83c349ffa94d3992c4ee511d3625afc0c97c12bb/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2HeadersEncoder.java#L68

I am no