[2015-01-07 18:42] ejona86 opened #5 "Adopt token-based flow control from reactive-streams"

[2015-01-07 18:45] ejona86 opened #6 "Implement outbound flow control"
Should be token-based a la reactive streams. Although it also seems that maybe we will only ever have at most 1 token passed to the application.

Currently we provide no method of pushback to the application and buffer infinitely as the application sends.

[2015-01-07 18:49] ejona86 opened #7 "Investigate excessive flushing in Netty"
Determine ways to reduce number of flushes we perform. For example, if the header frame is being sent, flushing afterward is generally a waste since a DATA frame typically follows. We want methods that allow smart semi-automatic flushing or using knowledge from application layer.

[2015-01-07 18:54] ejona86 opened #8 "Optimize buffer usage in MessageFramer"
We currently allocate a large non-direct buffer per stream due to MessageFramer, only to copy immediately out of it. We should instead write directly to the transport-native buffer, which will cause us to have a WriteableBuffer or some such like our current Buffer class that is ready-only.

[2015-01-07 18:57] ejona86 opened #9 "Choose benchmark framework: JMH vs Caliper"

[2015-01-08 23:25] louiscryan opened #10 "Unary requests always send an empty DATA frame with EOS=true to close stream"
This is a performance issue. We should be able to set EOS=true on the DATA frame with the request payload rather than having to always write N+1 DATA frames. Likely fix is in frame interfaces.

[2015-01-16 23:24] maniksurtani opened #16 "Do we need both gradle and maven?"
Keeping dependencies and other details in `pom.xml` and `build.gradle` will become a tedious overhead.  Any reason to support two build systems?

[2015-01-20 19:15] ejona86 opened #17 "Race for Netty between cancel and stream creation"
AbstractClientStream.cancel won't cancel the stream on the wire if it appears the stream has not yet been allocated, as is described by the comment:

[code]

However, what happens if this is the case, is that the transport is not notified of the stream destruction, and the stream will still eventually be created by the transport and not be cancelled. This issue does not seem a problem with the OkH

[2015-01-20 19:56] ejona86 opened #18 "Decompression occurring in Transport thread"
Apparently we are decompressing in the transport thread just so that we are able to provide the correct byte length to messageRead(). It seems we should remove the length argument to messageRead(), use Buffers.openStream(nextFrame, true), pass that stream to messageRead() (instead of calling toByteArray), and then set nextFrame = null.

[2015-01-20 22:13] ejona86 opened #19 "Change base package name to io.grpc"
Lots of renames, but not really hard.

[2015-01-20 23:57] ejona86 opened #21 "Remove Guava's Service from our immediate API"
Service doesn't gain us anything and is just painful for our users. We should remove it and just make our own API (start and stop, plus health-checking API).

This has already been done for Channel. It still needs to be done for Server, but I'm already working on that.

[2015-01-21 00:01] ejona86 opened #22 "TLS support for OkHttp when not running on Android"
OkHttp transport current accepts a SSLSocketFactory which when on Android is provided by the OS. For testing when not running on Android we don't have a way to do TLS/ALPN. We need one.

[2015-01-21 00:10] ejona86 opened #23 "Figure out what names we want for Client Foos vs Server Foos"
We have Call on both Client and Server. When adding the server, we chose ServerCall as the name of the server-side Call, and discussed renaming the client-side to ClientCall. ClientInterceptor was named based on this idea. However, the rename hasn't happened yet and now some have suggested having the Client names simply lack "Client" (so it would remain "Call"). It seems it has simply been too lon

[2015-01-21 00:13] ejona86 opened #24 "Add unit tests to AbstractServerStream"
Some unit tests from NettyServerStream are probably appropriate to move.

[2015-01-21 00:14] ejona86 opened #25 "Add unit tests for AbstractClientStream"
Some unit tests from NettyClientStream are probably appropriate to move.

[2015-01-21 00:19] ejona86 opened #26 "Add tests for convert non-200 HTTP status codes to GRPC codes"
The GRPC runtime should handle receiving HTTP2 responses with :status set to something other than 200. The runtime will need to map this to a GRPC status

[2015-01-21 00:20] ejona86 opened #27 "Add unit tests for ChannelImpl"

[2015-01-21 00:55] ejona86 opened #28 "Channel-state API"
At this moment, creating TCP connections are created lazily on first call of a Channel, and if the TCP connection goes down it isn't reconnected until a subsequent call. However, some users will want the TCP connection to be created and maintained during the lifetime of the Channel.

This "constant connection" behavior does not make as much sense when accessing a third party service, as the servic

[2015-01-22 18:57] ejona86 opened #30 "Netty HTTP/2 negotiation fails silently if ALPN/NPN in classpath, but jetty_alpn not in bootclasspath"
If you properly have ALPN/NPN in your classpath, but lack jetty_alpn in your bootclasspath, then we just hang after sending a SETTINGS frame. ALPN never happens, but "unsupported" isn't even called because that is normally called by jetty_alpn.

This makes it hard for users to determine what is wrong with their setup.

The only idea I have for a fix is to set a boolean when our ClientProvider is c

[2015-01-22 19:48] #5 closed, assigned to nmittler

[2015-01-22 22:37] ejona86 opened #35 "Remove Guava's Service from transport API"
For similar reasons as #21, but more for ourselves instead of our users.

This will allow us to be much more precise and have nuances explicitly like how a connection can GOAWAY for new streams but keep the old streams processing.

[2015-01-23 01:23] #10 closed, assigned to ejona86

[2015-01-26 18:01] ejona86 opened #36 "Idea config breaks clean gradle build"
[code]

Commenting out line 31 works around the problem, but obviously doesn't solve it:

[code]

[2015-01-26 23:39] #36 closed, assigned to nobody

[2015-01-27 17:00] #16 closed, assigned to nmittler

[2015-01-27 17:22] #21 closed, assigned to ejona86

[2015-01-27 19:26] #19 closed, assigned to nmittler

[2015-01-27 19:40] nmittler opened #43 "Add compiler and examples to the build"
There is already a build.gradle file, but we need to be using protoc built from HEAD.

[2015-01-27 19:41] nmittler opened #44 "Add examples module into the build"
It's already there, we just need to add a build.gradle file for it and add it to settings.gradle.

[2015-01-27 19:46] #44 closed, assigned to nmittler

[2015-01-29 22:56] #18 closed, assigned to nmittler

[2015-02-04 17:16] ejona86 opened #57 "Implement timeout/deadline in Channel"

[2015-02-04 17:16] ejona86 opened #58 "Implement timeout/deadline in Server"

[2015-02-04 18:46] ejona86 opened #60 "OkHttp transport has high latency"
For some unknown reason, OkHttp transport regressed in performance dramatically, considering it used to be beating Netty. Unfortunately we don't know when. We need to do some profiling and figure out where the latency is coming from.

[2015-02-04 23:47] #17 closed, assigned to ejona86

[2015-02-05 00:24] ejona86 opened #61 ""No cached instance found" exception in integration test"
The exception does not cause any problem other than noise, but we should still figure out what is going wrong.

[code]

[2015-02-09 18:53] louiscryan opened #64 "Channel interface needs shutdown/close"
With the elimination of Service the Channel interface is now insufficient for normal use.

While ChannelImpl has a shutdown Channel does not and intercepting a ChannelImpl immediately converts it into Channel.

Closeable/AutoCloseable would be fine too

[2015-02-09 19:09] ejona86 opened #65 "Consider making Channel/Server abstract classes"
They were interfaces previously because of the bane of Service and the need to extend Abstract*Service in ChannelImpl/ServerImpl. Now that Service is gone from those APIs, we could swap to using abstract classes to give us greater ability to add to the APIs in the future.

[2015-02-10 23:56] ejona86 opened #67 "Perform hostname checking on :authority before issuing call"
We allow users to override the authority per-call, but we currently don't do any verification that that authority would be permitted for the current server. We should verify the provided authority against the TLS cert of the connection and fail in some way if the cert is not good for the requested authority. We would cache these verifications for the connection in a simple hash map.

It is the Jav

[2015-02-11 18:23] ejona86 opened #70 "Create CONTRIBUTING file"

[2015-02-11 18:30] ejona86 opened #71 "Figure out how our users will use the protoc plugin"
Whether it should be installed to /usr/local or similar for protoc to find, or we do some gradle dependency magic (which seems like it is likely difficult).

[2015-02-11 20:28] buchgr opened #72 "Add getPort() or similar to ServerImpl"
I noticed that there doesn't seem to be a way to programatically retrieve a way to get the port a `ServerImpl` is listening on. Could we add a method that provides this information?

I would argue it's useful for when one wants to bind to port `0` i.e.

[code]

[2015-02-12 20:31] buchgr opened #73 "Naming inconsistency in NettyServerBuilder"
I noticed that `NettyServerBuilder` has the methods `userBossEventLoopGroup` and `workerEventLoopGroup`.

Why the `user` prefix in `userBossEventLoopGroup`, why not simply `bossEventLoopGroup`?

[2015-02-12 23:17] #61 closed, assigned to ejona86

[2015-02-13 23:08] buchgr opened #80 "Daemon Threads in grpc"
We have to decide how to deal with daemon threads. Grpc uses non-daemon threads by default and so the pattern

[code]

works fine.

However, if one was to provide a custom executor that uses daemon threads the above would terminate immediately. It's quite likely that people will unknowingly provide daemon threads to grpc by passing in custom Netty `EventLoopGroup`.

e.g.

[code]

Netty's `EventLoo

[2015-02-17 18:43] ejona86 opened #82 "netty: Use DEFAULT_WORKER_EVENT_LOOP_GROUP for both client and server"
We have [separate thread pool](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/transport/netty/Utils.java#L71) for client workers vs server workers. We would be better suited by using a single worker thread pool for client and server (still likely having a separate boss thread pool on server). It would use fewer threads and reduce thrashing on a server that was also a bus

[2015-02-17 19:10] buchgr opened #83 "Add timing to QPS Client."
Currently the Java and C++ versions of the QPS Client allow one to perform a fixed number of calls. When using them for benchmarking I think it would make much more sense if we could tell the client to hit the server for some period of time (i.e. 30 minutes) i.e. `1 million calls` just mean something completely different on GCE, Prod and your local workstation.

WDYT @vjpai . If you agree, I could

[2015-02-18 18:17] ejona86 opened #87 "Get protoc plugin compiling on Windows"

[2015-02-18 18:43] ejona86 opened #88 "Create new example for route_guide.proto"
After we have the new example, we can probably remove the old ones.

https://github.com/grpc/grpc-common/blob/master/protos/route_guide.proto

[2015-02-18 20:24] buchgr opened #90 "Missing Copyright Headers in gradle build files and protos"
Do we need those?

[2015-02-18 21:17] #90 closed, assigned to nobody

[2015-02-18 23:17] ejona86 opened #93 "Fix inbound flow control for Calls.blockingServerStreamingCall"
We need to explicitly call request(). Ideally, buffer would be removed and we only request a single message at a time; when returning a message with next(), we also call request(1). We would need a request(1) during init.

[2015-02-18 23:58] #43 closed, assigned to nobody

[2015-02-19 00:00] #80 closed, assigned to nobody

[2015-02-19 17:39] #93 closed, assigned to ejona86

[2015-02-20 02:39] herbyderby opened #99 "Replace use of InputStream in transport APIs"
The current use of InputStream has a few problems:
- it is non-idiomatic to split the responsibility for opening and closing a stream; it also prevents features such as try-with-resources
- it essentially forces extra byte copying in order to consume the data

I haven't looked at the implementation, but since the comments say that the InputStream is non-blocking, I assume that it is used instead o

[2015-02-20 21:43] #73 closed, assigned to nobody

[2015-02-23 11:57] LisaFC opened #104 "Plugin is not building following current instructions"
Final gradle install is giving me:

Could not resolve all dependencies for configuration ':grpc-netty:compile'.

[2015-02-23 17:00] #104 closed, assigned to nobody

[2015-02-23 21:15] louiscryan opened #109 "Tidy up Javadoc"
Need to ensure that Javadoc in the major interfaces and exposed types is of high quality and properly makes of referencing annotations.

Suggest we divide and conquer as follows...

- Channel / Call / Interceptors  @louiscryan
- Transport    @ejona86
- Stub & Helpers @zhangkun83
- Builders  @nmittler

[2015-02-23 21:22] louiscryan opened #110 "Create architectural doc with diagram"

[2015-02-23 22:28] nmittler opened #111 "Enforce coding conventions"
We have a checkstyle.xml here: https://github.com/grpc/grpc-java/blob/master/checkstyle.xml

This was borrowed from the googleapis java client library (I believe).  We should expand this as needed and enforce the conventions when building.

[2015-02-24 20:45] buchgr opened #116 "Buffer Messages until TLS Handshake and HTTP2 Negotiation complete"
When grpc uses Netty as the client transport all RPC calls (aka HTTP2 Streams) block until the TLS Handshake and the HTTP2 negotiation is complete.

This blocking implementation (in grpc) is currently required as Netty's `SslHandler` doesn't buffer messages until the Handshake is complete (`"You must make sure not to write a message while the handshake is in progress unless you are renegotiating."

[2015-02-24 22:14] buchgr opened #118 "Buffer RPC Calls for when the MAX_CONCURRENT_STREAMS limit is hit."
The number of concurrent RPC calls we can do is limited by HTTP2's `MAX_CONCURRENT_STREAMS` setting. Currently when using Netty as the client transport, each call made after this limit is reached blocks its calling thread until the number of active streams goes below the maximum again. The blocking is necessary as otherwise Netty would simply reject the stream with a PROTOCOL_ERROR, thus we want t

[2015-02-24 23:49] buchgr opened #120 "Remove blocking parts from NettyClientTransport"
`NettyClientTransport#newStream` is currently a blocking operation. It blocks until the HEADERS frame has been written on the wire. This is behavior is not what people who use our asynchronous API would come to expect.

The blocking also is the cause for severe performance issues in the QPS Client as it results in more or less in as many threads being created as there are concurrent calls going on

[2015-02-25 14:58] LisaFC opened #124 "Update route guide gradle file with task that just generates gRPC code"
Currently there are two tasks in the gradle file, one of which builds and runs the server, one of which builds and runs the client.

In the tutorial, I'd like the users to just generate the gRPC code with protoc without running anything, it'd be useful if the gradle file offered an option to do this

[2015-02-25 15:22] LisaFC opened #125 "Update route guide gradle file with task that just generates gRPC code"
Currently there are two tasks in the gradle file, one of which builds and runs the server, one of which builds and runs the client.

In the tutorial, I'd like the users to just generate the gRPC code with protoc without running anything, it'd be useful if the gradle file offered an option to do this

[2015-02-25 15:23] #125 closed, assigned to nobody

[2015-02-25 15:24] LisaFC opened #126 "Can't build grpc-java"
Following the installation instructions on a new Ubiquity instance. Installed Maven 3.2, using Java 8 (Google's JDK).

All works fine until I try the final build, then get:
- What went wrong:
  Could not resolve all dependencies for configuration ':grpc-core:compile'.

  Searched in the following locations:
      https://repo1.maven.org/maven2/com/google/protobuf/protobuf-java/3.0.0-pre/protobuf-j

[2015-02-25 15:29] #124 closed, assigned to nobody

[2015-02-25 17:50] #126 closed, assigned to nobody

[2015-02-25 20:26] #88 closed, assigned to nmittler

[2015-02-26 03:28] #70 closed, assigned to jayantkolhe

[2015-02-26 06:33] mugurm opened #135 "Messages.proto has reference to stubby."
/integration-testing/src/main/proto/io/grpc/testing/integration/messages.proto contains the line:

package stubby.testing;

Should this be removed?

[2015-02-26 15:47] #135 closed, assigned to nmittler

[2015-02-26 18:54] louiscryan opened #142 "Code for auth readme pending maven artifact for google auth library"
The maven artifact for https://github.com/google/google-auth-library-java

hasn't shown up in maven central yet. Pull request with supporting code is pending that

[2015-02-26 20:34] ejona86 opened #144 "Add MAX_CONCURRENT_STREAMS option to NettyServerBuilder"

[2015-02-26 20:39] rschildmeijer commented on #7
@ejona86 would something like a AutoFlushingWriteBatcher[1] be too generic and would apply "smart batching" too often?

[1] https://github.com/spotify/netty-zmtp/blob/master/src/main/java/com/spotify/netty/handler/queue/AutoFlushingWriteBatcher.java

[2015-02-26 20:43] rschildmeijer commented on #118
As long as the Netty buffer/queue size is exposed in th ePAI and configurable by end users the proposed solution sounds sane.

[2015-02-26 20:48] rschildmeijer commented on #116
...once again.
Buffering the outstanding streams might be ok until you run into OOM issues.

"and there is nothing to stop the user from starting to make RPC calls immediately."
could be worth exposing a way to block on the ssl handshake. Something like a .sync()[1] or .get()[2] call.

[1] http://netty.io/4.0/api/io/netty/util/concurrent/Future.html#sync%28%29
[2] http://docs.oracle.com/javase/7/d

[2015-02-26 20:52] ejona86 commented on #7
@rschildmeijer, it looks like that one just does regular flushes based on a timer. That wouldn't work for us because it would introduce latency.

Instead, we looked at something more akin to [BetterWriteWithAtomic](https://github.com/stepancheg/netty-td/blob/master/src/com/github/stepancheg/nettytd/BetterWriteWithAtomic.java). As I mentioned though, performance may have improved, but it was mostly

[2015-02-26 20:59] ejona86 commented on #116
@rschildmeijer, we would delay the call to onReady that is being done as part of #6. If using the blocking stub, you would naturally block. The async stub would still be able to return immediately as its callers would generally expect.

[2015-02-26 21:10] rschildmeijer commented on #7
@ejona86 it is regular flusher based on a timer on steroids. If writes are sparse no additional latency will be added.

The functionality is based on the following statement: if mean_time_between_sends < mean_time_to_send, then applying smart batching will improve throughput and reduce netty flush calls.

So consider it and benchmark. Might be worth it in your case. Start with a non default settin

[2015-02-26 21:58] buchgr opened #145 "Integration tests failing"
Occasionally the integration tests `AbstractTransportTest#largeUnary` and `AbstractTransportTest#serverStreaming` are failing on the server side with lots of  Exceptions of the like.

[code]

We have traced it down to a bug in the HTTP2 Flow Control in Netty, where frames that are pending due to a not yet received WINDOW_UPDATE frame get canceled. For this bug to trigger the server endpoint has to

[2015-02-26 23:08] louiscryan opened #146 "Support Unix Domain Socket"
Should be straightforward enough now that Netty supports it

[2015-02-27 02:01] ejona86 commented on #144
Didn't have enough time to finish it up today. It will probably be something akin to ejona86/grpc-java@5644f41 on my specify-max-concurrent branch.

[2015-02-27 02:13] herbyderby commented on #99
Thanks for the background, that explanation makes more sense.

[2015-02-27 02:13] #99 closed

[2015-02-27 17:43] ejona86 opened #150 "Add CallOptions parameter to newCall()"
We need robust per-call configuration. For example, if we were to add configuration for specifying whether to retry, where would it go? Such configuration would need to be per-call, so it must go in Channel.newCall() somewhere. MethodDescriptor is where timeout is now, but putting more in MethodDescriptor seems like a long-term disaster. Metadata.Headers is where authority and path are now, but pu

[2015-02-27 17:49] nmittler commented on #150
+1 to CallOptions

I suppose the Channel will also have a CallOptions that will serve as the default for all calls and can be configured when building the Channel?

[2015-02-27 18:30] ejona86 commented on #150
If Channel has a default, then the best way to deal with that is for Stubs to get that default when constructed. To get the default to the stub we would need some get method on Channel interface, I guess. The alternative would be having to determine if some option has been overridden, which seems more pain than it is worth.

From every angle I look, if an interceptor wants to do something with Cal

[2015-02-27 19:16] nmittler commented on #150
@ejona86 I think giving channel a `getCallOptions` (or maybe `getDefaultCallOptions`) method makes sense.

I think if `CallOptions` were passed as a parameter to `Call.start()` then the interceptors should have everything they need.  Interceptors should not have to override the default `CallOptions` from the channel in that case.

[2015-02-27 19:25] zhangkun83 opened #152 "The Future interface doesn't implement cancellation"
Currently Future returned by the future interface is a SettableFuture and it doesn't implement the RPC cancellation. It should be as easy as implementing AbstractFuture.interruptTask().

[2015-02-27 19:34] zhangkun83 commented on #150
CallOptions is great to have. Will it be available on the stub layer? If not, users who use generated stub would have to use interceptors to set CallOptions, which would make CallOptions less call-wise but more channel-wise.

[2015-02-27 19:51] ejona86 commented on #150
I thought we would likely have a copy of each mutation method in AbstractStub. AbstractStub would no longer iterate over all the methods for setTimeout and instead just call withTimeout on the CallOptions.

I notice I failed to mention: I was originally thinking CallOptions would be immutable.

[2015-02-27 20:02] louiscryan commented on #150
Why not provide a default call options off MethodDescriptor, particularly
if they are likely to vary per-call?

On Fri, Feb 27, 2015 at 11:51 AM, Eric Anderson <notifications@github.com>
wrote:

[2015-02-27 20:12] ejona86 commented on #150
I wasn't thinking they would vary per-call in the MethodDescriptor-sense. I was thinking that from one call to the next they would vary, but for the same method they would vary and sometimes multiple methods would use the same.

Putting it on MethodDescriptor doesn't really have much value in my mind. These are just the stub's configuration options, but there isn't today any way to communicate tha

[2015-02-27 21:56] zhangkun83 commented on #150
So, no more
`stub.configureNewStub().setTimeout(...).build()`
just
`stub.withTimeout(...)`

Are we going to remove configureNewStub() all together? Or do we still have
it for configuring interceptors?

On Fri, Feb 27, 2015 at 11:51 AM, Eric Anderson <notifications@github.com>
wrote:

--
Kun Zhang | Software Engineer | zhangkun@google.com | +1 (650) 960 6368

[2015-02-27 23:28] ejona86 commented on #150
I see ```stub.configureNewStub().setTimeout().build()``` as a separate discussion and was going to leave it as-is. Instead, the StubConfigBuilder and the AbstractStub would use a CallOptions internally.

[2015-02-28 00:48] buchgr opened #154 "Tests fail with latest Netty version"
When running gradle clean build on master, I get the following unit test failures.

[code]

Example Stacktrace

[code]

[2015-02-28 05:13] buchgr commented on #154
I did some investigation and tried to build / run those tests on two different machines that have never seen a byte of grpc-java before. In both cases I got the exact same errors as on my workstation (additional computers where Linux and OSX, tried with Oracle Java 7u75 and 8u31).

Disclaimer: I have little to no experience with / knowledge of Mockito so there might be some magic that I am missing

[2015-02-28 06:41] ejona86 commented on #154
@buchgr, could it be you are using a newer version of Netty than the one in lib/netty submodule?

[2015-02-28 06:54] ejona86 commented on #150
@zhangkun83, I misspoke a bit earlier. Instead of "mutation method in
 AbstractStub" I meant "mutation method in StubConfigBuilder". I had stopped to look up the class name and then forgot to update it the text.

[2015-02-28 07:15] buchgr commented on #154
@ejona86 *face palm* ... yes you are right. due to my recent netty work I overwrote my local maven repo. works with the submodule. sorry. so stupid. :P (but now the integration tests no longer pass haha).

[2015-02-28 07:18] buchgr commented on #154
Hmm ... but on a different note, we should probably not rely on Netty's internal implementation details (i.e. how often a function gets called, or whether the `EventLoop` is accessed via `ChannelHandlerContext.executor()` or `Channel.eventLoop()`) in our unit tests?

[2015-03-02 19:05] #152 closed

[2015-03-02 19:14] zhangkun83 commented on #109
2nd and 3rd chunks done.

[2015-03-02 20:42] nmittler commented on #154
I'm not sure if we've updated Netty since the flow control changes by @louiscryan.  I seem to recall those changes causing some of our tests to fail, but I'm not sure anyone has looked into it.

[2015-03-02 21:35] #87 closed

[2015-03-03 00:17] ejona86 commented on #144
I won't get to this in the next week, in case anyone wants to pick it up.

[2015-03-03 15:43] nmittler opened #163 "GO_AWAY can result in cryptic error messages"
In NettyClientHandler, we don't always store the original cause of the GO_AWAY and instead rely on a connection error.  This results in cryptic errors like this:

Caused by: io.grpc.Status$OperationException: UNAVAILABLE: null
        at io.grpc.Status.asException(Status.java:396)
        at io.grpc.transport.netty.NettyClientHandler.failPendingStreams(NettyClientHandler.java:398)
        at io.gr

[2015-03-03 15:50] nmittler opened #164 "Switch to Netty 4.1 branch"
Since HTTP/2 support has been back-ported to the 4.1 branch, we should start basing our work on it since it will get us closer to an official release of Netty.

[2015-03-03 21:08] nmittler opened #167 "Import latest Netty changes"
FYI, this seems to break unit tests.

[2015-03-03 21:51] zhangkun83 opened #168 "Remove AbstractStub.StubConfigBuilder"
Forked from #150

Now we are doing this to reconfigure a stub:
[code]
Why not just:
[code]

This could make per-call configuration more concise. Instead of:
[code]
we could have:
[code]

[2015-03-04 01:26] zhangkun83 commented on #71
We have considered the compiler from [sqaure/wire](https://github.com/square/wire/tree/master/wire-compiler) as a potential option, but it turns out not as appealing as we thought:
1. It generates its own implementation of proto messages ([Message](https://github.com/square/wire/blob/master/wire-runtime/src/main/java/com/squareup/wire/Message.java)), although we want to stick with the standard pro

[2015-03-04 01:31] jcanizales opened #169 "Installation fails due to Javadoc errors"
Installing the library as described in the main README.md fails in the last step, because javadoc finds two errors and exits with status 1 (which makes ./gradlew install sad).

Error 1:

    grpc-java/core/src/main/java/io/grpc/ClientInterceptor.java:51: error: self-closing element not allowed
    17:25:41.937 [ERROR] [system.err]    * <p/>
    17:25:41.937 [ERROR] [system.err]      ^

Error 2:

[2015-03-04 01:44] zhangkun83 commented on #71
As protoc emits parsed definitions in the form of descriptor proto, it's possible to write the plugin in Java. I am not sure how much better it looks like than our current solution, but at least we won't have C++ code in grpc-java tree.

[2015-03-04 02:26] AdoHe opened #171 "Integrate with more data format"
I don't know whether it is possible to use other data format, not just protobuf, for example avro.

[2015-03-04 07:06] ejona86 commented on #171
If you ignore service codegen, all you need is to implement [Marshaller](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/Marshaller.java) for use in a [MethodDescriptor](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/MethodDescriptor.java). With a MethodDescriptor, you can then create new calls in [Channel](https://github.com/grpc/grpc-java/blob/m

[2015-03-04 14:57] nmittler commented on #169
@jcanizales are you running on Java 8?  I believe this was fixed with #170.

[2015-03-04 14:59] nmittler commented on #169
Sorry, I meant #165 ... that should teach me to use github's autocomplete ;)

[2015-03-05 16:33] ludoch commented on #146
/sub

[2015-03-05 16:36] ludoch opened #172 "Push Java libraries to Maven central"
As the majority of Java Developer, I am using Maven and not Gradle...

After compiling my self the protoc tool for Mac, and creating the Route sample Maven project, I am still block with the fact that the
import io.grpc.ServerImpl;
import io.grpc.stub.StreamObserver;
import io.grpc.transport.netty.NettyServerBuilder;

are nowhere in Maven...

My Current pom is like this, and the protoc generates c

[2015-03-05 16:39] ludoch commented on #172
huhu markdown issue with xml content

[2015-03-05 16:41] ludoch commented on #172
<pluginRepositories>
    <pluginRepository>
      <id>dtrott</id>
      <url>http://maven.davidtrott.com/repository</url>
    </pluginRepository>
  </pluginRepositories>
  <dependencies>
    <dependency>
      <groupId>com.google.guava</groupId>
      <artifactId>guava</artifactId>
      <version>18.0</version>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>javax.json</gr

[2015-03-05 16:43] ludoch commented on #172
`  <pluginRepositories>
    <pluginRepository>
      <id>dtrott</id>
      <url>http://maven.davidtrott.com/repository</url>
    </pluginRepository>
  </pluginRepositories>
  <dependencies>
    <dependency>
      <groupId>com.google.guava</groupId>
      <artifactId>guava</artifactId>
      <version>18.0</version>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>javax.json<

[2015-03-05 16:44] ludoch commented on #172
[code]

[2015-03-05 17:07] ludoch commented on #172
I am working on a PR if nobody is working on this...

[2015-03-05 17:45] ctiller commented on #146
We should quickly round table addressing schemes. C currently uses
unix:uds_file_name... But I think moving to something more uri like would
be better. Say unix://uds_file_name and tcp://host:port?

On Thu, Mar 5, 2015, 08:33 ludoch <notifications@github.com> wrote:

[2015-03-05 18:55] zhangkun83 commented on #146
+1 to unix://uds_file_name. Maybe 3 slashes like file:///path/to/file

[2015-03-05 19:43] nmittler commented on #172
FYI, there are snapshot artifacts here: https://oss.sonatype.org/content/repositories/snapshots/io/grpc/

Also, you can use `gradle install` do install to your local maven repository.

[2015-03-05 22:05] JakeWharton commented on #146
+1 to three slashes (also know as lack of authority)
On Mar 5, 2015 1:55 PM, "Kun Zhang" <notifications@github.com> wrote:

[2015-03-06 19:19] vjpai opened #173 "Please test with broken stream IDs"
Hi there,
We recently got hit in C with a crash that happened when HTTP/2 stream IDs went unexpected (violating the invariant of increase on a connection) and also aren't prepared for the situation where we approach or cross max stream id (0x7fffffffu). Please check that this case works in Java. If you need some client code to test that, I can let you use the client code that was sent to me.
This

[2015-03-06 23:33] buchgr commented on #167
The issue for the failing unit tests is #154

[2015-03-07 06:41] AdoHe commented on #171
@ejona86 I think the data format should be irrelevant with the transparent layer, user can use other data format to represent a service, for example `avro idl`, I am trying to do this with grpc-java, since our team are using avro now, can you give me a little bit more description?

[2015-03-07 07:20] ejona86 commented on #171
The data format is mostly irrelevant to the transport layer. However, there does need to be some glue code that converts from the IDL to the transport's needs. For proto-defined services we have a code generator that produces that glue code.

So for the proto IDL:
[code]

It produces (simplified):
[code]

That sort of thing is obviously not done for gRPC+Avro IDL. Avro RPCs also have a bit differe

[2015-03-07 18:39] justinsb opened #174 "Access to controller (for connection metadata)"
I would like to get the remote client's IP and TLS client-certificate from within a GRPC service. And I guess cancellation information as well.

Protobuf services had the controller argument.  Is there an equivalent in GRPC?

[2015-03-07 20:25] nmittler commented on #167
Ah good point! I renamed the issue ... I'll close this as a duplicate.

[2015-03-07 20:25] #167 closed

[2015-03-09 00:49] ejona86 commented on #154
Netty recently released 5.0.0.Alpha2 with Maven artifacts. If we get the tests working, then we can depend on it for a 0.5.0 grpc-java release.

[2015-03-09 04:28] buchgr commented on #154
Nathan suggested to "downgrade" to 4.1. I think it makes sense because it's still at least one year before Netty 5 is out and we aren't using any of the Netty 5 features anyway.

[2015-03-09 05:57] ejona86 commented on #154
4.1 is fine, too, but it is alpha as well and thus basically the same in my mind. If it is truly no more work to do 4.1 instead of 5, 4.1 works. I'd mainly be concerned that going to 4.1 turns into a rabbit hole because of a bigger delta in changes and it consumes considerably more time.

[2015-03-09 06:21] hepin1989 commented on #154
I think 4.1.0 beta4 is fine,but don't using epoll trasnport,there is a bug in beta4

[2015-03-09 15:16] qiyang0221 opened #175 "could grpc-java generate jars by modifying gradle files? how?"
I want to package these java files generated by grpc. How could I modify gradle files?

[2015-03-09 16:42] buchgr commented on #8
@ejona86 I am currently working on this and I was wondering how you thought piggy-backing the END_STREAM flag would work without close/dispose and a new buffer on every write?

[2015-03-09 17:11] ejona86 commented on #8
I think it is reasonable to assume a flush/close/dispose will always be coming.

[2015-03-09 17:15] buchgr commented on #8
so we still need the flush/close/dispose on the MessageFramer to behave the same as they did until know, correct?

[2015-03-09 17:20] ejona86 commented on #8
Basic flow (but, of course, with framing mixed in):
[code]

In that code if the message is precisely the size of the buffer then it isn't flushed. That is more "optimal" but doesn't really matter. I wrote it like that here since I think that is what the current code is doing.

[2015-03-09 17:22] buchgr commented on #8
@ejona86 ahh got ya. yeah that's what I thought. thank you! :-).

[2015-03-09 17:22] ejona86 commented on #8
The "idle" state will be there is no buffer. When a message is sent, a flush/close _must_ be coming basically immediately after. So dispose() would only be necessary in case of exception or something. We wouldn't need to call dispose() to clean up when the stream is torn down (which I can't remember if we are doing now, since the current buffer is on the heap)

[2015-03-09 17:58] louiscryan commented on #174
I think the best way to provide this information is as header metadata. What would you do with this information? Some form of ACLing?

[2015-03-09 17:59] louiscryan commented on #175
Do you mean java files generated by protoc from .proto files?

[2015-03-09 18:00] louiscryan commented on #173
@nmittler I believe there is coverage for this in Netty but we should validate.

[2015-03-09 18:01] justinsb commented on #174
Yes, I was planning on using the client-cert for authentication.

Is there a way to get the header metadata inside the service method?

[2015-03-09 18:02] louiscryan commented on #171
If you put what you're working on up in GitHub somewhere we will happily take a look

[2015-03-09 18:14] louiscryan commented on #174
I would suggest you use a ServerInterceptor to implement this logic in a cross-cutting fashion rather than trying to code it into your service methods. Our interfaces are designed to encourage layering in common cross-cutting behaviors like auth/acl/log/monitor/... in a service-interface agnostic way.

[2015-03-09 18:21] nmittler opened #176 "IllegalReferenceCountException for DATA frame with EOS"
If a DATA frame is received with EOS set, an attempt is made to read the Netty ByteBuf after it has been closed.

The problem is this line: https://github.com/grpc/grpc-java/blob/ef878187581f5d7d7d43d10f7d4efb229639042f/core/src/main/java/io/grpc/transport/Http2ClientStream.java#L139

Since the buffer was already added to the deframer and the user callback notified, they will then attempt to read

[2015-03-09 19:56] justinsb commented on #174
I agree that auth belongs in a cross-cutting layer.  But I'll still need the "current user id" in the service method.  So how can I communicate from the ServerInterceptor to the service method?  I just don't see any means by which I can do this: StreamObserver is pretty sparse and I don't think I could get something useful even with a lot of type-casts.  I don't think I can use ThreadLocals becaus

[2015-03-09 20:29] #176 closed

[2015-03-09 20:35] louiscryan commented on #174
It should be easy enough to use ThreadLocal as the interceptor interfaces provide closure over calls into your service implementation via ServerCall.Listener#onPayload

[2015-03-09 20:45] justinsb commented on #174
OK.  Is there a reason you don't pass a context object though?  Would you accept a PR that added a context object?

[2015-03-09 20:49] #163 closed

[2015-03-09 21:01] nmittler commented on #173
Netty's testing definitely covers this. From our perspective, it would look like any other protocol error.

It doesn't look like the OkHttp transport has a test for this, however.

[2015-03-09 23:23] louiscryan commented on #174
There are a few reasons why we did this:

We looked at all the internal code using context-objects and found < 1% of per-service code doing anything meaningful with it and that largely reduced to varying timeouts. Anything more interesting was being done with interceptors as a cross-cut

We're strong believers in IoC containers and they provide nice facilities for binding request scoped values whi

[2015-03-10 00:02] jcanizales commented on #169
I am running on Java 8. I'll check again.

[2015-03-10 00:04] justinsb commented on #174
Ah!  I am also a big fan of Guice, and I think injection could be a great approach here.  Thanks for the hints - I'll give it a go.

[2015-03-10 02:51] qiyang0221 commented on #175
no. I want to package these java files generated from .proto files to jars.
So I could conveniently import the jars into my project.

2015-03-10 1:59 GMT+08:00 louiscryan <notifications@github.com>:

[2015-03-10 20:42] #173 closed

[2015-03-10 21:00] ejona86 commented on #169
#170 merged.

[2015-03-10 21:00] #169 closed

[2015-03-10 22:45] nmittler commented on #145
Fixed by #179

[2015-03-10 22:45] #145 closed

[2015-03-10 22:46] nmittler commented on #154
Fixed by #179.

[2015-03-10 22:46] #154 closed

[2015-03-10 23:21] ejona86 commented on #168
I don't think anyone was against the with* method version. I think people were debating between what we have and the with* methods.

There were two arguments for configureNewStub():
 1. Is only one method, and so will be less likely to collide with a user-defined service method. This seems like a strong argument, although users prefixing a method with "with" seems unlikely.
 2. Uncertainty about w

[2015-03-11 16:45] ejona86 opened #180 "Swap to Netty's NPN/ALPN handling"
This should simplify our code and would allow us to support tcnative for OpenSSL support. Other than being faster, tcnative does not depend on the JRE version and does not need bootclasspath specified, which would help new users trying to use gRPC for the first time.

This is API breaking as it will change how we use SslContexts provided by the user. We will require them to be properly configured

[2015-03-11 17:09] ejona86 opened #181 "Observe MAX_CONCURRENT_STREAMS in OkHttp client"
We ignore it. We shouldn't.

[2015-03-11 17:16] ejona86 opened #182 "Vendorize our usages of OkHttp internal classes"
Using the normal OkHttp API didn't quite seem to work for us. The blocking style made it seem like we would need a thread per stream, flow control wasn't exposed enough (although this may no longer be an issue due to how we are now using flow control, other than blocking), RST_STREAM, and other similar advanced HTTP/2 features didn't have quite as much support as we needed. Oh, and trailers...

So

[2015-03-11 17:20] ejona86 commented on #172
This is in part blocked on getting Netty artifacts that we can use. The plan there is to swap to Netty 4.1.

[2015-03-11 17:20] ejona86 commented on #180
This would be really nice for 0.5.0, but not required.

[2015-03-11 17:22] ejona86 commented on #71
This would be super-nice for 0.5.0, but I don't actually expect it to happen in time.

[2015-03-11 17:30] ejona86 commented on #22
Not required for 0.5.0, but would be nice.

[2015-03-11 17:35] ejona86 commented on #120
May or may not make it into 0.5.0, but it would be nice.

[2015-03-11 20:18] #164 closed

[2015-03-11 21:32] #82 closed

[2015-03-12 00:35] buchgr commented on #8
@ejona86 I was just thinking. What's the point of having a `WritableBuffer` and `ReadableBuffer`, why not simply extend the existing buffer with a write method? Basically all we want to do is abstract from Netty's `ByteBuf` and OkHttp's `Buffer`.

[2015-03-12 02:52] ejona86 commented on #8
We could, and considered it. The main problem is that the API becomes a lot more interesting when you can read and write at the same time. Consider what be necessary to use JDK's ByteBuffer in such a circumstance.

All very doable, but it seemed keeping them separate was no more work, simpler, and had no real deficiencies.

[2015-03-12 16:35] hepin1989 commented on #120
so return a future?

[2015-03-12 16:49] ejona86 commented on #120
No, the solution is "stop blocking." We won't return a future and instead buffer. The buffering wouldn't appear any different to applications than other buffering we do. Applications that care about the amount being buffered would observe flow control.

[2015-03-12 17:46] ejona86 opened #190 "Stream fairness"
Investigate how we stand on stream fairness.

Last I checked, Netty is splitting the available window between all the streams with data queued. That seems like it would waste bandwidth as it degrades into sending many 1-byte frames, but each frame has a 9 byte overhead.

Ideally we would decrease latency on "small" streams by preferring them over "large" streams.

[2015-03-12 18:38] ejona86 opened #192 "Enable Travis-CI"
Most annoying part is likely building protobuf.

[2015-03-12 23:29] louiscryan commented on #142
Auth code switched to use new library. Closing.

[2015-03-12 23:29] #142 closed

[2015-03-13 20:02] #8 closed

[2015-03-14 13:42] justinsb commented on #174
So it looks like I'd have also to change the Netty code to get to the client certificate.  (right?)

I was thinking that this is similar to header information, and that it therefore should be stored into Metadata.Headers (special-cased like path & authority).

Then I'd still have to implement the interceptor - I was thinking of building a GrpcContext object to which would be a thread-local, which

[2015-03-15 13:48] justinsb opened #201 "Provide Code Style definition file"
Would it be possible to provide the code style definition file you're using with Intellij?

Along these lines: https://www.jetbrains.com/idea/webhelp10.5/exporting-project-code-style-settings.html

This would make it easier to contribute to grpc!

[2015-03-15 14:48] justinsb opened #203 "The `-f` flag for readlink is not available on OSX"
`readlink -f`, as used in run-test-client.sh and run-test-server.sh is not available on OSX.

[2015-03-15 15:07] justinsb opened #204 "Need docs on how to run integration test suite"
It seems that this is the way:

Tab/window/screen 1:
[code]

Tab/window/screen 2:
[code]

Is that correct?

And is there a way to avoid paying the Groovy/Gradle tax for every test?

[2015-03-15 22:46] justinsb commented on #174
Created a straw-man patch/PR.  Comments welcome!

[2015-03-16 00:59] ejona86 opened #205 "Use CreateStartScripts for integration-tests"
This would make the binaries more portable and wouldn't require running Gradle before every execution.

[2015-03-16 01:06] ejona86 commented on #204
Yes, that is correct. Note that for Java->Java we already run all the tests via Http2NettyTest. --help is supported, in case that helps.

Yeah, re-running Gradle is a bit weak. We are likely to support CreateStartScripts (like in benchmarks) but haven't gotten to it yet (I just now created #205 for it). I've discussing supporting a comma-delimited list of tests to be run, but, again, haven't done

[2015-03-16 01:11] ejona86 commented on #201
This seems related, but not identical to #111.

[2015-03-16 01:17] ejona86 commented on #111
The current problem with checkstyle is it is a bit too strict as it disallows @link within single-line JavaDoc comment. Its interpretation of at-clauses is different than what I read as at-clauses. I would like to confirm my reading of the style guide and then file a bug on checkstyle if my reading is indeed correct.

https://google-styleguide.googlecode.com/svn/trunk/javaguide.html#s7.1.1-javadoc

[2015-03-16 01:28] ejona86 commented on #204
I see why you are running the integration tests now (for testing #202). Yeah, running them manually like you are is the appropriate way for the moment.

We should probably have a separate section of documentation for tips and tricks for developers. Discussion of the transport API in the current README.md could be moved to that section.

[2015-03-16 08:43] zhaohaifeng opened #206 "Is there any way to handle cookie in headers？"
We usually auth user by cookie/token.Should I use ClientInterceptor to set cookie or store cookie?

[2015-03-16 14:08] nmittler commented on #111
@ejona86 are you referring to our current checkstyle.xml or the checkstyle plugin, itself?

[2015-03-16 14:37] ejona86 commented on #206
Yes, the work in #207 is the right approach.

[2015-03-16 15:11] ejona86 commented on #111
I'm referring to the SingleLineJavadoc module of the latest checkstyle (as can be seen on my branch).

I guess for now we can comment out that module, but I would still like to get it fixed.

[2015-03-16 16:07] justinsb commented on #204
A "development 101" section is a great idea.  I did a super-quick sketch of the stuff I had so far:

[code]

If this is useful I could do a PR (once I flesh it out), or maybe we should just enable the Wiki on this repo?

[2015-03-16 17:56] louiscryan opened #209 "HttpUtilTest missing package"
@ejona86

[2015-03-16 18:01] #111 closed

[2015-03-16 18:02] ejona86 opened #211 "Fix checkstyle warnings for examples"
Making example methods private would be easiest, but them being public seemed to be useful in http://www.useopen.net/blog/2015/rpc-performance.html .

getFeature() is also overloaded, and doesn't look like it should be, given that the two methods have different semantics.

[2015-03-16 18:29] ejona86 commented on #204
Checkstyle has just now been put in place. Checkstyle, unit tests, and java-java integration tests are all done in "./gradle build".

We aren't (yet) enabling wiki because it isn't clear what we want on grpc.io and what to be on this wiki.

The submitting code portion should be placed in CONTRIBUTING.md. We should say that we expect "gradle build" to be run, since it checks style and tests.

[2015-03-16 19:38] #209 closed

[2015-03-16 21:27] ejona86 commented on #201
@louiscryan, @nmittler, do y'all know the quality of the IntelliJ and Eclipse java-google-style.xml at https://google-styleguide.googlecode.com/svn/trunk/ ? It seems like at least referencing people to those files and making sure they are sane would be a good solution.

[2015-03-16 22:07] nmittler commented on #201
I haven't used them yet ... in fact I just noticed they were there this morning :).  Perhaps we should contact the owners? https://code.google.com/p/google-styleguide/people/list

[2015-03-16 22:14] ejona86 commented on #201
I've known about them because they are older than the style guide itself. It was sort of an awkward situation to not have a public Java style guide but have those files sitting around.

We expect they are better than nothing? We can suggest using them and if there are problems we fix them?

[2015-03-16 22:29] nmittler commented on #201
That seems reasonable to me

[2015-03-17 00:11] louiscryan opened #215 "OkHttpClientStream.window is only written never read"
@ejona86

Should be removed

[2015-03-17 00:56] ejona86 commented on #204
Partly covered by #216

[2015-03-17 06:46] ejona86 commented on #215
Either that or if window goes negative in transportDataReceived we should RST_STREAM as expected by http/2.

[2015-03-17 07:17] lsuggula commented on #104
Yes update and try, got the same error.

[2015-03-17 10:13] hepin1989 commented on #71
we are using sbt-protobuf plugin

[2015-03-17 21:55] lsuggula commented on #104
Or do this: Change from io.netty:netty-codec-http2:4.1.0.Beta5-SNAPSHOT to io.netty:netty-codec-http2:4.1.0.Beta4 in build.gradle file

[2015-03-17 21:57] ejona86 commented on #104
Did you first install Netty? As in the docs:
[code]

[2015-03-17 21:58] lsuggula commented on #104
Yes.

[2015-03-17 22:03] ejona86 commented on #104
Maybe it failed? What platform are you on? I just now ran on a fresh container and it all seemed to work.

[2015-03-19 01:40] zhangkun83 commented on #71
Update: we have looked at multiple approaches to serve native plugin artifact from a repo:
 1. Packaging as a zip and unzip it at the user-end.
 2. Packaging as a nar and allow Maven user to download and unpack it with maven-nar-plugin
 3. Uploading the binary artifact directly as .exe file, and modify [gradle-plugin-protobuf](https://github.com/aantono/gradle-plugin-protobuf) and [maven-protoc-pl

[2015-03-19 09:25] jeffreyji666 opened #219 "method not found for method name automatically changed"
I use grpc ruby client and java server, the ruby client prompts that method not found, so I choose to debug the grpc java proto code, I got very confused.

the following code which generated by grpc java defines the SearchForum method:

[code]

[2015-03-19 23:55] sergei-ivanov commented on #71
@zhangkun83 This is a great summary, it looks like you've spent a great deal of time researcing the options. I still think that a pure java protoc plugin would be great, especially that we have had a properly working support for pure java plugins for quite some time, and it worked really well in our case.
There is a [rather trivial] example bundled in maven plugin ITs:
https://github.com/sergei-iv

[2015-03-20 17:33] ejona86 opened #223 "OkHttp tests flaky"
Change to shutdown of okhttp has caused tests to become flaky.

This is the location of the most common failure for me:
java.lang.AssertionError at OkHttpClientTransportTest.java:134

Full examples of such failures:
[code]

[2015-03-20 21:43] ejona86 commented on #192
Resolved in #224

[2015-03-21 00:13] ejona86 commented on #211
@nmittler, what do you think we should do about the getFeature() overloading?

[2015-03-21 15:07] #223 closed

[2015-03-22 00:11] justinsb commented on #204
Thanks.  Adding this into "gradlew test" would be great.  I created a basic JUnit test for Netty with SSL in my PR, though I can't use it yet because ALPN/NPN would need to be on the classpath.

Also, having this run in Travis is great!

If we can get these tests running in JUnit, this meets the "intent" behind my question - I just wanted to be able to run tests that included SSL configurations.

[2015-03-22 00:13] justinsb commented on #201
Thanks.  I'm using the files.  They aren't an exact match for the existing code, but they are very close (I think the main difference is continuation lines).

I have a branch https://github.com/justinsb/grpc-java/tree/codestyle which includes the files and some notes on how to use it with IntelliJ, but right now it probably isn't worth maintaining our own copy of these files.

[2015-03-22 12:01] ttencate opened #231 "Data corruption when receiving payloads larger than 2048 bytes"
[Here](https://github.com/grpc/grpc-java/blob/c3e8dae6ce604dfdcd8fc0eb0f7b0e2303e48a98/okhttp/src/main/java/io/grpc/transport/okhttp/OkHttpReadableBuffer.java#L73), `OkHttpReadableBuffer` is calling `Buffer#read` only once, even though the contract for `Buffer#read` is that it reads _up to_ `byteCount` bytes and returns the number of bytes actually read.

Because `Buffer` uses a linked list of seg

[2015-03-22 21:48] #231 closed

[2015-03-23 16:03] nmittler commented on #211
@ejona86 I think you provided the wrong link in the description :)

I think moving the method is sufficient ... I'll roll a PR.

[2015-03-23 16:04] nmittler commented on #211
@ejona86 looks like you're already resolving this in #230.  I'm fine with the method re-name in that PR.

[2015-03-23 16:07] ejona86 commented on #211
@nmittler, sorry, I failed to link the PR in to this issue.

That was actually the link I meant. The benchmark itself isn't without its issues, it did use our client as-is because of the public methods.

[2015-03-23 16:15] #211 closed

[2015-03-23 16:24] #203 closed

[2015-03-23 16:26] #204 closed

[2015-03-23 16:45] ejona86 opened #235 "Gradle's testing should show more info on Travis"
A [flaky build](https://api.travis-ci.org/jobs/55511839/log.txt) on Travis doesn't provide enough information to diagnose what went wrong, because Gradle generally expects you to view the reports in the build directiory.

https://www.gradle.org/docs/current/dsl/org.gradle.api.tasks.testing.logging.TestLoggingContainer.html

[2015-03-23 22:28] ejona86 opened #238 "Race in Server handler initialization"
When initializing an incoming client connection, [we call startAsync()](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/transport/netty/NettyServer.java#L84) on the transport, which [registers the handler](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/transport/netty/NettyServerTransport.java#L108) on a separate thread. This is obviously a race

[2015-03-24 02:00] nmittler commented on #238
oof :) ... yeah, I'm fine with just a quick and dirty fix for now. Let's just fix it when we get rid of the Service interface completely.

[2015-03-24 05:12] ejona86 opened #239 "Lacking preconditions for start() in ChannelImpl.CallImpl"
For instance, calling request() before start() has been called results in a NullPointerException.

[2015-03-24 05:35] ejona86 opened #240 "ClientAuthInterceptor.start() skips super.start() when there is an error, causing subsequent use of the top-level Call to throw IllegalStateException"
onClose does not log any exception or status, as it is commonly used in cases where there wasn't a server error but instead a client issue. Thus, [in the IOException handling of ClientAuthInterceptior](https://github.com/grpc/grpc-java/blob/master/auth/src/main/java/io/grpc/auth/ClientAuthInterceptor.java#L90), if an exception is thrown it is thrown away, the caller doesn't notice, and will get so

[2015-03-24 17:26] nmittler opened #243 "Make connection/stream windows configurable for Netty server"
This has already been done for the client. Default connection window should be 1MiB.

[2015-03-24 19:24] ejona86 commented on #22
@madongfly, any updates on using TLS outside of Android with OkHttp?

[2015-03-25 01:14] madongfly commented on #22
I think @zsurocking picked up my cl and worked on it when I was on vacation, rocking, could you comment on it?

[2015-03-25 16:05] ejona86 commented on #240
So, ClientAuthInterceptor isn't quite swallowing exceptions, but instead not calling start() when it says it did. Either it should somehow notify up the call stack that things went poorly or it should swap the ForwardingCall into some NOOP mode, to give the caller time to notice that things failed.

[2015-03-25 16:46] #206 closed

[2015-03-25 23:18] #192 closed

[2015-03-25 23:22] ejona86 commented on #83
Should we make an issue on grpc repo for this and reference this issue for details?

[2015-03-25 23:33] vjpai commented on #83
So, the C++ QPS test has changed since before and now it already is based
on time rather than # of RPCs. Maybe it should be configurable (right now
it's fixed at 15 seconds of active time)

On Wed, Mar 25, 2015 at 4:22 PM Eric Anderson <notifications@github.com>
wrote:

[2015-03-25 23:35] ejona86 commented on #83
Configurable makes sense, but if it is already based on time, then it seems this issue is fully resolved. A feature request for making C++ QPS time configurable can be on grpc repo.

[2015-03-25 23:35] #83 closed

[2015-03-26 00:03] ejona86 opened #245 "AbstractTransportTest.streamingOutputShouldBeFlowControlled doesn't test flow control"
It is actually very difficult to _test_ inbound flow control using our API without long sleeps. streamingOutputShouldBeFlowControlled does long sleeps, but doesn't actually assert the number of requests that should have been requested. That makes it the slowest test (4s, x3 transports) without actually verifying anything additional to the other tests.

We should either fix the test or remove it.

[2015-03-26 14:18] ejona86 opened #246 "ClientAuthInterceptor synchronizes on wrong object"
The "this" in synchronized (this), is not the correct object to synchronize on:
https://github.com/grpc/grpc-java/blob/master/auth/src/main/java/io/grpc/auth/ClientAuthInterceptor.java#L77

It should be ClientAuthInterceptor.this instead. As the code stands, there is no synchronization between threads so you can see NullPointerExceptions as lastMetadata is set but not cached.

[2015-03-26 16:34] #246 closed

[2015-03-26 17:10] #245 closed

[2015-03-26 17:36] benmccann commented on #172
Depends on io.netty:netty-codec-http2:4.1.0.Beta5 being released

[2015-03-26 17:40] ejona86 commented on #172
Yes, the next Netty 4.1 Beta release. Originally, we were going to wait until Netty 4.1, as then there would be more frequent bug fix releases (not once a year). However, it is true that now that 4.1 is getting close Beta5 would suffice.

[2015-03-26 18:12] benmccann commented on #172
I don't suppose it'd be possible to use Netty 4.0.26 would it? I'd love to be able to use grpc, but I have other dependencies that also depend on Netty and none of them are using 4.1 yet since it's in beta, so I'm out-of-luck until 4.1 final is released I'm afraid

[2015-03-26 18:13] ejona86 commented on #172
As of yet (to my knowledge), HTTP/2 hasn't been backported to Netty 4.0. So no, not at this time.

[2015-03-26 18:47] #239 closed

[2015-03-26 19:36] #238 closed

[2015-03-27 14:15] nmittler opened #253 "Add clearer message when receiving GOAWAY from the server."

[2015-03-27 14:18] ejona86 commented on #253
I thought I did this in https://github.com/grpc/grpc-java/commit/e515c772cd81cc4ee1b6f24c1c36afbaac1c2ebb

[2015-03-27 18:01] benmccann opened #254 "Document transport layers (netty vs okhttp)"
Hi, am I right that there are currently two implementations of the transport layer? Netty and okhttp? I was curious if there are any situations in which one might be preferable to the other as I'm not quite sure why there are two implementations.

[2015-03-27 18:07] ejona86 commented on #254
Netty is for most usages, and okhttp is for Android. That is implicit today with our examples, but we should make that more clear.

[2015-03-27 18:27] ejona86 commented on #253
My changed message doesn't indicate the error is from a GOAWAY. I think RST_STREAM and GOAWAY will cause identicaly Statuses. That _may_ be appropriate though, given the HTTP/2 semantics.

[2015-03-27 18:36] benmccann commented on #254
Ah, thanks. That's super helpful context!

I assume usage on Android is mostly as a grpc client. Given that, is the okhttp implementation a client-only? Or is there an okhttp server as well?

[2015-03-27 18:42] buchgr commented on #254
@benmccann yes okhttp is only for the client.

[2015-03-27 23:38] zhangkun83 commented on #71
[osdetector-gradle-plugin](https://github.com/google/osdetector-gradle-plugin) is now available on Maven Central. I will be working on forking [gradle-plugin-protobuf](https://github.com/aantono/gradle-plugin-protobuf) and pushing native protoc and GRPC plugin to Maven Central.

[2015-03-30 07:05] hepin1989 commented on #172
@benmccann there is much work to do for backport to 4.0,so keep 4.1,any way ,there will be a 4.1 final later :P.
@ejona86 release date ?

[2015-03-30 15:27] nmittler commented on #172
FYI, Netty is leaning toward HTTP/2 support in Netty 4.1+ (https://github.com/netty/netty/issues/3515)

[2015-03-31 12:23] madongfly commented on #181
Do you want me to pick this up?

[2015-03-31 15:08] ejona86 commented on #181
Sure.

[2015-03-31 16:12] ejona86 opened #257 "OkHttp may be missing flush after sending headers"
It looks like we aren't flushing after headers. This works okay because we don't have any tests that don't send data. We should add such a test to AbstractTransportTests and add the flush as appropriate.

https://github.com/grpc/grpc-java/blob/7865b031e1402b9bf2577485ad610db78c068490/okhttp/src/main/java/io/grpc/transport/okhttp/OkHttpClientTransport.java#L192

On Friday I was playing with a chang

[2015-04-01 01:30] iamqizhao opened #260 ""An endpoint that receives a SETTINGS frame with any unknown or unsupported identifier MUST ignore that setting.""
I happened to send an invalid setting id (0x0) to a java server and saw the connection shutdown. The expected behavior as in http2 spec is

An endpoint that receives a SETTINGS frame with any unknown or unsupported identifier MUST ignore that setting.

instead of connection error.

Here is the stack trace:

Mar 31, 2015 5:58:51 PM io.grpc.transport.netty.NettyServerHandler onConnectionError
WARNIN

[2015-04-01 01:38] buchgr commented on #260
@iamqizhao Can you point to the spec where it says that?

AFAIK

[2015-04-01 02:20] ejona86 commented on #260
This is in part coming from me, too. I was working with @iamqizhao investigating a SETTINGS related issue and found that both implementations were doing it wrong :-).

The 0x0 value was a setting key, not a stream id. From the [HTTP/2 spec](https://http2.github.io/http2-spec/#SettingValues):

The 0x0 value is obviously wrong, as such a thing is not defined. However, for forward compatibility we ne

[2015-04-01 03:00] iamqizhao commented on #260
On Tue, Mar 31, 2015 at 6:39 PM, Jakob Buchgraber <notifications@github.com>
wrote:

the spec say in my original post (and the subject of this issue is that
too. :-).

[2015-04-01 04:00] buchgr commented on #260
@iamqizhao @ejona86 ahh I see. yeah settings id makes sense.

[2015-04-01 14:18] nmittler commented on #260
I've raised https://github.com/netty/netty/issues/3560 to fix Netty.

[2015-04-01 20:42] ejona86 commented on #71
@sergei-ivanov, one of the parts of option 3 is that we are getting binaries for protoc supported by protobuf project and in Maven Central (!!). We felt we really needed to solve the problem of protoc distribution. Since solving protoc distribution is almost the same as our binary plugin, we don't gain much (in the short-term) by swapping to a Java protoc plugin. We may still swap to a Java protoc

[2015-04-01 21:18] sergei-ivanov commented on #71
@ejona86 Yes, it is more like wishful thinking on my part. I really wish protoc was written in Java to start with, because that would have solved all portability problems at once. But we've got what we've got, and having binaries in central is better than having nothing at all. I hope your Linux binaries are going to run under not-so-modern kernel/glibc versions too, because in sectors like financ

[2015-04-02 05:56] #60 closed

[2015-04-02 06:06] madongfly commented on #181
In order to do this, we need the access to Settings, either wait for OkHttp's change, https://github.com/square/okhttp/issues/32, or we just hack it by adding a class in our code base but in  package com.squareup.okhttp.internal.spdy, if we go the later way, I'm worrying about the difficulty of sync with our internal version.

[2015-04-02 16:23] ejona86 commented on #181
@madongfly, no, that OkHttp issue is about something different that isn't part of the HTTP/2 spec any more.

We need to remember the MAX_CONCURRENT_STREAMS at [OkHttpClientTransport.settings](https://github.com/grpc/grpc-java/blob/master/okhttp/src/main/java/io/grpc/transport/okhttp/OkHttpClientTransport.java#L432) and make sure not to exceed the number of streams in [OkHttpClientTransport.newStre

[2015-04-02 18:32] zhangkun83 commented on #71
@sergei-ivanov Our 32-bit linux binaries will have following dependencies:
- linux-gate.so.1
- libpthread.so.0
- libm.so.6
- libc.so.6
- /lib/ld-linux.so.2
Is it good to run on the not-so-modern systems of your concern?

[2015-04-02 18:36] ejona86 opened #262 "Context API"
Ideally it would not be grpc-specific. It would help with things like #174, but could also maybe provide cancellation support to the async stub and deadline propagation.

[2015-04-02 21:08] ejona86 opened #263 "ServerCalls delays handler calling for unary streams for outdated reason"
https://github.com/grpc/grpc-java/blob/master/stub/src/main/java/io/grpc/stub/ServerCalls.java#L76

[code]

The restriction of halfClose before OK is no longer present, having been removed before open sourcing. We should update the comment at the very least. We may choose to change how it works.

[2015-04-02 22:02] sergei-ivanov commented on #71
@zhangkun83 Thanks for the information, I'll find it out, but unfortunately not earlier than the next week. Good Friday and Easter Monday are public holidays here in the UK, and I'll need to poll my contacts in other UK banks too (protobufs have become quite popular in the finance sector in the last few years).

[2015-04-03 00:58] madongfly commented on #181
@ejona86, I meant the general idea of "Better support for SETTINGS", currently we can't config/read the Settings.

[2015-04-03 01:08] ejona86 commented on #181
@madongfly, that OkHttp issue is for making SETTINGS _durable_. That is, to save them on disk like is done with cookies and caches. That feature is no longer part of the HTTP/2 spec and so is no longer appropriate for discussion.

We can receive the settings when the server sends them, in OkHttpClientTransport.settings(), which I linked to. Why do you think we can't config/read the settings?

[2015-04-03 01:11] madongfly commented on #181
Because the necessary field/methods are package private.

On Fri, Apr 3, 2015 at 9:08 AM, Eric Anderson <notifications@github.com>
wrote:

[2015-04-03 01:30] ejona86 commented on #181
Ah, I see. Yeah, I don't think we're going to get that changed. We should create a utility class in the appropriate package and call it to get the information we need:

[code]

[2015-04-03 01:39] madongfly commented on #181
Yeah, that's the 2nd option I mentioned, we can go this way.

[2015-04-03 12:41] benmccann commented on #172
Could we use Netty 4.1.0.Beta4 for the time being until 4.1.0.Beta5 is released? It looks like only a couple lines in NettyClientHandler rely on the beta 5 API.

[2015-04-03 14:52] #219 closed

[2015-04-03 20:50] louiscryan commented on #182
From @swankjesse

https://github.com/square/okhttp/issues/32#issuecomment-88887281

We need to consider the maintainability of forking a bunch of OkHttp code here. Other viable options are to JNI-wrap the C runtime on Android or to use the Chrome networking library

Jesse - Got any strong opinions about those alternatives, particularly given that we already have a pure Java impl in Netty that woul

[2015-04-03 21:29] swankjesse commented on #182
JNI complicates development & deployment. You'll need a nontrivial amount of code to manage sharing buffers between native code and Java. How big are the buffers? Are they dynamically resized? When are they released? So that approach would be a nonstarter for me.

I haven't used the Netty. I would be reluctant to adopt it for my Android apps due to its code size, but I'm probably more sensitive to

[2015-04-04 09:34] madongfly commented on #257
Actually we do have the emptyStream() test in AbstractTransportTests which doesn't send data, and the header was sent out with the "halfClose".

And I think it's fine to leave the headers being sent with the first data Frame or the "halfClose".

[2015-04-06 00:05] ejona86 commented on #257
For client-streaming, the RPC can be created and neither half close nor request is sent, yet the call should still start on the server. I can double-check that that is what other people understand/have implemented.

[2015-04-06 03:32] madongfly commented on #257
FYI, in Stubby bi-directional streaming, the server will not aware of the stream unless it receives a message or half close.

[2015-04-06 22:23] ejona86 commented on #257
I asked Abhishek and he confirmed that we would want the HEADERS to be sent.

[2015-04-07 01:48] jeffreyji666 opened #273 "how to generate Grpc class with gradle?"
grpc example use gradle-plugin-protobuf to generate Grpc class with the following config:

generateProto.dependsOn ':grpc-compiler:java_pluginExecutable'

but this doesn't succeed when I build with gradle, it prompts:

how to reference grpc complier if I create a stand alone java project with gradle?

[2015-04-07 02:27] madongfly commented on #257
OK, I'll make a PR then.

[2015-04-07 07:04] madongfly commented on #181
This was fixed by #269

[2015-04-07 07:04] #181 closed

[2015-04-07 10:11] sergei-ivanov commented on #71
@zhangkun83
I have just checked our build server, and it has got 4 out of 5 required libraries.
[code]
Similar results for 64-bit libs (`ld-linux.so` has an extra suffix):
[code]
However, `linux-gate` could not be found anywhere on the file system, the following command returns nothing:
[code]
Linux version:
[code]

[2015-04-07 19:27] ejona86 commented on #273
We are in the process of making nice plugins that will make this easier, as part of https://github.com/grpc/grpc-java/issues/71.

For your issue, just remove the dependsOn. It is only necessary since the protoc plugin is in the same project.

[2015-04-07 19:28] #273 closed

[2015-04-07 19:47] zhangkun83 commented on #71
@sergei-ivanov linux-gate.so.1 (as well as linux-vdso.so.1 on 64-bit systems) [does not exist on the file system](http://www.trilithium.com/johan/2005/08/linux-gate/). So it looks we are good.

[2015-04-07 21:33] ejona86 opened #276 "Rename java_plugin to protoc-gen-grpc-java"
This follows [a naming convention](https://github.com/google/protobuf/blob/61477681710871dab2a5832d0d6324aa9b7d7867/src/google/protobuf/compiler/plugin.h#L45) that allows just placing it in PATH and having protoc discover it.

[2015-04-08 00:06] #118 closed

[2015-04-08 06:00] madongfly commented on #22
Reopen because after 11d0094e04ec884fb7e2a0670409aff5870b0a53 upgraded Netty to 4.1, the Http2 protocol became to "h2" while OkHttp 2.0 still using "h2-16"

[2015-04-08 10:02] madongfly opened #279 "Clean up stream after AbstractClientStream.inboundTransportError()"
Otherwise the stream object will still be held in the stream map of OkHttpClientTransport.

[2015-04-08 11:51] swankjesse commented on #22
Use OkHttp 2.3? It uses `h2`.

[2015-04-08 12:42] madongfly commented on #22
@swankjesse  yeah, we will upgrade it to 2.3.

[2015-04-08 17:57] wrwg opened #281 "Calls.asyncServerStreamingCall requests only one response"
The method Calls.asyncServerStreamingCall requests only 1 response from the underlying call. The documentation for request(N) states that a call will not deliver more than N responses, so if Call implementations would implement this contract, the resulting server stream would never contain more than one element.

[2015-04-08 18:12] nmittler commented on #281
Right, `request(n)` is to provide application-level flow control. The application gets to choose how many messages it wants to receive at once. When it wants to receive more, it calls `request(n)` again. We do this automatically in the generated stubs.

[2015-04-08 18:29] ejona86 commented on #281
In the async stub we request another message when delivering a message:
https://github.com/grpc/grpc-java/blob/2cad9e60006f50f2dff3c942e68e2a1b1895019d/stub/src/main/java/io/grpc/stub/Calls.java#L276
On Apr 8, 2015 11:12 AM, "Nathan Mittler" <notifications@github.com> wrote:

[2015-04-08 19:55] buchgr commented on #120
Fixed by #225

[2015-04-08 19:55] #120 closed

[2015-04-08 20:31] ejona86 commented on #279
What calls to inboundTransportError are you concerned about? The only one I could find that had issue was in [AbstractClientStream](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/transport/AbstractClientStream.java#L135). The ones in Http2ClientStream didn't seem like they would cause problem.

For the one in AbstractClientStream, it seems like we just need a sendCancel()

[2015-04-08 21:55] louiscryan commented on #172
There were quite a large number of bug fixes and performance fixes that went in after beta4 was cut so we need to wait for 5 sadly

[2015-04-08 21:57] benmccann commented on #172
I asked over there and it sounds like they're quite close to beta 5 or even 4.1.0 final

[2015-04-08 23:04] wrwg commented on #281
The semantics if request(n) seems to me rather unclear. Talking with Louis
and looking at the doc comment, it appeared to me it rather represents the
total no of responses, and not to "request n more messages to send". Can
this be please clarified?

If it actually would mean "request n more messages",
Calls.asyncServerStreamingCall can't work like its today, because the call
is hidden inside the m

[2015-04-08 23:12] ejona86 commented on #281
On Wed, Apr 8, 2015 at 4:04 PM, Wolfgang Grieskamp <notifications@github.com

It requests the number of responses, at the moment, to be delivered. What
part is unclear in the documentation
<https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/Call.java#L117>
?

If it actually would mean "request n more messages",

But it does work today.

We request(1) as soon as the call start

[2015-04-09 00:24] wrwg commented on #281
The documentation states: "Requests up to the given number of messages from
the call to be delivered to {@link Listener#onPayload(Object)}. No
additional messages will be delivered."

That's rather ambiguous to me, in particular in an asynchronous programming
model. It doesn't say that you can call it again, whether its accumulating
(e.g. is request(N) && request(M) is the same as request(N+M)), a

[2015-04-09 01:11] #215 closed

[2015-04-09 01:19] sergei-ivanov commented on #71
@zhangkun83 I've just taken another look at dynamically resolving Maven artifacts by GAV, and artifact type appears to be a required parameter in Maven, because it determines the artifact handler to be used. In the light of that, I think it would make sense to upload the `protoc` and `grpc-plugin` artifacts with the same _type_, e.g. `exe`, for all flavours. I realise that `exe` sounds silly for L

[2015-04-09 01:23] zhangkun83 commented on #71
This is exactly what we are doing. The protoc artifact will be named like ``protoc-3.0.0-alpha2-linux-x86_64.exe``

[2015-04-09 01:33] zhangkun83 commented on #276
I cannot rename the compilation target from ``java_plugin`` to ``protoc-gen-grpc-java``, because the latter is not a valid identifier. I think what we really care is the published artifact, which is currently named ``grpc-compiler``.

[2015-04-09 01:34] sergei-ivanov commented on #71
That is great, makes life a bit simpler on my side as well. Thanks for the confirmation.
--
Sergei

[2015-04-09 01:41] zhangkun83 commented on #276
No, the artifact name doesn't really matter either, because it has the ``<version>-<classifier>`` suffix that is not part of the convention. However, ``protoc-gen-grpc-java`` is still preferable to ``grpc-compiler``.

[2015-04-09 01:58] ejona86 commented on #276
The artifact name can be something else, but java_plugin isn't the current artifact name either.

[2015-04-09 05:55] #22 closed

[2015-04-09 06:18] madongfly commented on #279
@ejona86, actually I don't think the calling of inboundTransportError in AbstractClientStream will ever happen (the inboundPhase() == Phase.HEADERS case should have been caught by transportDataReceived).

I concerned the case in Http2ClientStream, we can not depends on sendCancel() to remove the stream since it is only called if we haven't seen endOfStream.

[2015-04-09 18:54] ejona86 commented on #281
On Wed, Apr 8, 2015 at 5:24 PM, Wolfgang Grieskamp <notifications@github.com

Do you have a suggested alternative language that would be more precise?

What if we added:
"If called multiple times, the number of messages able to be delivered will
be the sum of the calls."

If it actually means "send me the next N messages", its across with the

I don't really understand this point. This model is ba

[2015-04-09 22:28] #276 closed

[2015-04-09 22:58] #240 closed

[2015-04-09 23:04] ejona86 commented on #279
Looking at this more, sendCancel() isn't necessary for stream removal (it is necessary to inform the server though). It seems we can just finish the stream when we receive endOfStream in OkHttpClientStream; delaying until OkHttpClientStream.remoteEndClosed() is unnecessary as there is no need to keep the stream alive.

But this does expose that we don't handle early server response. If the server

[2015-04-10 08:07] madongfly opened #289 "AbstractTransportTest is flaky."
I've seen several failures of Http2OkHttpTest.pingPong() on Travis, like this one: https://s3.amazonaws.com/archive.travis-ci.org/jobs/57879240/log.txt.

But I couldn't reproduce the same failure in ~30 runs in my local repository.

[2015-04-10 15:20] wrwg commented on #281
Thanks Eric for the explanations. I think I understand the intention behind the Call abstraction better now. There needs to be better documentation of the contract of the entire Call object, I open a separate issue for that, and close this one.

[2015-04-10 15:20] #281 closed

[2015-04-10 15:37] wrwg opened #290 "Improve documentation of contract of io.grpc.Call"
This class seems to be underspecified. A couple of issues which can't be easily derived:

- Can request(N) be called multiple times before the next payload is received, and is it accumulating.
- If not accumulating, what does it mean if request(0) is called after request(N) but before payload is received. Does it suppress the already scheduled output? How strong is the contract that there are neve

[2015-04-10 15:51] ejona86 commented on #290
Bullet 1 and 2: Adding this seems like it would address them:
"If called multiple times, the number of messages able to be delivered will
be the sum of the calls."

We should also probably say something about how numMessages "must be positive." (or non-negative).

Bullet 3: No, there can't be a race, because you can't take back tokens you've given.

Bullet 4: request() and sendPayload() can be in

[2015-04-10 16:04] ejona86 commented on #289
It probably is. Travis is good at finding races because it is a much weaker machine than what we normally use. Simply because it is different things end up running in a different order, sometimes consistently.

[2015-04-11 00:09] ejona86 opened #293 "OkHttp only connects to "h2" ALPN protocol"
Values "h2-14", "h2-15", and "h2-16" result in [Protocol](https://github.com/square/okhttp/blob/293792c5ee66323c6070f9d88227d6579feaba47/okhttp/src/main/java/com/squareup/okhttp/Protocol.java#L87) throwing an error from [OkHttpTlsUpgrader](https://github.com/grpc/grpc-java/blob/master/okhttp/src/main/java/com/squareup/okhttp/OkHttpTlsUpgrader.java#L80).

We should support all those options, as we

[2015-04-11 02:04] madongfly commented on #293
Let me guess what was wrong here, some internal users are doing ALPN by themselves, so when OkHttpTlsUpgrader is applied, the ALPN has already been Done, but the negotiated protocol is different than OkHttp 2.0's "h-16", right?

Can you confirm "h2-16" can actually work? otherwise my speculation is incomplete.

[2015-04-11 03:23] madongfly commented on #289
Seem a similar failure for netty:
io.grpc.testing.integration.Http2NettyTest > serverStreamingShouldBeFlowControlled FAILED

https://s3.amazonaws.com/archive.travis-ci.org/jobs/57969751/log.txt

[2015-04-11 04:01] madongfly commented on #289
I tried --runs_per_test=5000 in internal but still couldn't reproduce the failure.

[2015-04-11 18:36] ankurg opened #296 "Gradle build points to https with self signed certificate"
In installation step for grpc-java
./gradlew install
 exec /usr/lib/jvm/jdk1.7.0_51/bin/java -Dorg.gradle.appname=gradlew -classpath <path>/grpc-java/gradle/wrapper/gradle-wrapper.jar org.gradle.wrapper.GradleWrapperMain install
Downloading https://services.gradle.org/distributions/gradle-2.2.1-all.zip

Exception in thread "main" javax.net.ssl.SSLHandshakeException: java.security.cert.CertificateE

[2015-04-11 19:21] ejona86 commented on #296
This should be a temporary issue: http://discuss.gradle.org/t/https-services-gradle-org-has-invalid-certificate/8810

It seems like they just recently swapped out their cert, since the current one was issued on the 7th.

[2015-04-12 13:51] madongfly commented on #279
@ejona86
I looked into the problem more deeply, so actually in our current implementation, we won't receive a data frame with end-of-stream, the end-of-stream will always be in a header frame (the Trailer), right? Is this required by our protocol? if so, we should clean up our stream classes, since there are many data frame handling involves end-of-stream, which is confusion.

[2015-04-12 15:41] ejona86 commented on #279
Normal responses will only have end of stream on the last HEADERS. However, for proxy-genereated errors, that isn't the case. And we would need to support doing something sane for such errors.

[2015-04-13 18:41] ejona86 commented on #296
The Gradle issue appears to be resolved now and I'm not seeing the issue any more.

[2015-04-13 18:41] #296 closed

[2015-04-13 21:48] #144 closed

[2015-04-14 07:29] jeffreyji666 opened #299 "platform issue"
I run a grpc java server on Mac OS, it is ok to test it with java client, but error happened on a linux server,and the error is as follows:

	at io.grpc.stub.Calls.getUnchecked(Calls.java:117)
	at io.grpc.stub.Calls.blockingUnaryCall(Calls.java:129)
	at com.engzo.search.protoc.SearchGrpc$SearchBlockingStub.searchForum(SearchGrpc.java:245)
	at com.engzo.search.api.SearchClient.searchForum(SearchCli

[2015-04-14 08:40] madongfly opened #300 "Reset stream if receive server's halfClose before client sends halfClose."
This was exposed by the discussion on #279.

[2015-04-14 08:47] madongfly commented on #279
It turned out that we can't finish the stream before the Http2ClientStream handles the data, because we may not know the correct status yet, so alternatively, I chose to remove the streams for the error cases after the super-class's handling. PR is coming.

And for the early server half-close case, I split it to #300.

[2015-04-14 09:58] madongfly commented on #299
This stack trace didn't tell much useful info, did your server see a corresponding error? if so, please provide the stack trace.

If not, did your server implementation call onError()? this stack trace is identical to the case that server calls onError(). @ejona86, this reminds me that our current Status lack of the ability to present application errors, we currently use INTERNAL for users' onErro

[2015-04-14 15:47] ejona86 commented on #299
On Tue, Apr 14, 2015 at 2:58 AM, Xudong Ma <notifications@github.com> wrote:

We purposefully don't propagate generic exceptions to the client, as that
makes it easy to leak server details that the service author don't want
leaked. That is why we only use status messages that were explicitly
provided with Status, as those are meant to be communicated to the client.
As you suggest, we could include

[2015-04-14 15:51] ejona86 commented on #279
@madongfly, why wouldn't we know the correct status? If the server sends endOfStream, then nothing that happens after that point should change the status, with the exception of cancellation. Could you point out where we need to set the status after inbound endOfStream on client-side?

[2015-04-15 01:21] madongfly commented on #279
@ejona86
We extract the status from the trailers:
https://github.com/grpc/grpc-java/blob/c3e8dae6ce604dfdcd8fc0eb0f7b0e2303e48a98/core/src/main/java/io/grpc/transport/Http2ClientStream.java#L161, Unless we also extract it in OkHttpClientStream, but I don't like the duplicate operation.

[2015-04-15 03:28] madongfly commented on #299
INTERNAL with an empty message makes me think that the error was happened in gRPC library, we should have a description to tell client the error was happened in application code.

The server logs is needed even with the description, but in case the client user doesn't own the service,  the description can help the user to decide the next step is asking the service owner or consulting gRPC communit

[2015-04-15 18:02] ejona86 opened #305 "Reduce number of flushes"
Each flush causes its own TCP frame to be written because we Nagle is disabled. Reducing the number of flushes would greatly reduce the number of TCP frames and number of syscalls. Even if performance benchmarks don't show a benefit by reduced flushing, if we are able to see improvements to goodput that would be enough for such an optimization.

Reduce number of flushes, in gRPC and maybe Netty.

[2015-04-15 22:06] ejona86 commented on #299
Maybe we should be using UNKNOWN instead for converting from exceptions? @louiscryan

[2015-04-16 01:34] #293 closed

[2015-04-16 18:13] ejona86 opened #307 "Revisit Lifecycle API"
The current shutdown/shutdownNow/isShutdown/awaitShutdown/isTerminated/awaitTerminated API of ChannelImpl and ServerImpl was chosen when we had time constraints in removing Service from our API. During its addition in #33, @adriancole and @nmittler expressed concern for the API, but the API was left in-place and the decision delayed as part of #28. The Health-checking API is coming, but the curren

[2015-04-16 18:29] #35 closed

[2015-04-16 22:25] zhangkun83 commented on #71
I have pushed our new [protobuf-gradle-plugin](https://github.com/google/protobuf-gradle-plugin) to Maven Central. It can pull ``protoc`` and ``protoc-gen-grpc-java`` from repositories. I will push ``protoc`` artifacts to Maven Central soon.

[2015-04-16 23:49] sergei-ivanov commented on #71
Thanks! I've got Maven plugin almost ready too, but I think I'll wait until `protoc` and `grpc` binaries are in central, because then I'll be able to reference the new artifacts from the integration tests.

[2015-04-17 04:42] dconnelly opened #309 "Build seems broken on OS/X"
Commit da3c3f8 (Solution for GRPC codegen deployment) seems to have broken the compiler build for me on OS/X. The previous commit builds fine.

[code]

[2015-04-17 19:59] zhangkun83 commented on #309
Can you try if commit 7d7e3e2 solves it?

[2015-04-17 20:03] ejona86 commented on #309
@zhangkun83, since that only would affect local_arch, and we would add x86_64 to the args we build automatically (```targetArchs.add(osdetector.arch)```), it seems like it wouldn't be enough. Am I missing something?

[2015-04-17 20:26] zhangkun83 commented on #309
Only ``local_arch`` is referenced inside GRPC project, so ``./gradlew test`` will work fine.
However, ``./gradlew install`` will try to build ``x86_64``, which will fail without ``LDFLAGS``.
Adding ``-lprotoc -lprotobuf`` to the linker args of ``x86_64`` will bring dynamic dependencies to the artifacts, even if you specify the ``.a`` files. Order doesn't matter.
I will try checking the task specif

[2015-04-17 23:33] #309 closed

[2015-04-17 23:58] louiscryan opened #312 "MessageFramer produces too small message chunks"
MessageFramer uses

bufferAllocator.allocate(maxFrameSize)

to produce chunks that the transport can write. Currently these chunks are always 4096 bytes regardless of transport or payload size.

Transports cannot coalesce these chunks and typically end up writing each one in a syscall. For large payloads this really hurts performance. Instead we should delegate to the buffer allocator and ask it t

[2015-04-19 04:02] ejona86 commented on #312
This change shouldn't change OkHttp much because 1) it will still use 2K sharded buffers under the covers and 2) it has [some extra buffering in place](https://github.com/grpc/grpc-java/blob/4bc2d6d9a4f3a0c8e035393d6de5c999472cfc45/okhttp/src/main/java/io/grpc/transport/okhttp/OkHttpClientTransport.java#L298). However, it could benefit from fewer Runnables being added to the write executor.

In lo

[2015-04-20 17:46] dconnelly opened #317 "Integration test largeUnary failing"
We recently ran into an issue with one of our services where sending large responses results in transport errors being logged as well as eventual transport failure. I managed to reproduce this behavior in integration test largeUnary as well. When running a single iteration of largeUnary the test passes although connection errors are logged:
[code]

However, running largeUnary in a simple loop caus

[2015-04-20 17:58] zhangkun83 commented on #146
@iamqizhao and I just had a discussion. He also agrees with three slashes. In the spirit of "lack of authority", we probably need to support ``uds://localhost/path/to/file`` too.

[2015-04-20 18:22] ejona86 commented on #146
@a11r, what is your view on naming for Unix Domain Sockets?

For the current Netty implementation, I think we may not need a URI at all, since the user could just pass a [DomainSocketAddress that specified the file](https://github.com/netty/netty/blob/master/transport-native-epoll/src/main/java/io/netty/channel/unix/DomainSocketAddress.java).

[2015-04-20 18:48] ejona86 commented on #317
This looks similar to https://github.com/netty/netty/issues/3643, https://github.com/netty/netty/issues/2861. HTTP/2 in Netty recently removed tracking of recently-closed streams because it was consuming a lot of memory. This and many similar bugs show issues with the current handling of missing streams or the need to re-introduce that history (but an alternative approach that uses less memory).

[2015-04-20 20:52] buchgr opened #318 "Remove String allocation in MutableHandlerRegistryImpl.lookupMethod(String)."
In QPS benchmarks we spend roughly 1% of the total allocations on allocating String objects when doing a `substring` on the method name.
![screenshot from 2015-04-20 14 11 14](https://cloud.githubusercontent.com/assets/1388179/7240604/24c359ca-e767-11e4-9976-b7826bac9be9.png)

[2015-04-20 21:11] ejona86 commented on #312
Apparently Nio [does use writev](https://github.com/netty/netty/blob/da01902ea2216f6cbf9d1b2e0cd80d3b879af06b/transport/src/main/java/io/netty/channel/socket/nio/NioSocketChannel.java#L300).

[2015-04-20 21:22] buchgr opened #319 "CodedInputStream and CodedOutputStream always allocate a fixed 4KB byte array."
Protobuf's `CodedInputStream` and `CodedOutputStream` always allocate 4KB sized byte arrays in their constructor. For small messages this is overkill and we should investigate if we can reduce this. On QPS benchmarks our heap consists for roughly 30% of those byte arrays. So this can have a big impact for memory usage.

[2015-04-20 21:35] buchgr opened #320 "CompositeReadableBuffer and SerializingExecutor allocate a 16 entry ArrayDeque."
The `CompositeReadableBuffer` and the `SerializingExecutor` always allocate a 16 entry `ArrayDeque`. We should investigate if we can get away with a smaller default size in order to save memory. In benchmarks just over 2% of total allocations are the `Object[]` that back the `ArrayDeque`.

A 16 element `Object[]` uses roughly 80 byte of memory (12 byte obj header + 4 byte length + 4 byte per entry

[2015-04-20 21:43] buchgr opened #321 "Set initial size for ArrayList in TransportFrameUtil.toHttp2Headers"
In QPS benchmarks roughly 0.5% of the total heap is spend on growing the `ArrayList` in `TransportFrameUtil.toHttp2Headers()`. It seems like we roughly know the size in advance and so we should initialize it to this.

[2015-04-20 22:00] buchgr opened #322 "Improve synchronization of SerializingExecutor."
We are seeing some contention in `ChannelImpl.obtainActiveTransport()` and `SerializingExecutor`.

![serializing](https://cloud.githubusercontent.com/assets/1388179/7241437/c9678748-e76d-11e4-8c6a-8604223688e7.png)

![obtain](https://cloud.githubusercontent.com/assets/1388179/7241450/dc87a7ea-e76d-11e4-9ac1-7e91aca98c6b.png)

[2015-04-21 09:07] madongfly commented on #289
Closing this issue because I didn't see the similar failure on Travis for a week after #302 was merged.

[2015-04-21 09:07] #289 closed

[2015-04-21 17:23] louiscryan opened #325 "Determine upper-bound for Netty buffer sizes used in frame"
As a follow on to

https://github.com/grpc/grpc-java/issues/312

we need benchmarks to determine whether we should be placing an upper-bound on the buffers allocated to the MessageFramer from Netty. We are already setting a lower-bound to page-size (default is 8k) to facilitate buffer object caching within Netty as well as allowing for follow-on writes.

Setting an upper-bound should probably be d

[2015-04-21 18:11] ejona86 commented on #325
Why do you say:

I don't see where we are doing that.

[2015-04-21 18:30] louiscryan commented on #325
Sorry, that should have been 4k. Based on Netty's buffer benchmarks there is no appreciable difference betweekn 4k & 16k buffer allocations when ThreadLocal caching is in effect. There is no throughput difference in the allocator between 4k & 16k buffers so we can happily choose either as our minimum. Going to 64k prevents the thread-local cache from working which is why we see a step in performan

[2015-04-21 18:30] louiscryan commented on #325
@normanmaurer Hey Norman, got any advice for us on this one. We have the ability to chunk messages to make optimal use of PooledBufferAllocator and we're trying to determine upper and lower bounds on the chunks to maximize efficiency.

We're setting a lower-bound currently to page-size (8k) in part because we would sometimes like to absorb writes that occur after the allocation so having some padd

[2015-04-21 21:05] normanmaurer commented on #325
@louiscryan gimme till tomorrow, it's quite late here already and want to think a bit about it :)

[2015-04-21 21:33] zhangkun83 commented on #71
@sergei-ivanov check out the ``protoc`` artifacts on [Central](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.protobuf%22%20AND%20a%3A%22protoc%22)!
GRPC codegen artifacts will be released with the upcoming ``grpc-java 0.5.0`` release.

[2015-04-22 01:07] ctiller commented on #146
Question to the three slash crowd:

Given a current working directory of /home/ctiller
And a request to create a server at unix:///foo
What would be the absolute path of the uds name be?

[2015-04-22 01:19] zhangkun83 commented on #146
I suppose the addresses always indicates absolute paths, so the answer would be "/foo".

[2015-04-22 01:46] louiscryan commented on #146
Technically three-slashes is not authority-less, it's that the authority is inferred from the end-user context so it depends how you want to define the semantics of the scheme. If we followed the semantics of 'file' then paths are always absolute and the context is the root of the filesystem.

[2015-04-22 17:49] normanmaurer commented on #325
@louiscryan so I think everything <= 32k is fine as this can be served from the cache by default.

[2015-04-22 21:50] #235 closed

[2015-04-22 23:12] buchgr opened #329 "Support setting the HTTP/2 flow control window in grpc."
It would be nice if we could set the HTTP/2 flow control window from grpc in order to be able to do meaningful throughput tests in different environments e.g. two of my cloud VMs have a bandwidth delay product of 485KByte/s (high latency and high bandwidth). So with the default flow control window of 64KB we can theoretically only ever reach 13% of the possible throughput on that network.

Would b

[2015-04-23 14:25] nmittler commented on #329
@buchgr the client allows you to set the [connection window](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/transport/netty/NettyChannelBuilder.java#L125) and the [initial stream window](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/transport/netty/NettyChannelBuilder.java#L136).  Looks like we just have to do the same thing on the server-side

[2015-04-23 17:16] ejona86 opened #330 "OkHttpClientTransport.onGoAway() races with startPendingStreams()"
onGoAway has two phases: do things necessary under lock and final cleanup. In the first phase it collects the streams to terminate in the second and sets goAway.

startPendingStreams() does not observe goAway and also creates new streams that should be failed due to the goAway. From an initial look, it seems it would be best to remove failPendingStreams() and simply integrate its two phases into o

[2015-04-23 17:35] louiscryan commented on #329
We definitely need something like this. Altering the QpsServer & Client to receive these values one the command line would be very useful too

[2015-04-23 17:42] buchgr commented on #329
@nmittler @louiscryan

I am in the process of updating the QPS stuff. I ll add this to it.

[2015-04-23 18:29] louiscryan opened #331 "Throughput: AbstractServerStream does unnecessary flushes"
@ejona86 @nmittler

1. AbstractServerStream.writeMessage if no headers have been sent will immediately flush an empty header to the transport, by triggering internalSendFrame(flush = true)

2. In the case of a unary response we don't delay the flush of the framed message to allow the trailers to be flushed at the same time.

Will work on a PR

[2015-04-23 18:32] nmittler commented on #331
@louiscryan sgtm ... good find!

[2015-04-23 18:39] ejona86 commented on #331
#274 manually introduces the optimized flush behavior to OkHttp (because it was missing the flush outright). It would be nice if we could tell the transport to flush or not, since we could even want to batch across RPCs.

[2015-04-23 18:58] louiscryan opened #332 "Throughput: NettyClientTransport does unnecessary flush"
In the case of Unary & Server-streaming calls the immediate flush of request headers is unnecessary as a single payload must immediately follow for a valid call

[2015-04-23 20:45] louiscryan commented on #332
This is blocked by

https://github.com/netty/netty/issues/3688

[2015-04-24 00:39] louiscryan commented on #329
@buchgr Ping me when you have this so I can get rid of my Netty hacks to do proper testing of write-coalescing

[2015-04-24 01:34] zhangkun83 commented on #150
Coming back to CallOptions. Throwing out some thoughts.

**Priorities**
Options may be set at multiple locations. When it comes to merging them into the final one, we should probably assume the following order of priority (from highest to lowest):

1. Per-Call
2. Per-Stub (set through ``AbstractStub``)
3. Channel defaults
4. Method defaults (set through proto file)

**Immutability and Transparency

[2015-04-24 05:56] ejona86 commented on #150
Some "quick" notes:
I don't see us having per-call options. I don't see anything in your description that really talks about it further.

No need for a builder for CallOptions. A fluent interface for making modified versions sounds fine (a withTimeout(), for instance).

I agree that having Channel.getDefaultCallOptions() makes the flow weird, and would be happier not to have it. I also prefer pass

[2015-04-24 15:46] nmittler commented on #150
@ejona86

Err .. I'm confused.  You created this issue :)

[2015-04-24 16:28] ejona86 commented on #150
In reference to:

What I was trying to convey is we _won't_ support per-call options from a stub; saying that per-call wins out over per-stub should be vacuous, because you will never "combine" the options to each. You either have "per-call" or "per-stub" depending on the interface.

[2015-04-24 18:55] buchgr commented on #329
@louiscryan it's in grpc now and is part of the next QPS update.

[2015-04-24 18:55] #329 closed

[2015-04-24 21:42] buchgr opened #336 "Memoryleak in Netty Server"
When pushing the server hard I am getting

[code]

and OOM with a 30GB heap after a few minutes. I guess we have a memory leak :-). Working on it.

[2015-04-24 21:53] louiscryan commented on #336
I have a fix. It's caused by the allocation of an 'empty' buffer which is not really empty which is never released.

[2015-04-26 08:37] boosh opened #339 "Add code generation for the advanced server interface"
I asked on the mailing list (https://groups.google.com/forum/#!topic/grpc-io/1RiPC8XYP_U) whether a callback existed to notify the server that a client had disconnected so it could perform some cleanup actions. Here's the answer I received from Eric Anderson:

Because it is a unary request, there isn't a callback that notifies you of client cancellation (any error is considered a cancellation to t

[2015-04-27 16:56] ejona86 opened #340 "Buffer writes until flush, before sending to transport thread/lock"
This design could benefit both okhttp, as it reduces synchronization overhead. It also would also improve flush behavior and make flushes predictable when MAX_CONCURRENT_STREAMS is exceeded.

[2015-04-27 18:32] ejona86 opened #341 "OkHttp does not observe SETTINGS_INITIAL_WINDOW_SIZE"
It only [observes MAX_CONCURRENT_STREAMS](https://github.com/grpc/grpc-java/blob/master/okhttp/src/main/java/io/grpc/transport/okhttp/OkHttpClientTransport.java#L527).

[2015-04-27 21:00] #257 closed

[2015-04-27 21:09] #279 closed

[2015-04-27 22:54] madongfly commented on #341
I'd take this one as "Support user specified initial window size for okhttp".

[2015-04-28 15:05] magx2 opened #346 "Cannot compile C++ code on WIndows (VisualCpp)"
Hi,

I'm trying to build project under Windows. To do this I added tool chain with *visualCpp(VisualCpp)* (*compiler/build.gradle*):

	toolChains {
	    visualCpp(VisualCpp) {
	      installDir "c:/path/Microsoft Visual Studio 12.0"
	    }
	    gcc(Gcc) {
	      target("x86_64") {
		cppCompiler.withArguments { args ->
		  args << "-m64"
		}
		linker.withArguments { args ->
		  args << "-m64"
		}

[2015-04-28 15:08] magx2 commented on #346
This was introduced in commit: da3c3f8ced6b3630eb72cc5b9ff2cf8d31efadac (https://github.com/grpc/grpc-java/commit/da3c3f8ced6b3630eb72cc5b9ff2cf8d31efadac) @zhangkun83

[2015-04-28 18:25] zhangkun83 commented on #150
I am confused. Are you saying the Channel default options will have different fields from what CallOptions have? But our previous discussion around ``Channel.getDefaultCallOptions()`` assumed that Channel keeps its default options as CallOptions.

I don't follow this. What would the window size on Channel look like?

I get this part. A ``CallOptions`` is for a particular Call, so it has *deadline*

[2015-04-28 18:46] nmittler commented on #336
Fixed by #337

[2015-04-28 18:46] #336 closed

[2015-04-28 18:48] nmittler commented on #305
@ejona86 At this point, can we call this a dup of #331 and #332?

[2015-04-28 18:50] nmittler commented on #317
I believe this should be fixed as of 3ecbd04

[2015-04-28 18:50] #317 closed

[2015-04-28 18:55] nmittler commented on #312
Fixed by #313

[2015-04-28 18:55] #312 closed

[2015-04-28 18:55] nmittler commented on #325
Fixed by #313

[2015-04-28 18:55] #325 closed

[2015-04-28 18:58] nmittler commented on #260
This was fixed in 11d0094

[2015-04-28 18:58] #260 closed

[2015-04-28 18:59] nmittler commented on #253
@ejona86 I think the current code does about as much as we can given what the server is sending.  WDYT? Should we close this?

[2015-04-28 18:59] nmittler commented on #201
@ejona86 can we close this?

[2015-04-28 19:00] nmittler commented on #109
@louiscryan can we close this?

[2015-04-28 19:01] nmittler commented on #65
@ejona86 what's the state of this?

[2015-04-28 19:03] nmittler commented on #7
@ejona86 @louiscryan I think this is a dup of #331, #332, and #305.  Can we close this?

[2015-04-28 19:05] nmittler commented on #9
@ejona86 I think we've basically chosen JMH at this point ... can we close this?

[2015-04-28 19:06] nmittler commented on #23
@ejona86 should we just close this? If we want to pick this discussion back up we could do it in another issue.  WDYT?

[2015-04-28 19:25] louiscryan opened #350 "MessageFramer close on error can recurse"
MessageFramer.close is not safe for re-entrancy.

A stream write error, triggers an error reported to the stream, which triggers framer.close, which triggers a write, which ....

	at io.grpc.transport.netty.NettyServerHandler.onStreamError(NettyServerHandler.java:215)
	at io.netty.handler.codec.http2.Http2ConnectionHandler.onException(Http2ConnectionHandler.java:470)
	at io.netty.handler.codec.htt

[2015-04-28 19:50] #9 closed

[2015-04-28 19:53] ejona86 commented on #253
Yeah, and this problem has gone through multiple different iterations. It will need to be more specific if something still needs to be improved.

[2015-04-28 19:53] #253 closed

[2015-04-28 19:56] ejona86 commented on #150
But I'm thinking that `getDefaultCallOptions()` is problematic and want to drop it.

Well, today it is on option on the ChannelBuilder.

Where is that done? It needs to be done in the ChannelImpl, as someone can change MethodDescriptor along the interceptor chain. Since it is done in ChannelImpl, I don't think it actually needs to become a CallOptions; it can just be checked manually.

[2015-04-28 20:05] #350 closed

[2015-04-28 20:42] louiscryan opened #352 "Recursion in NettyClientHandler during shutdown caused by channelInactive"
@nmittler @ejona86

Connection termination can trigger recursion in active stream shutdown

channelnactive -> close active streams -> send pending frames -> write headers (fail) -> connection error -> send go_away -> close active streams -> ...

Apr 28, 2015 1:34:55 PM io.netty.handler.codec.http2.DefaultHttp2Connection notifyClosed
SEVERE: Caught RuntimeException from listener onStreamClosed.
jav

[2015-04-28 21:10] #330 closed

[2015-04-28 22:28] ejona86 commented on #23
No, we still need it. We aren't consistent at the moment.

[2015-04-28 22:33] ejona86 commented on #305
This issue brings up the topic of a batch API. @louiscryan, do we want an issue open for batch-write support?

[2015-04-28 22:34] ejona86 commented on #7
I'd like to leave this open until we integrate fixes for https://github.com/netty/netty/issues/3670, which currently doesn't have any other associated issue in gRPC.

[2015-04-28 22:35] ejona86 commented on #65
For me, the answer is, "yes, make them abstract classes." But I've not done it.

[2015-04-29 16:44] ejona86 opened #356 "OkHttpClientTransportTest.pendingStreamFailedByIdExhausted is flaky"
As seen in the [Travis logs](https://s3.amazonaws.com/archive.travis-ci.org/jobs/60558899/log.txt
):
[code]

The commit was restarted, and [succeeded](https://travis-ci.org/grpc/grpc-java/builds/60558898).

Another example of apparent flakiness: https://travis-ci.org/grpc/grpc-java/builds/59916295 . The commit before and after were green. The tested commit only changed Netty code.

[2015-04-29 17:16] madongfly commented on #341
This was fixed by #349

[2015-04-29 17:16] #341 closed

[2015-04-29 18:01] ejona86 opened #357 "Try to allow building java without having to build codegen"
It may be possible to use the last released codegen binary.

[2015-04-29 18:11] louiscryan commented on #109
Yes.

[2015-04-29 18:11] #109 closed

[2015-04-29 19:02] magx2 commented on #346
Also there is a bug in platforms, there is no such platform ```x86_32```, instead use ```x86``` (http://gradle.org/docs/current/userguide/nativeBinaries.html *55.14.2.*).

    x86_32 {
      architecture "x86_32" <- use "x86"
    }

Next think *visualCpp* does not now how to build platform ```local_arch``` and I get an error while running ```gradlew install```. Quick fix in this case is change it

[2015-04-29 20:27] ejona86 commented on #346
@magx2, are you using Gradle 2.2? With zhangkun83's change we swapped to Gradle 2.3. Using the gradlew script would make sure you are using the correct version.

[2015-04-29 20:32] ejona86 commented on #346
@magx2, nevermind. Yeah, you are right, it does look like we've got some issues.

[2015-04-29 21:15] magx2 commented on #346
@ejona86 using gradle wrapper so everything is working great (suck it maven ;) )

[2015-04-29 21:38] zhangkun83 commented on #346
@magx2 can you share your working build.gradle?

[2015-04-29 21:40] magx2 commented on #346
@zhangkun83  You want all file or only diff?

[2015-04-29 21:41] zhangkun83 commented on #346
Diff is fine :)

[2015-04-29 21:46] magx2 commented on #346
@ Poland is 23:42 so I will post this to you tomorrow ;) (from work)

More or less I did this (written from memory):

	model {
	  toolChains
	    // added new vcpp toolchain
	    visualCpp(VisualCpp) {
	    	installDir "dir"
	    }
	    gcc(Gcc) {
	      target("x86_64") {
		cppCompiler.withArguments { args ->
		  args << "-m64"
		}
		linker.withArguments { args ->
		  args << "-m64"
		}
	      }

[2015-04-29 23:27] #356 closed

[2015-04-30 00:06] ejona86 opened #359 "Http2ClientStream overwrites error message"
[Http2ClientStream.transportHeadersReceived()](https://github.com/grpc/grpc-java/blob/d0aad72441f2f110910003599bb923db6f671f02/core/src/main/java/io/grpc/transport/Http2ClientStream.java#L102) is calling withDescription instead of augmentDescription. This hinders debugging what went wrong.

@yang-g, since he is interested in when this is resolved.

[2015-04-30 00:09] ejona86 opened #360 "Check response content type on client"
[It seems](https://github.com/grpc/grpc-java/blob/d0aad72441f2f110910003599bb923db6f671f02/core/src/main/java/io/grpc/transport/Http2ClientStream.java#L49) we aren't checking the content type of responses on the client. The flag was originally put in place because some implementations were sending the wrong content type, but it seems we should enable it again.

[2015-04-30 14:29] yudov-maksim opened #363 "c++ server and java client communications issue"
Hello.
I try write gRPC communication with java client and c++ server on linux.
But i have exception (below) in client when it runs RPC procedure.
Logs shows that server processed request, sended answer and continues its work.
For test i wrote same client on c++ and same server on java. All communication versions works. And only client(java) with server(c++) failed.
I hope you can help me. Thanks.

[2015-04-30 14:38] yang-g commented on #363
This is the issue shows up in the interop test. Eric filed issue #359 to improve the error message to help solve the real problem.

[2015-04-30 14:50] yudov-maksim commented on #363
Ok. I will wait a solving.
Thank you.

[2015-04-30 16:45] piccolodream commented on #363
We are having the same issue here trying to implement a bi-directional communication between a Java program and a c++ program.  The communication from Java to c++ only works when the message field is empty.

A fix will be highly appreciated. Thanks again for this cool library.

[2015-04-30 17:57] #359 closed

[2015-04-30 20:22] ejona86 commented on #299
We've swapped from INTERNAL to UNKNOWN for application errors. But we purposefully don't provide more info, as the application needs to decide what information it is willing to expose.

[2015-04-30 20:22] #299 closed

[2015-05-01 05:42] buchgr opened #368 "Don't use SerializingExecutor when running with a direct executor."
I wanted to know what the impact of the `SerializingExecutor` is when running with a direct executor.

So I did 3 benchmarks, choosing the best out of 3 runs.

##### Direct Executor + Serializing (current master)
[code]

##### Direct Executor + Serializing Executor without synchronized blocks.
[code]

##### Direct Executor only, no Serializing Executor
[code]

So it seems to me that the potential

[2015-05-01 15:36] nmittler commented on #368
Nice!  SGTM

[2015-05-01 15:38] nmittler commented on #368
Should we just make DirectExecutor the default?

[2015-05-01 15:55] ejona86 commented on #180
The api-breaking portion has been completed. Actually swapping to use Netty's ALPN handling has not.

[2015-05-01 16:14] ejona86 commented on #368
No, we can't really make DirectExecutor the default given all the trouble that caused with Stubby in the past. We really want people to opt-in to the "don't block, ever" requirement.

[2015-05-01 16:21] louiscryan commented on #368
Impressive!

I'm with Eric on this one. The fact that we have an explicit directive in the builder to use direct executor means that we can still plumb this in just fine.

[2015-05-01 17:01] zhangkun83 commented on #357
Some thoughts:

- Run a continuous build service (e.g., Jenkins) to build codegen and push it to snapshot repo for every commit. We will need three machines (Linux, Mac and Windows) for this.
- Disable ``grpc-compiler`` by default when building the root project. If ``grpc-compiler`` is disabled, other subproject will use the codegen with the same version number as the current code. So if the code

[2015-05-01 17:35] buchgr commented on #368
Would you prefer to add a `DirectExecutor` to grpc and special case this class when set in `Builder.executor(...)` or have an additional option `Builder.directExecutor()`? I would prefer the latter.

[2015-05-04 15:29] zhangkun83 commented on #71
@sergei-ivanov We have been pushing grpc codegen snapshots to [Sonatype snapshot repository](https://oss.sonatype.org/content/repositories/snapshots/io/grpc/protoc-gen-grpc-java/). You can test your Maven plugin by pointing your repo to ``https://oss.sonatype.org/content/repositories/snapshots/`` and reference ``groupId: io.grpc, artifactId: protoc-gen-grpc-java, version: 0.1.0-SNAPSHOT``.

[2015-05-04 15:36] ejona86 commented on #357
I thought of another option that I think could work well and isn't hacky: we check in the generated code. We make code generation not part of "compile" and only run it when we are modifying the code generator.

[2015-05-04 16:36] ejona86 commented on #368
I agree with @buchgr's proposal on having a `directExecutor()` on the Builders.

If we wanted our options to be orthogonal, we could have an option `disableSerializedCallbacks()` or some such. We could still have `directExecutor()` which would be the equivalent of calling `executor(directExecutor)` and `disableSerializedCallbacks()`. I don't have many other use cases of `disableSerializedCallbacks

[2015-05-04 16:44] #346 closed

[2015-05-04 18:52] #116 closed

[2015-05-04 19:22] nmittler commented on #6
Fixed by #348

[2015-05-04 19:22] #6 closed

[2015-05-04 19:30] ejona86 opened #371 "okhttp: Implement outbound flow control"
#6 implemented the outbound flow control API for client and server, as well as support for it in Netty, but it did not implement support for it in OkHttp. We need outbound support in OkHttp, or at least dummy support (that implements the API, but doesn't provide push-back) for the near future.

Dummy support could be implemented on the client-side by calling notifyIfReady on stream creation ([simi

[2015-05-04 23:23] zhangkun83 commented on #357
This is actually a good idea. Where do you think we should put the generated code? I am thinking ``src/generated/java/``

[2015-05-04 23:58] ejona86 commented on #357
SGTM.

[2015-05-05 05:55] madongfly opened #375 "OkHttp: "Platform.getSelectedProtocol() == null" check is problematic"
May 04, 2015 9:48:24 PM com.squareup.okhttp.internal.Platform$JdkWithJettyBootPlatform getSelectedProtocol
INFO: ALPN callback dropped: SPDY and HTTP/2 are disabled. Is alpn-boot on the boot class path?

I used "Platform.getSelectedProtocol() == null" prior to our TLS hand shake to check whether user has already done the handshake, if they haven't, this log would show up while we are about to do t

[2015-05-05 11:25] GrgrLmml commented on #363
The  problem disappears (at least for me on OSX) when updating to master on both grpc and grpc-java.

[2015-05-05 15:46] ejona86 commented on #363
We've seen the problem go away on integration tests as well. I'm not fully certain what change caused it to be introduced or fixed, but it seems resolved at this point.

[2015-05-05 15:46] #363 closed

[2015-05-05 19:48] madongfly opened #382 "Unsupported TLS version exception on server side is not handled."
[code]

The corresponding client exception is:
 java.lang.RuntimeException: javax.net.ssl.SSLException: Connection closed by peer
It's hard to understand what was wrong from such limited info.

We should let the client knows its TLS version is problematic.

[2015-05-05 19:52] ejona86 commented on #382
That appears to be completely Netty or the JRE's behavior. We'll need to look into 1) what TLS expects to happen and 2) what changes would be necessary upstream.

[2015-05-05 20:43] madongfly commented on #375
Actually, I just found the "Platform.getSelectedProtocol() == null" check is problematic, with Android environment , calling  conscrypt.OpenSSLSocketImpl.getAlpnSelectedProtocol() before the handshake would cause a NPE, so we have to remove this check.

[2015-05-05 23:18] madongfly opened #385 "No ciphers available."
With using Http2SecurityUtil.CIPHERS, we are encountering this cipher suites issue, the previous workaround is running with JDK8.

But now this issue is biting Android integration test.

[2015-05-06 17:11] #357 closed

[2015-05-06 18:16] zhangkun83 opened #389 "Integration test fails on HEAD"
I am on HEAD (commit 111f6dd)

``./gradlew :grpc-integration-testing:test`` keeps failing on both Mac and Linux with:
[code]

[2015-05-06 21:34] ejona86 opened #394 "Examples should use CreateStartScripts"
We are using CreateStartScripts in benchmark and integration-testing, and it seems nice. We should do the same for the examples (so similar changes to 00a7192).

Documentation will need to be updated.

[2015-05-07 14:39] #201 closed

[2015-05-07 15:49] #394 closed

[2015-05-07 17:24] ejona86 commented on #205
This was primarily fixed in #378, but we still require running Gradle until our Docker files are updated.

[2015-05-07 17:54] #205 closed

[2015-05-07 18:12] zhangkun83 commented on #389
@nmittler
It turns out the culprit is Java 7 because it lacks the necessary cipher suites. Running it on Java 8 solves the problem.

[2015-05-07 18:12] #389 closed

[2015-05-07 18:16] nmittler commented on #389
@ejona86 how well is this documented? Should we update our docs for this?

[2015-05-07 18:16] nmittler commented on #389
@zhangkun83 thanks for digging into this!

[2015-05-07 21:27] ejona86 commented on #385
Are you referring to this impacting our internal integration test, or some other test?

[2015-05-07 22:07] zhangkun83 opened #404 "Proto files are not recompiled if codegen has been changed"
Since we have checked in the generated code, we must re-generate them if 1) the proto files are changed, or 2) the codegen is changed, or 3) the version of protoc is changed.

The ``generateProto`` task uses the proto files as input, and I have confirmed that 1) works, but 2) and 3) don't.

[2015-05-07 23:26] #404 closed

[2015-05-07 23:42] #65 closed

[2015-05-07 23:43] madongfly commented on #385
Yeah, I meant for our integration test, I ended up using gms security provider.

[2015-05-07 23:49] madongfly opened #408 "Bad transport may be used for starting stream."
Currently we reference activeTransport to the newly created transport before the new transport is started , so if the new transport failed starting with an exception, the subsequent stream still try to use the bad activeTransport.

[2015-05-08 00:07] ejona86 commented on #408
This is by design.

There are multiple, multiple races between channel and the transport that can't be solved in Channel because the Channel is creating streams on a different thread. Instead, the transport has to be coded to fail new streams [after it has failed by throwing IllegalStateException](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/transport/ClientTransport.ja

[2015-05-08 00:07] #408 closed

[2015-05-08 00:09] ejona86 commented on #385
Did using GMS Security Provider fix the issue?

[2015-05-08 00:17] madongfly commented on #385
Yes. I didn't close this issue because it's still a problem with jdk7.

[2015-05-08 00:19] ejona86 commented on #385
We're not going to solve this for JDK7, except for maybe using OpenSSL, and that won't work for everyone.

[Oracle isn't releasing any more updates to JDK7.](http://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html) Calling JDK7 dead and working with JDK8 which has the necessary ciphers seems prudent.

[2015-05-08 00:51] madongfly commented on #385
OK, closed it then.

[2015-05-08 00:51] #385 closed

[2015-05-08 01:15] louiscryan opened #411 "OkHttp connection window does not reclaim outstanding connection window of closed stream"
Netty will return any unprocessed stream window to the connection window on stream closure, OkHttp does not currently do this.

See onStreamClosed in Nettys DefaultHttp2LocalFlowController.

This will surface if a stream is cancelled and there is a partial message in the Deframer as the Deframer intentionally does not return bytes if there are no pending requests.

[2015-05-08 17:33] ejona86 opened #412 "routeGuideClient hangs"
As reported by Martin, (I assume @magx2). @magx2, what git commit were you running at?

Terminal1-server:
[code]

Server is started; now running client. Terminal2-client:
[code]

Stopping client with CTRL+C results in error in server:
[code]

[2015-05-08 20:06] louiscryan commented on #352
This can be reproduced by removing the calls to

completed.set(true);
Thread.sleep(5000);

in MaxQpsBenchmark which delay the shutdown until the calls have drained.

[2015-05-08 20:43] magx2 commented on #412
I was running from today's HEAD so this is fresh (Netty is also updated).

My spec:
-  Windows 64 bits
- Protoc complied to x86_32 via Visual Cpp
- Java 7 SE

Also I have problem with not running integration tests (issue #389 ) - @ Monday will check with Java8

[2015-05-11 17:54] nmittler commented on #352
Hmm ... I don't seem to be able to recreate this with the latest code.

@louiscryan Are you still seeing this?

[2015-05-11 20:56] magx2 commented on #412
Hmm after updating to today's HEAD problem is gone. Probably it was some Netty problem.

Please close and thanks :)

[2015-05-11 22:04] ejona86 commented on #412
Okay. Sounds good.

It could have been a timing problem, so if you see it again, please don't hesitate to re-open.

[2015-05-11 22:04] #412 closed

[2015-05-12 15:04] loveai88 opened #420 "can not compile with genetor code"
java version "1.8.0_40"
Mac OS X 10.10.3
gradle version 2.4
protobuf version 3.0

I can use `gradle compile` when `skipCodegen=true`,but I can not compile when I want code gen.

First,It show me 'google/protobuf/compiler/java/java_names.h' file not found,then I copy the cpp file from protobuf/share to compiler/src/java_plugin/cpp.It show me `unknown type name 'Atomic32'`.

How can I do it? Thanks.

[2015-05-12 15:27] ejona86 commented on #420
If you don't have java_names.h, then you are probably using too old of a proto 3 alpha. We need at least alpha 2.

Can you confirm that using alpha 2 (or master) fixes the issue for you?

[2015-05-12 23:44] ejona86 commented on #371
With #407, OkHttp will now behave in a consistent manner for flow control, but it won't ever push back.

[2015-05-13 01:15] loveai88 commented on #420
yes,I use 3.0.0-alpha-2

[2015-05-13 16:00] ejona86 commented on #420
So then you should have the include at a place similar to `/usr/local/include/google/protobuf/compiler/java/java_names.h`. You also need to make sure to run something similar to `export CXXFLAGS="-I/usr/local/include" LDFLAGS="-L/usr/local/lib"` so that our build script knows where to find it. You shouldn't need to copy that header to `compiler/src/java_plugin/cpp`.

[2015-05-13 17:09] madongfly commented on #375
Fixed by #415

[2015-05-13 17:23] ejona86 opened #426 "Add documentation saying that transport has weaker API guarantees"

[2015-05-13 17:23] ejona86 opened #427 "Make it more obvious that JDK 8 is necessary for TLS"

[2015-05-13 17:39] ejona86 opened #428 "Client-side Load Balancing"
For the moment, all things client-side load balancing. Designs, requirements, etc. Can be split into separate issues as appropriate.

There is an internal load balancing design that needs to be made public. This is on @a11r's plate.

There is want to support ZooKeeper. It may need a different Channel implementation than the one necessary for the doc @a11r will share.

@louiscryan
@jhump
@mzhaom

[2015-05-13 17:44] ejona86 opened #429 "Update docs to reflect current status of ALPN on older versions of Android"

[2015-05-14 02:08] loveai88 commented on #420
Thanks,I compile it success

[2015-05-14 02:08] #420 closed

[2015-05-14 17:45] benmccann commented on #172
Think we can do this now that Netty 4.1.0.Beta5 is released and we're grabbing it from Maven?

[2015-05-14 18:06] ejona86 commented on #172
Yes, certainly. As of today we are only waiting on the few docs-related changes in the 0.7.0 milestone. We would also like #411 to be done, but we wouldn't necessarily delay for it.

[2015-05-14 19:09] #300 closed

[2015-05-14 21:21] louiscryan opened #433 "Requesting more messages from the Deframer causes unnecessary context-switching"
In the case of a incoming stream of messages the flow-control window may accommodate more than one message. If the deframer has several messages in its currently held buffer we end up doing a lot of context switching to request more messages out as we end up with a sequence like

deframer.request(1) -> jump to app thread -> onPayload() -> call.request(1) -> jump to event loop -> deframer.request(1

[2015-05-15 01:42] zhangkun83 commented on #150
I have put what I have got so far in this doc:
https://docs.google.com/document/d/1yglaLqCn60r3M3pUrheOXq-VhETw-iLE32rRwQUhjyY/edit#

[2015-05-15 17:09] louiscryan opened #436 "ServerCalls binding utilities are too general"
Generated server bindings use only two methods in ServerCalls to adapt a service. The lack of differentiation between the different modes of streaming causes too many calls to 'request' more messages from flow control in scenarios where no more messages are available.

[2015-05-15 17:11] ejona86 commented on #436
Stage 1 of this is simply to dupe the current methods, one for each type of call, right? We only have asyncUnaryRequestCall and asyncStreamingRequestCall in ServerCalls today, and we should instead have one for each type of call (4 total).

[2015-05-15 19:08] #427 closed

[2015-05-15 19:22] ejona86 commented on #146
Note that this conversation applies also to a shared memory transport.

[2015-05-15 21:40] ejona86 commented on #411
@madongfly found, and I confirmed, that OkHttp sends back the connection window independently of the stream flow control windows. It actually will send the window update back immediately.

https://github.com/grpc/grpc-java/blob/master/okhttp/src/main/java/io/grpc/transport/okhttp/OkHttpClientTransport.java#L514

[2015-05-15 21:40] #411 closed

[2015-05-15 21:46] ejona86 opened #440 "OkHttp does not return connection flow control for DATA of unknown stream"
It returns early.
https://github.com/grpc/grpc-java/blob/master/okhttp/src/main/java/io/grpc/transport/okhttp/OkHttpClientTransport.java#L501

It seems like we can just move the windowUpdate handling before the return.

[2015-05-15 21:47] ejona86 opened #441 "WINDOW_UPDATE for unknown streams causes exception"
As discovered by @madongfly. It is very easy to get a WINDOW_UPDATE for an unknown stream. For instance, if we sent RST_STREAM and there is a WINDOW_UPDATE en route from the server already.

https://github.com/grpc/grpc-java/blob/master/okhttp/src/main/java/io/grpc/transport/okhttp/OutboundFlowController.java#L97

It seems we should just ignore such WINDOW_UPDATES instead.

[2015-05-15 21:56] nmittler commented on #441
FYI, in Netty, we ignore frames for streams that *MAY* have existed.https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2Connection.java#L125.

[2015-05-16 00:15] louiscryan commented on #433
@ejona86

Eric and I chatted about this. There are a couple of options on the table, the simpler more immediate fix is to have the deframer default its pending message count to 1, this would fix the issue for unary calls.

The more through fix which would help streaming calls is to make the deframer somewhat thread-safe so the application thread can request more messages without a thread hop. In t

[2015-05-18 14:58] nmittler commented on #433
+1 both fixes sgtm ... @louiscryan are you working on PRs for either/both of these?

[2015-05-18 21:20] #440 closed

[2015-05-19 16:15] ejona86 opened #448 "Implement shutdownNow"
For both ChannelImpl and ServerImpl

[2015-05-19 16:18] ejona86 commented on #448
This will most likely involve adding shutdownNow to the transports.

[2015-05-19 16:20] ejona86 opened #449 "Consider delaying terminated state until application no longer processing"
In ServerImpl and ChannelImpl, we proceed to terminated as soon as all the transports have terminated. However, we should probably wait for all the SerializingExecutors to drain, since that is more of what the application would expect and it is useful to know that all the workers are done.

[2015-05-19 16:28] ejona86 commented on #340
This is obsolete after #431.

[2015-05-19 16:28] #340 closed

[2015-05-19 16:51] ejona86 commented on #243
This was resolved by #335.

[2015-05-19 16:51] #243 closed

[2015-05-19 16:54] ejona86 commented on #146
@nmittler, was this fixed as part of #432?

[2015-05-19 16:56] nmittler commented on #146
@ejona86 yeah, it is supported now.  I'm modifying the benchmarks to support UDS in #446

[2015-05-19 16:56] #146 closed

[2015-05-19 16:57] #320 closed

[2015-05-19 17:00] #321 closed

[2015-05-19 17:17] louiscryan opened #452 "Netty streams should reduce the capacity of pooled buffers passed to sendFrame"
When a small write and flush is passed through the framer we hold the full 4k of the buffer until the write completes. By reducing the capacity of a pool direct buffer to the readably byte limit we immediately release the unwritten portion of the buffer back to the pool.

This may or may not have an impact on performance and utility should be evaluated by bencmarking. It may improve performance by

[2015-05-19 17:21] louiscryan opened #453 "Investigate performance implications of hard-coded outbound flow-control buffer"
The outbound flow-controller assumes as 32k memory buffer as the ideal pending write limit to determine if a stream is available for further writes (as indicated by AbstractStream.isReady).

This may be sub-optimal,  for example in the single stream case it would limit a flow-control aware message producer for exhausting the connection window.

An alternate solution is to allow each stream to acce

[2015-05-19 17:25] louiscryan commented on #332
This is resolved with the introduction of the batching write queue

https://github.com/grpc/grpc-java/pull/431

[2015-05-19 17:25] #332 closed

[2015-05-19 17:25] louiscryan commented on #331
This has been resolved by

https://github.com/grpc/grpc-java/pull/431

[2015-05-19 17:25] #331 closed

[2015-05-19 17:26] ejona86 commented on #453
This is misleading. It is sub-optimal because for high-bandwidth links it may not buffer enough to get the full bandwidth out of the connection.

No, we shouldn't base it on connection window size. The remote chooses it, so it is not a useful gauge for local behavior.

We need per-stream restrictions too, in order to prevent one stream from starving all other streams (assuming that all streams are

[2015-05-19 17:28] louiscryan commented on #7
Issue in Netty has now been resolved.

[2015-05-19 17:28] #7 closed

[2015-05-19 17:30] #441 closed

[2015-05-19 17:36] louiscryan opened #454 "Consider implementing pull / batch write on streams to optimize flushing for streams"
For streaming calls that can produce a batch of messages as a unit consider adding an interface that allows for a single flush to propagate through the framer to the transport.

In the case of outbound flow-controlled streams it should be possible for a producer to generate a sequence of messages that produce a single flush in response to the onReady (and onPayload) callbacks where the sequence of

[2015-05-19 17:38] ejona86 commented on #454
For context, the main goal of this support is to reduce the number of buffers we use to write the messages. At present, each message would be in its own buffer; if each message is small we will waste a lot of memory.

[2015-05-19 18:01] ejona86 commented on #452
@louiscryan, I don't quite follow what this issue is about. Is it to reduce the minimum buffer size permitted by [NettyWritableBufferAllocator](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/transport/netty/NettyWritableBufferAllocator.java#L52).

[2015-05-19 18:30] louiscryan commented on #452
No, it's to free th unused portion of a buffer that is being flushed back to the allocator. Take a look at

[2015-05-19 20:38] ejona86 opened #455 "Implement compute_engine_creds interop test"

[2015-05-19 20:39] ejona86 opened #456 "Implement service_account_creds interop test"

[2015-05-19 20:39] ejona86 opened #457 "Implement jwt_token_creds interop test"
https://github.com/grpc/grpc/blob/master/doc/interop-test-descriptions.md#jwt_token_creds

[2015-05-19 23:37] ejona86 commented on #452
I don't see the code that does what you are describing. I see code that re-assigns the capacity in-place if it makes sense (like the new capacity is not < 1/2 the true capacity), but otherwise [allocates](https://github.com/netty/netty/blob/master/buffer/src/main/java/io/netty/buffer/PooledByteBuf.java#L112) [a new](https://github.com/netty/netty/blob/833b92a5aaca287f0f9ebdc74d15c6f0a5baef74/buffe

[2015-05-20 00:14] ejona86 opened #458 "Interop tests and servers should all use the same flow control window"
Right now we are generally using 1 MB as the connection window size and 64 KB as the stream flow control window. However, the tests were written assuming we were using the defaults of 64 KB for both. Also, it seems in the future we will be changing the flow control windows more. Java for instance is considering upping the window to 1 MB after putting in better memory handling. Java is also expecti

[2015-05-20 00:18] ejona86 commented on #458
This was intended to be created on the grpc repo. I've created a new issue there.

[2015-05-20 00:18] #458 closed

[2015-05-20 00:28] ejona86 opened #459 "AbstractTransportTest.veryLarge{Request,Response} very slow with TLS"
I recently noticed that building grpc-java took an additional 30s. I tracked it down to OkHttp enabling TLS for its Http2OkHttpTest. Each test consumes ~12 seconds when using TLS, but is < 200 ms without TLS. It shouldn't take 12s to send 10 MB... The problem exists with Netty as well.

Since each test is run twice (once for OkHttp, once for Netty), that means the tests are ~50 seconds on the crit

[2015-05-20 16:50] ejona86 commented on #459
Enabling tc-native/OpenSSL for the Netty tests reduced their execution time to .5 and .25 seconds. I've seen reports that GCM is phenomenally slow in Java. If GCM is the cause, we may choose a weaker cipher just for our tests.

[2015-05-20 16:57] ejona86 commented on #459
http://mail.openjdk.java.net/pipermail/security-dev/2014-March/010353.html
http://stackoverflow.com/questions/25992131/slow-aes-gcm-encryption-and-decryption-with-java-8u20
https://bugzilla.redhat.com/show_bug.cgi?id=1135504

The last bug says that a fix has been applied, but we would get to wait until 1.8u60.

This make be _yet another_ reason why getting tc-native all up-and-running would be a g

[2015-05-20 17:50] ejona86 opened #460 "Support messages with unknown length in framer"
We will need some tagging interface or similar in order to detect when available() (or some other method) knows the message length.

This does not mean we would make sure that available() in the inbound direction (because compression makes that hard).

[2015-05-20 17:52] ejona86 opened #461 "Remove thread-hop required for blocking stub"
Once #150 CallOptions is supported, we can use a per-call direct executor for blocking stubs.

[2015-05-20 18:03] ejona86 opened #462 "Decide whether gRPC will use options in proto for methods"
It would be possible to attach options, such as compression and default timeout, to methods. @a11r was thinking that we wouldn't have such options, but @louiscryan had been thinking we would. It doesn't seem we feel too strongly one way or the other, but we just need to get consensus and move forward.

[2015-05-20 23:07] madongfly opened #467 "Using SSLCertificateSocketFactory for TLS handshake doesn't work externally for Android older than 5.0"
Currently, internal Android projects are using SSLCertificateSocketFactory for TLS handshake, but since ALPN only works well with Android 5.0 or newer, they use NPN for Android 4.4 and older.

It works just because internal OKHttp has been hacked to support NPN.

With the external OKHttp, it will failed as:
[code]

[2015-05-20 23:12] madongfly commented on #467
The reason is that even the socket has done handshake successfully with NPN, Platform.getSelectedProtocol only checks for ALPN, and returns null if ALPN is not supported.

[2015-05-20 23:14] ejona86 commented on #467
Depending on the outcome of @zsurocking's tests, I would hope the solution here is "always use ALPN."

[2015-05-21 14:44] nmittler commented on #180
I suspect we should also add documentation for linux to use: -Djava.security.egd=file:/dev/./urandom

As described in http://docs.oracle.com/cd/E13209_01/wlcp/wlss30/configwlss/jvmrand.html. The extra `/./` is required in Java 5+ (http://stackoverflow.com/a/2325109)

WDYT?

[2015-05-21 14:55] nmittler commented on #180
Actually I just ran our tests and this doesn't seem to affect the results.  Perhaps it might make more of a difference on VMs (due to a lack of good entropy sources)?

[2015-05-21 15:03] ejona86 commented on #180
The random stuff will be fast, until it isn't. You can look at /proc/sys/kernel/random/poolsize to see how closely /dev/random is to blocking. It will start low when just booting up, increase as you do I/O, and drain as you create TLS connections. If it reaches zero then new connections will block. If it doesn't reach zero, then /dev/./urandom won't cause any behavior difference.

[2015-05-21 19:35] nmittler commented on #180
@ejona86 what exactly is the purpose of this bug? To switch to using Netty's OpenSSL? If so, can we rename the bug accordingly?

[2015-05-21 20:14] ejona86 commented on #180
No, this bug is to swap to Netty's ALPN, which is configured via SslContextBuilder with a ApplicationProtocolConfig. The only thing holding this up is running in Jetty (because of classpath issues), which our code is able to handle but we need to tweak things so that Netty's code works.

[2015-05-21 20:21] ejona86 commented on #180
@nmittler, you can take a look at the current changes I have: https://github.com/ejona86/grpc-java/commit/9dc615a36762a9354c2646aa4a0c112465e3c097 . Pretty straight-forward, except that it doesn't work with Jetty because of ClassLoader issues.

[2015-05-21 21:58] kchodorow opened #473 "./gradlew fails"
When I run ./gradlew build or ./gradlew install, it fails with:

[code]

[2015-05-21 22:00] ejona86 commented on #473
It looks like you cloned in a small period of time where the codegenerated code had not been updated. https://github.com/grpc/grpc-java/commit/7a7450fff94472cb92c8fba9bc3cc3ac84b7389c should have resolved your problem.

[2015-05-21 22:07] kchodorow commented on #473
No, my repo contains that commit (I cloned ~1 hour ago).

[2015-05-21 22:13] ejona86 commented on #473
Hmm... Interesting. I just tried a build at commit 65d73c0d (master) with skipCodegen=true and couldn't reproduce. What commit are you at? (`git rev-parse HEAD`) Does `git status` show your working directory is clean?

[2015-05-21 22:20] kchodorow commented on #473
Weird, git status showed a bunch of deleted files.  I reset --hard HEAD and tried again and it worked!

I didn't rm anything, maybe something in the `git submodule update --init; cd lib/netty; mvn install -pl codec-http2 -am -DskipTests=true` sequence did it?  Regardless, works now!

FWIW, the files that disappeared:

[code]

[2015-05-21 22:25] ejona86 commented on #473
It might have happened if you ran ./gradlew build without -PskipCodegen=true. I'll try to watch out for ways the codegen can accidentally be deleted without being regenerated.

[2015-05-21 22:25] #473 closed

[2015-05-21 23:25] parsnips commented on #172
Any word on pushing here?

[2015-05-21 23:28] ejona86 commented on #172
We are still delaying for some Android-related changes. There has been a reasonable amount of investigation.

The plan is that we release 0.7.0 tomorrow, independent of the Android changes. If the Android changes don't make it, then we may release a 0.7.1 later.

[2015-05-22 06:13] #371 closed

[2015-05-22 17:07] ejona86 opened #477 "Revert swapping to the "canonical HTTP mapping""
Commit 4332c2f56e4f35b2914250e1b6685778d9b02a83 swapped to the status-suggested HTTP mappings, but these are really broken for gRPC. I had actually thought I had already reverted the commit, so I was shocked to see it was still in-place.

https://github.com/grpc/grpc/commit/5b53e35ba42738a63f41df5df26239716e2d6169 describes examples of specific issues with the mapping.

I want to revert this chang

[2015-05-22 17:56] ejona86 opened #479 "Improve synchronization in obtainActiveTransport()"
Split out of #322

[2015-05-22 17:57] ejona86 commented on #322
obtainActiveTransport improvement split out into #479.

[2015-05-22 20:19] nmittler commented on #180
FYI, https://github.com/netty/netty/pull/3819 and https://github.com/netty/netty/pull/3819 have been fixed so Netty should now fail the handshake properly in all cases.

[2015-05-22 20:21] ejona86 commented on #180
Those changes don't have any behavior change, so it shouldn't matter yet which Netty version you are running.

[2015-05-22 20:33] nmittler commented on #180
I was under the impression that this was causing a `RuntimeException` to be propagated, which was not being handled by `SslHandler` in order to fail the handshake.  This meant that our Server would silently fail the TLS negotiation and allow the RPCs to succeed.  I'm coming in rather late to all of this, so I'm guessing my understanding is incorrect/incomplete. Is that not the case?

[2015-05-22 21:38] ejona86 commented on #180
gRPC is currently not throwing an exception, but communicating the error through a side-channel. Netty was throwing an `SSLHandshakeException` (via a hack). We are using a Proxy in order to workaround Jetty. Proxy+SSLHandshakeException doesn't work because the Proxy notices the hack.

As I understand the plan, we are going to tell Jetty users to configure Jetty for ALPN to work. The change to Nett

[2015-05-22 22:03] nmittler commented on #180
@ejona86 so the problem with Proxy should be resolved by this then, correct? Here's the relevant excerpt from your comments in https://github.com/jetty-project/jetty-alpn/issues/8:

So this fixes our current solution of using Proxy, but we want to get rid of Proxy and use Netty's TLS support (hence this issue :)). So if we make the switch now, what will this mean for Jetty users? Will they be able

[2015-05-22 22:30] ejona86 commented on #180
I was originally planning on changing Netty to use Proxy, which is why I filed the issue with alpn-boot. I planned on Proxy since it seemed the "filter bootstrap classes" problem would be rampant in many different containers and so I would need a generic solution.

However, after further investigation it appeared that only Jetty and WildFly may be impacted. That's when it became more reasonable to

[2015-05-22 23:07] nmittler commented on #180
So it sounds like we have a reasonable solution ... should we proceed with your https://github.com/ejona86/grpc-java/commit/9dc615a36762a9354c2646aa4a0c112465e3c097 ?

[2015-05-22 23:23] ejona86 commented on #180
I wanted to test with Jetty and guarantee we know the necessary configuration.

[2015-05-23 00:11] ejona86 commented on #172
So the release didn't happen today. We were ready, but lacked enough time at the end of the day to do it. The plan now is Tuesday morning.

[2015-05-23 01:29] nmittler commented on #180
Right, we can use #483 as the starting point

[2015-05-26 00:42] madongfly commented on #375
Reopen this issue since the fix only fixed the problem described in my second comment, the original problem is still there.

[2015-05-26 12:44] jeffreyji666 opened #486 "accidental complication error happend problem"
I compile my grpc project, sometimes it is ok but sometimes it has the following compilation error:

XXXXGrpc.java:22: error: package io.grpc.protobuf does not exist
          io.grpc.protobuf.ProtoUtils.marshaller(com.engzo.search.protoc.SearchRequest.PARSER),
                          ^
XXXXGrpc.java:23: error: package io.grpc.protobuf does not exist
          io.grpc.protobuf.ProtoUtils.marshal

[2015-05-26 17:41] madongfly opened #487 "Handle IOException thrown by FrameReader.nextFrame() as PROTOCOL_ERROR."
In current implementation, we treat the IOException thrown by FrameReader.nextFrame() as the "IO" issue, so we just close the connection and don't send anymore.

But actually, it may throw IOException for protocol errors like: invalid frame size, RST_STREAM with stream id 0, invalid values in SETTINGS etc, in such cases, we should send a GOAWAY before closing the connection.

[2015-05-26 20:16] ejona86 commented on #429
This was fixed in 4f3641c

[2015-05-26 20:16] #429 closed

[2015-05-27 00:34] ejona86 opened #490 "Upgrade to OkHttp 2.4"
Just released. The API changes are known to break us. Let's look at what it'll take to upgrade.

[2015-05-27 16:11] nmittler commented on #460
@louiscryan is this done now as of #478?

[2015-05-27 17:23] ejona86 opened #492 "Let people use compression"
It's been implemented for a while, but no way to turn it on.

We don't have a way to determine if the remote supports compression; that may need to be considered. We should also make sure we interop with C, which is doing compression soon.

[2015-05-27 17:28] ejona86 opened #493 "Add User-Agent"

[2015-05-27 17:36] ejona86 commented on #428
Consider supporting affinity, in addition to basic load balancing.

[2015-05-27 17:57] ejona86 commented on #58
At least at this point, we won't cancel the call on the server-side. Servers would expect clients to cancel when the deadline expires.

[2015-05-27 18:41] louiscryan commented on #460
Yup.

[2015-05-27 18:41] #460 closed

[2015-05-27 19:08] nmittler opened #494 "Simplify configuration of flow control windows"
Stream window should really always be the same as the connection window.  We should just expose a single lever for this ... default to 1MB.

[2015-05-28 00:17] #467 closed

[2015-05-28 01:18] zhangkun83 commented on #486
It will be helpful if you can share your project, or at least ``build.gradle``.

[2015-05-28 14:50] ejona86 opened #496 "DeferredInputStream has unused generic parameter"

[2015-05-28 16:02] nmittler commented on #180
I've tested locally and was able successfully use Netty's ALPN handling by deploying a war containing a `jetty-env.xml` with the following:

[code]

[2015-05-28 20:04] #180 closed

[2015-05-28 21:22] nmittler commented on #493
As discussed offline, a high-level overview of how the user-agent header should be set is defined by https://github.com/grpc/grpc-common/blob/master/PROTOCOL-HTTP2.md#user-agents.  We should also allow the application to override the user-agent header, so if not provided, we'll provide a default.

[2015-05-28 22:58] #455 closed

[2015-05-29 00:00] #456 closed

[2015-05-29 15:04] ejona86 commented on #30
This was resolved by #180

[2015-05-29 15:04] #30 closed

[2015-05-29 16:31] ejona86 commented on #428
Note that this includes a bit of Service Discovery, as the two are commonly interrelated.

[2015-05-29 16:33] ejona86 commented on #428
@zhangkun83

[2015-05-30 00:23] louiscryan opened #502 "Allow for batching writes to the framer"
Need to allow applications to perform a sequence of writes that cause a single flush in the framer to improve throughput.

The typical example for this would be an application thats wants to write messages until isReady() is false and to do more writes when onReady() is called. Even if the application is not flow-control aware (i.e is not using isReady) it would still be useful to allow write batc

[2015-05-31 22:49] jcanizales opened #503 "Instructions to run the examples fail"
Steps:

Clone repo, checkout either "v0.7.x" (at commit 186a9b2) or "master" (at commit 0782c04). Follow [instructions here](https://github.com/grpc/grpc-java/tree/master/examples): `cd examples/`, then `../gradlew installDist --stacktrace`.

Output:

[code]

[2015-05-31 23:01] jcanizales commented on #503
Trying to run the previous version of the instructions, `../gradlew :grpc-examples:routeGuideServer` produces the same error. At some point in the past it did work for me, though.

[2015-06-01 00:22] jcanizales commented on #503
Might it be that I need to somehow install the jars of the library first? The instructions in the README at the root of the repo only say to "Download the JAR", which I don't think is useful without further actions.

[2015-06-01 14:41] ejona86 commented on #502
Let's brainstorm various options.

Add flush to `Call`:
[code]

Add an inhibit (a la TCP_CORK) to `Call`:
[code]

On the `Channel`, provide a way to inhibit. This could be a inhibit/allow pair of methods. It must be more powerful than a boolean, though, since more than one could be active at a time. Or it could be we return a special object that is completed when the application no longer wants to

[2015-06-01 15:10] ejona86 commented on #503
It looks like you have a 1.5 month old checkout or left-over files from it. [ProtoUtils is no longer in core.](https://groups.google.com/forum/#!topic/grpc-io/5Cxb7KuGGZM) I suggest you do a `git pull` and a `git status` to see if anything looks fishy.

[2015-06-01 19:18] louiscryan commented on #502
Other options...

1. Make Call a 'batch' factory ...

public abstract Batch batch();

interface Batch extends AutoCloseable {
  public boolean sendMessage(...);  // return value is equivalent to isRead() call
}

The quirk here is the semantics of 'close', i.e. if a batch is not closed is it not written or just not flushed. This would generalize to the server side.

-----

I like explicit flush cal

[2015-06-01 19:21] ejona86 commented on #502
How would `Batch` interact with interceptors? It seems like it would be important to make batching orthogonal to the rest of the APIs; it seems important to be able to use the same interceptors, stubs, and reuse your own code independent of batching.

[2015-06-01 20:56] louiscryan commented on #502
If batch is simply a deferred sequence of writes then it really has little
impact on interceptors. The primary concern is to ensure a proper closure
of message production so that flush can be sent reliably.

I don't really like

sendMessage(Collection messages)

though it's similar to Batch in some ways it doesn't allow for feedback
from isReady().

sendMessage(Iterator messages)

would provide th

[2015-06-01 21:49] #487 closed

[2015-06-01 21:58] ejona86 commented on #502
I don't like `sendMessage(Collection messages)` and `sendMessage(Iterator messages)`. I agree using a Collection prevents any flow control feedback. Iterator turns message creation into a callback, which seems unnecessary and harder to use. It would also require having a different method on Call, and so would be a burden to interceptors.

`boolean sendMessage(message, flush)` could work, although

[2015-06-01 22:08] #490 closed

[2015-06-01 22:19] louiscryan commented on #502
OK. I think we're largely in agreement on

void sendMessage(msg)  --> which calls sendMessage(msg, true)
boolean sendMessage(msg, flush)

I'll create a PR for that and see how it feels

@benjchristensen - Not sure if this has come up in discussions in reactive streams io land, i.e. how a variable rate message producer reacts to changes in transport flow-control when the writeable window is express

[2015-06-01 22:34] ejona86 commented on #502
@louiscryan, earlier you were considering channel-wide flush reduction. Are you still interested in that?

[2015-06-01 22:36] nmittler opened #504 "Netty throws exception when creating > 1 TLS transport."
When attempting to create multiple TLS transports from the same builder, Netty throws an exception:

[code]

[2015-06-01 22:54] louiscryan commented on #502
channel-wide flush reduction is largely handled by the shared write-queue. The proposed change here only affects transport flushes in so much as fewer flushes emanate from the framer.

This change ensures that message sequences are batched into single DATA frames so that the receiving side can parse as a unit and wake the application layer less often. An alternate way to achieve this effect is to

[2015-06-01 23:08] ejona86 commented on #502
Ah @louiscryan, that makes sense, that it is only for the framer's benefit. Gotcha.

[2015-06-01 23:10] ejona86 commented on #172
Binaries were pushed to Maven Central on June 26th. This should be resolved.

[2015-06-01 23:10] #172 closed

[2015-06-01 23:11] ejona86 commented on #71
This was resolved with the release on May 26th, combined with the work done for the Gradle and Maven plugins.

[2015-06-01 23:11] #71 closed

[2015-06-01 23:13] ejona86 commented on #504
@nmittler and I agree, the fix for this issue is important enough to backport to 0.7

[2015-06-01 23:13] nmittler commented on #504
I have a fix pending ... stay tuned.

[2015-06-01 23:23] louiscryan commented on #502
Ill test out the DATA frame merging in Netty and see how it stacks up

[2015-06-02 01:40] Scottmitch opened #506 "Move BufferingHttp2ConnectionEncoder upstream to Netty"
[BufferingHttp2ConnectionEncoder](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/transport/netty/BufferingHttp2ConnectionEncoder.java) is solving a relatively generic use case.  I would like to explore the possibility of this class being extracted out of gRPC and contributed upstream to Netty.

[2015-06-02 03:39] benmccann commented on #172
Woo! Thank you!

[2015-06-02 16:49] ejona86 commented on #504
It seems this bug is not as easy to trigger as it originally seemed. Creating more than one transport does work, but if the previous transport failed before negotiation completed then the exception seems possible.

A bigger issue it seems is that some failures that occur before negotiation completes may not be handled.

[2015-06-02 17:23] ejona86 opened #507 "Blocking stub don't throw StatusRuntimeException"
Instead, it throws RuntimeExecutionException with a StatusRuntimeException as a cause. Is that what we want?

[2015-06-02 20:14] nmittler commented on #506
@Scottmitch yep, this has been on our TODO list for a while :)

[2015-06-02 21:06] nmittler commented on #502
@louiscryan I think having the outbound flow controller coalesce data frames makes sense in general.  The only sticky bit that comes to mind is what to do about padding if it's used.  For gRPC we're not using it, but a general solution would have to take padding into consideration. Maybe it's simple: we just coalesce adjacent frames if they have no padding.

[2015-06-02 21:18] benjchristensen commented on #502
Yes the discussion came up a few times and was specifically discussed here: https://github.com/reactive-streams/reactive-streams-jvm/issues/47

We recently implemented a solution with Netty here: https://github.com/ReactiveX/RxNetty/blob/79cd68e01c8fc1139c71ec44b73d53f6b571ec3f/rxnetty/src/main/java/io/reactivex/netty/protocol/tcp/BackpressureManagingHandler.java This correctly stops the upstream

[2015-06-03 03:18] nmittler commented on #506
FYI, created Netty PR https://github.com/netty/netty/pull/3856

[2015-06-03 16:42] #504 closed

[2015-06-04 21:24] dhendry commented on #428
Is there any active work being done on this or guesstimates on timelines for official support? Im in the process of throwing together a quick and dirty dynamic routing channel (backed by zk) which, if it works out, may be possible cleanup and contribute back to address this ticket.

[2015-06-04 22:09] zhangkun83 commented on #428
@a11r has a design doc (not finalized yet) for a general load-balancing solution across languages. The idea for now is to put all the complex algorithms in a stand-alone load-balancer. The client requests the load-balancer for a list of servers, and uses a dumb policy (e.g., round-robin) to distribute requests to these servers. I don't know when the design will be delivered.

[2015-06-05 03:39] jhump commented on #428
I'd be very interested in seeing how this comes together. I have a more elaborate design that is based on what the abstractions look like in an existing protobuf-based RPC system. I can even share:

https://docs.google.com/document/d/1DfGLih1_uhCzFDi4gc99FQBFkJNdbEweVuIbsAAfC4o/edit#heading=h.ax3xfgj40nuq

There are some open issues that aren't solved in our existing systems -- mainly around manag

[2015-06-05 05:08] wrwg opened #510 "Introduce support for calls as composable objects"
Let's suppose we call it "Callable" (actual name may differ), and it is related to Call as is f.i. Iterable to Iterator, or Observable to Observer in the Rx pattern.

The basic contract would be:

    class Callable<I, O> {
       abstract Call<I, O> newCall(Channel ch);
    }

Basic creation operations for Callable would be:

    static Callable<I, O> create(MethodDescriptor<I, O> method);
    st

[2015-06-05 12:54] nmittler commented on #506
Resolved by Netty PR https://github.com/netty/netty/pull/3856.  We will absorb this change after Netty releases 4.1.Beta6.

[2015-06-05 12:54] #506 closed

[2015-06-05 17:50] zhangkun83 opened #511 "Consolidate Method descriptor classes"
Now we have three classes for representing a method: ``MethodDescriptor``, ``ServerMethodDefinition``, ``Method``. They all have the method name and marshallers. We list their differences below:

- ``MethodDescriptor`` is used on client when making a call. It has options and ``MethodType`` (unary, streaming etc)
- ``Method`` passes information from IDL to the runtime. It has ``MethodType``.
- ``Se

[2015-06-05 21:40] #23 closed

[2015-06-06 01:21] louiscryan commented on #494
This would probably address the anomaly in StreamingResponseBandwidthBenchmark where we need to use more concurrent streams to maximize bandwidth. We should be able to saturate using a single stream.

[2015-06-06 01:24] iamqizhao commented on #494
On Wed, May 27, 2015 at 12:08 PM, Nathan Mittler <notifications@github.com>
wrote:

What is rationale behind this conclusion? I would think connection window
should be larger then stream window.

[2015-06-06 21:49] dconnelly opened #515 "Support for custom status codes"
io.grpc.Status seems to be restricted to the built-in status codes provided, although javadoc suggests that new status codes can be used as long as they are not conflicting. Adding a factory method such as "Status.forCode" should be possible although this would require that the status code type be changed from an enum to integer constant. This may be a small price to pay for the added flexibility.

[2015-06-06 21:52] dconnelly opened #516 "Excessive logging of Status{Runtime}Exception in server"
If a service throws Status{Runtime}Exception it gets logged regardless of error class. There should probably be a distinction between "client" errors such as NOT_FOUND, INVALID_ARGUMENT which should not be logged (or at least not as FATAL) and other server errors (INTERNAL, UNKNOWN, etc) similar to how HTTP errors are categorized.

[2015-06-07 22:20] dconnelly opened #517 ""WARN java.lang.IllegalStateException: Refcount has already reached zero" during shutdown"
We are frequently seeing this exception during server shutdown but not in all cases. I did a little digging and it looks like the SharedResourceHolder on DEFAULT_EXECUTOR is being called twice in ServerImpl.java: once when transportClosed() is called and again in serverShutdown(). Looks like serverShutdown() first shuts down all transports, so perhaps this is what is triggering the call to transpo

[2015-06-08 14:02] ejona86 commented on #517
I can see two ways that this could maybe happen:
 1. While using a DirectExecutor, you call ServerImpl.shutdown() in response to a gRPC method call. The transports are shut down immediately instead of asynchronously. I don't think this is the case you are hitting.
 2. You call ServerImpl.shutdown() and before the transportServer shuts down all the transports shut down (because the client closes th

[2015-06-08 14:51] ejona86 commented on #515
Status is for a canonical status used by all gRPC servers and will only rarely be added to. I think you saw the comment "If new codes are added over time they must choose a numerical value that does not collide with any previously used value." This comment is not referring to applications adding codes, but gRPC as a whole adding new codes. The current set of codes should be able to appropriately d

[2015-06-08 14:51] #515 closed

[2015-06-08 14:58] ejona86 commented on #516
Currently, servers can provide Status via `StreamObserver.onError`. Although gRPC handles the exception, the always-on logging prevents there being two ways to communicate errors and guarantees important exceptions information isn't lost.

Conditionally logging exceptions based on status code doesn't seem very appropriate as it would be hard for applications to predict the behavior. It would be fe

[2015-06-08 15:04] ejona86 commented on #494
@iamqizhao, we want stream and connection performance to be the same. We don't want the user running a benchmark and finding things go faster if they use multiple streams instead of one. Such a benchmark would be faulty since the flow control window of the stream would have been improperly sized, but the user wouldn't have any reason to look further.

Making the flow control window the same size b

[2015-06-08 16:42] ejona86 opened #518 "In-Process Transport"
It would be useful to have a light-weight, low-overhead, in-process transport. It could be used in testing, using gRPC to an endpoint that _may_ be in the same process, and bridging from other protocols (like REST or SOAP).

Today, we recommend using Netty's in-process transport for testing. This has the same benefit of using fakes, in that it tests more of the system's actual behavior. This still

[2015-06-08 16:46] ejona86 commented on #518
For reference, a Channel/Server-based solution:
https://github.com/grpc/grpc-java/compare/master...jhump:jh/introduce-in-process-channel

[2015-06-08 17:59] iamqizhao commented on #494
On Mon, Jun 8, 2015 at 8:04 AM, Eric Anderson <notifications@github.com>
wrote:

In my opinion, this is a reasonable knob to tune in benchmark. I would
prefer following the default setting for window sizes in http2 spec. Any
particular setting would speed up some scenario and slow down some others.
As a generic rpc framework, we should not assume what the "typical" use
patterns are without real da

[2015-06-08 18:22] ejona86 commented on #494
@iamqizhao, why would you need to tune stream window separately from connection window, even in a benchmark? I don't think that a setting could slow down one scenario and speed up another. At worst, it would speed up one scenario but use more memory. I'm not assuming typical workload, in any way.

[2015-06-08 18:29] iamqizhao commented on #494
On Mon, Jun 8, 2015 at 11:22 AM, Eric Anderson <notifications@github.com>
wrote:

In a benchmark, we can tune a lot of params including stream window size
and connection window size to see their impact on the performance.

If a benchmark starts a number of concurrent streams on the same
connection, won't the connection window become the bottleneck in your
configuration?

[2015-06-08 19:04] dconnelly commented on #517
Yup, sounds like (2) applies here. I'll submit a pull request with a fix based on your suggestion.

[2015-06-08 19:09] dconnelly commented on #515
I assume a custom ServerInterceptor is required to set Metadata on a response. For convenience, would it make sense to allow Metadata to be attached to Status{Runtime}Exception?

[2015-06-08 19:13] ejona86 commented on #515
We could have Status-specific metadata attached to the Status, but I think at least @louiscryan doesn't think that gains too much. However, soon we hope to have a Context API (https://github.com/grpc/grpc-java/issues/262) that would be available via ThreadLocal and could be used by a ServerInterceptor to propagate information to the application.

[2015-06-08 19:54] ejona86 commented on #517
@dconnelly, a PR sounds great. I almost worked on fixing it a couple of hours ago, but then got pulled into other things.

If it looks like you're going to be delayed with the PR, then just say so and I'll work on fixing it.

[2015-06-08 20:07] ejona86 commented on #494
connection, won't the connection window become the bottleneck in your
configuration?

@iamqizhao, no, and that is part of the point. The flow control window (for both connection and stream) should be at least the size of bandwidth*delay (BDP). Increasing the connection flow control window more than the BDP should have no effect (except for large messages). Making a window less than BDP will cause

[2015-06-08 20:09] zhangkun83 commented on #516
The service handlers are technically asynchronous handlers, because the RPC can be completed from any thread. Therefore, ``StreamObserver.onError()`` is the only reliable thus appropriate way to propagate application-level errors. Throwing from the service handler method should be considered an error unexpected by application logic, and usually indicates more serious problems. I think always loggi

[2015-06-08 20:15] iamqizhao commented on #494
On Mon, Jun 8, 2015 at 1:07 PM, Eric Anderson <notifications@github.com>
wrote:

That's not the point of flow control. If we want the max performance, flow
control should have been an opt-in feature instead of something always on
on the critical path. Plus, we are talking about the default value (I am
not saying 1M is an insane number). If 1M is a clear win over 64K, http2
spec should take 1M inst

[2015-06-08 20:39] ejona86 commented on #494
Different streams need to go at different rates. Period. HTTP/2 would be dead-on-arrival if flow control was opt-in. HTTP/2 on the web is very different from a multiplexing protocol that only communicates messages with a reasonable maximum size between trusted computers on high-bandwidth links.

That's not what I'm talking about. This issue is primarily to combine the _configuration_ of the two wi

[2015-06-08 20:55] zhangkun83 commented on #462
@a11r, @louiscryan and me talked today, and agreed that we would not have options in protos at all. For now we will have APIs to set the options (mainly timeout). For the future there will be a need for a service config delivery mechanism that delivers options from service providers to the client, while that mechanism won't be proto files.

[2015-06-08 23:20] wrwg commented on #462
Delivering config options exclusively via a service provider is restricting
what we could do with such options, because it only works at runtime, not
at compile time. It seems to me a bit unusual with an approach which is
otherwise so heavily based on static metadata and compilation.

I think a better model would be having static options in protos with the
potential for having some of them being o

[2015-06-09 02:21] madongfly opened #520 "Add ALPN setting path for Android older than 5.0"
OkHttp only support setting ALPN on Android 5.0+ since 2.3

[2015-06-09 02:22] johnbcoughlin commented on #57
@ejona86 would it make sense for me to pick this up at the moment?

[2015-06-09 17:33] madongfly opened #522 "Netty Client does not detect when ALPN was not used"
When I tried to reproduce the APLN silence failure, I expected the following change fails our tests, but not, all tests still passed.
[code]
The problem itself is not a big deal, but investigating it may expose some hidden bugs.

[2015-06-09 17:58] ejona86 commented on #57
@johnbcoughlin, feel free. None of us are actively working on it.

There are two parts to this, and feel free to do them separately or only the one that interests you. Both will use the timeout on MethodDescriptor for now, but that will change with #150. Right now though, just use MethodDescriptor's timeout. Internally, we want to use deadlines instead of timeouts if possible, and with #150 our AP

[2015-06-09 19:42] louiscryan commented on #502
@benjchristensen thanks for the pointers. I note the issue with an unbounded buffer vs partial serialization (which is probably rare for anything other than byte-sequence types). Or put another way its hard for the transport layer to do anything other than

request(1)

as it has no idea how large the next produced message will be (hinting and heuristics aside) e.g.
https://gist.github.com/benjchri

[2015-06-09 21:48] vjpai opened #523 "Allow specification of open-loop vs closed-loop test in qpstest.proto"
Hi there,
As we move toward interoperable QPS testing, please allow the ClientConfig in qpstest.proto specify the type of load to deliver. I would suggest that you support variable open-loop request arrival processes as in https://github.com/grpc/grpc/tree/master/test/cpp/qps , but ultimately Poisson process is the most important.

[2015-06-09 22:03] vjpai opened #524 "Allow specification of open-loop vs closed-loop test in qpstest.proto"
Hi there,
As we move toward interoperable QPS testing, please allow the ClientConfig in qpstest.proto specify the type of load to deliver. I would suggest that you support variable open-loop request arrival processes as in https://github.com/grpc/grpc/tree/master/test/cpp/qps , but ultimately Poisson process is the most important.

[2015-06-10 17:29] ejona86 opened #525 "Support NPN with Netty"
It isn't useful for jetty_alpn, but when using OpenSsl, using ALPN_AND_NPN in the netty application negotiation config allows us to support more platforms without needing users to install OpenSSL.

[2015-06-10 17:36] ejona86 opened #526 "Support NPN on Android when Play Services Security Provider (PSSP) not available"
Attempts and their fallbacks:

1. If installed, use PSSP with ALPN and NPN
2. If on Android 5.0 or later, use ALPN and NPN
3. If on Android 4.1 or later, use NPN
4. Fail or let the application author install some alternative security provider (e.g., build and ship Conscrypt themselves)

[2015-06-10 17:50] ejona86 opened #527 "Verify Protocol Negotiation completed"
It seems if neither ALPN nor NPN occur/available we just happily continue connecting and think that negotiation occurred. We should instead check that the protocol negotiated and fail if it didn't.

[2015-06-10 18:22] zhangkun83 commented on #462
I am not convinced that the proto should be the primary place for options. Most options are not as static as method signatures. For example, window size is most likely to be decided by the service provider. There can be multiple providers for the same service, with different window sizes. Another example is timeout, which is either decided by the client and can vary from call to call, or decided b

[2015-06-10 21:18] zhangkun83 commented on #428
@jhump: the design we have internally wants to put most of the server selection work in the gRPC-specific load-balancing server. The client would have minimal selection logic, e.g., round-robin. This is to prevent the duplicate work of implementing an algorithm in all languages. We have defined the protocols among the client, the server and the load-balancer. The design also defines a gRPC-specifi

[2015-06-10 22:13] jhump commented on #428
@zhangkun83 Interesting. When can you share more info about this solution? I'm curious about how all of the components interact and what capabilities you expect to support this way.

BTW, as soon as you provide a separate server that implements the logic, then it's not really an SPI so much as an actual implementation. I was under the impression that an SPI would be added to allow plugging in alte

[2015-06-10 22:14] nmittler opened #529 "Cleanup io.grpc package"
- [x] Rename DeferredInputStream as it doesn't necessarily have to be deferred.  Consider making it an interface.

- [x] Move SharedResourceHolder into transport

- [x] SerializingExecutor into transport

- [x] Rename KnownLength

- [x] Add `available` method with documentation to KnownLength

- [x] Move MethodType into MethodDescriptor

- [ ] Move Marshaller into MethodDescriptor

[2015-06-11 07:48] Hanson1129 commented on #473
LOL , it because we build netty lib before gradlew build haha

[2015-06-11 17:34] madongfly opened #531 "ClientAuthInterceptor's ctor requires an Executor, but never use it."

[2015-06-11 17:36] ejona86 commented on #531
We need it for in the future to be able to refresh the token asynchronously before it expires.

@louiscryan

[2015-06-11 17:37] madongfly commented on #531
Then we should have a comment to explain it.

[2015-06-11 17:41] wrwg commented on #462
I've not said that proto should be primary source for options. I've said it
should not be excluded to be such a source, referring to what you wrote
before: "[we] agreed that we would not have options in protos at all. "

--
*W*olf*g*an*g*

On Wed, Jun 10, 2015 at 11:22 AM, Kun Zhang <notifications@github.com>
wrote:

[2015-06-12 14:42] johnbcoughlin commented on #57
Great, thank you for the detailed guidance!

[2015-06-12 18:15] zhangkun83 commented on #462
also be set statically in the proto (but not necessarily the other way
around).

You are suggesting proto should have the *complete* set of options, while other places (like runtime) do not necessarily do. That's what I meant by proto being the primary source. My point is that most options are not as static as other stuff in the proto, e.g., method signatures, so what would we gain by putting opti

[2015-06-12 19:36] wrwg commented on #462
Static metadata should be the primary source of declaring what options are
available and what are their defaults. In proto-based APIs that would
naturally be proto, but it doesn't has to be.  This is independent of
whether the options are set at runtime or not. There needs to be a place
where this is declared in a language-independent fashion.

As it comes to what is set at runtime and what not, I

[2015-06-12 20:06] nmittler opened #536 "Investigate Netty stream closure handling logic"
In the Netty handlers, we seem to have various ways that we can detect stream and handle stream closure. We should try to simplify this logic so that it's less error prone.

[2015-06-14 06:22] ochowie opened #537 "Error When Compiling grpc-java"
When I try to compile grpc-java I get the following error:

8:10: fatal error: 'google/protobuf/io/zero_copy_stream.h' file not found
"#include `<`google/protobuf/io/zero_copy_stream.h`>`
         ^
1 error generated.
:grpc-compiler:compileJava_pluginExecutableJava_pluginCpp FAILED

libprotoc is version 3.0 and it is currently installed in /usr/local/lib and I've tried this on Linux and Mac OSX.

[2015-06-15 16:10] zhangkun83 commented on #537
It's been resolved: https://groups.google.com/d/msgid/grpc-io/ee47b5e3-4a78-4253-802b-4245e2f43762%40googlegroups.com?utm_medium=email&utm_source=footer

[2015-06-15 16:10] #537 closed

[2015-06-15 16:13] ejona86 commented on #64
This issue keeps coming up, and I have discussed offline with people my concerns with `shutdown()` on `Channel`. Writing a bit of it here for future sharing.

My main concern with `shutdown()` on Channel is that is breaks knowing what is `shutdown()`. With interceptors and stubs, you form "trees" of Channels with leaves being Channels/stubs used directly and the root being a ChannelImpl. Because o

[2015-06-15 17:14] ejona86 opened #538 "Add ClientInterceptors "inside" ChannelImpl"
This is an alternative to #64.

It could be useful to have a set of interceptors "inside" ChannelImpl. These interceptors would always be used. The could be immutable and added via a `AbstractChannelBuilder.addInterceptor()` or maybe mutated added after creation on ChannelImpl. Today, adding after creation doesn't cause issues since only `interceptCall` is part of `ClientInterceptor`. However, if

[2015-06-15 17:33] zhangkun83 commented on #538
In Use Case 2, are you envisioning an auth Channel builder (the said "factory") that installs auth interceptors into ChannelImpl. Since the interceptors now can access transport configuration, they are easier to implement than the decorative ones we have today? How does today's auth interceptors access the transport configuration?

[2015-06-15 17:57] ejona86 commented on #538
@zhangkun83, I was envisioning more of a factory or config method that would return a ChannelBuilder. The interceptors would not have access to the transport configuration. Auth interceptors today don't have access to the transport configuration, so we simply rely on the user configuring things correctly.

[code]

[2015-06-15 19:24] wrwg commented on #64
I think some of the confusion comes from the naming. A class called FooImpl indicates for me to have its main purpose in implementing interface Foo. That leads me to think I can just work with the Foo.

A better naming may make the design clearer. Channel is the thing on which you can initiate a call and which allows interceptors to plug in. ChannelImpl might be better called TransportChannel, Con

[2015-06-15 20:07] #517 closed

[2015-06-15 21:23] ejona86 opened #540 "Rename OkHttpChannelBuilder.setConnectionSpec to connectionSpec"
We aren't prefixing any of the other builder methods with set.

[2015-06-15 21:25] zhangkun83 commented on #64
@wrwg I feel the same. +1 for renaming ChannelImpl.

[2015-06-15 21:25] ejona86 opened #541 "Move DEFAULT_CONNECTION_SPEC to OkHttpChannelBuilder and make OkHttpClientTransport package-private"
There is little reason for `OkHttpClientTransport` to be public. `DEFAULT_CONNECTION_SPEC` should just be the initial value of `connectionSpec` in the `OkHttpChannelBuilder` (instead of the current `null`).

[2015-06-15 21:26] ejona86 commented on #64
I'm game for a rename to. The only reason it's been ChannelImpl is lack of a better name. TransportChannel and ConnectedChannel are both worse than ChannelImpl, in my mind. DefaultChannel seems little better than ChannelImpl.

[2015-06-15 21:44] zhangkun83 commented on #64
IMO DefaultChannel is as bad as ChannelImpl. "Default" is not conveying anything useful (default in what sense?), other than indicating it's the "default impl". Since ClientTransport is "encapsulating a single connection" (quoted from its javadoc), and ChannelImpl is based on a ClientTransport,  "TransportChannel" and "ConnectionChannel" are more informative and less misleading.

[2015-06-15 21:52] nmittler commented on #64
I think the problem here is that the term "channel" ~= "transport", but an "interceptor" != "transport". I think it would be better to provide a more abstract interface that is responsible for creating calls and then all of these "things" would implement/extend that. Something like this:

[code]

[code]

[code]

[2015-06-15 22:01] ejona86 commented on #64
ConnectionChannel and TransportChannel are worse than DefaultChannel and ChannelImpl in my mind.  Connection, Transport, and Channel in many conversations (obviously not ours) are interchangeable. Connection and Transport don't add any additional meaning to Channel, yet it isn't obviously filler. When you see Default\* or \*Impl you can quickly ignore the filler.

We only have one Channel implemen

[2015-06-15 22:06] nmittler commented on #64
@ejona86 I don't see the harm in having an interface for `Channel` even though there is only (currently) a single instance. The broader point that I was trying to make is that thinking of `interceptors` as kinds of "channels" is wrong, since they do not represent the transport ... they only represent the ability to create new calls (i.e. on an existing transport).

[2015-06-15 22:16] ejona86 commented on #64
@nmittler, the harm is that there is no distinction between Channel the interface and Channel the implementation. If there is only one implementation with no additional methods compared to the interface, then why bother having the interface? Even in tests we would want users to use the real Channel implementation.

We have trouble coming up with a name because they represent the same identical ide

[2015-06-15 22:18] wrwg commented on #64
I agree with @nmittler's direction. If we consider channel and transport as too easily mixed up notions for users, perhaps the best call is to rename the interface Channel into something more neutral, like `CallFactory`.

In the process we could get rid of the `Channel` interface and rename `ChannelImpl` to `Channel`.

[2015-06-15 22:25] nmittler commented on #64
@ejona86 The renaming that I suggested won't solve this issue, agreed ... but it goes some length at clarifying these interfaces a bit.

So we still have the problem that creating the interceptor chain will yield a `CallFactory` now, rather than a `Channel`.  Perhaps the way to solve this is by defining another class representing the interceptor chain:

[code]

[2015-06-15 22:34] zhangkun83 commented on #64
I think we need a type name that can be passed along and used to make RPC calls. Channel sounds a fine name. CallFactory describes the capability perfectly, but it sounds weird as a replacement of Channel and something with similar functionality as Stub.

The Channel interface is also the center of the "Channel Layer API" that we talk about a lot. Moving away from it requires unnecessary mind-shif

[2015-06-15 22:37] nmittler commented on #64
@zhangkun83 I disagree ... I don't think the mind-shift is unnecessary or all that out of place in the "channel API". The overloaded term "Channel" has been causing many of us problems WRT interceptors ... since they're not channels except that they happen to implement the interface. Changing the "thing" that our stubs use to `CallFactory` represents, in my mind, a clarification of the requirement

[2015-06-15 22:37] ejona86 commented on #64
@nmittler, that does solve most of the problems. But it does turn a light-weight interface into a heavy-weight interface. Also, it also wouldn't be as good for injection, because you don't want the injected code to use getChannel. Note also that the Channel implementation would have to implement InterceptorChain, which is icky (but mainly a naming issue).

[2015-06-15 22:39] nmittler commented on #64
@ejona86 I"m not sure I understand the points your'e making.  Why would the `Channel` have to implement `InterceptorChain`?

[2015-06-15 22:44] zhangkun83 commented on #64
@nmittler Just my gut feeling ... when you have an abstraction layer, you need an umbrella term for it. That term should not be too specific, because what it includes may change in the future. Transport, Channel, and Stub are all non-specific terms, and they will tolerate changes well. CallFactory is too specific for this purpose.

[2015-06-15 22:45] nmittler commented on #64
Maybe the name of the "layer" is the problem.  Really, we should be referring to it as the "Call" layer, not "Channel".

[2015-06-16 04:05] johnbcoughlin commented on #538
This occurred to me as a way to add timeout headers as well, FWIW.

[2015-06-16 14:15] nmittler commented on #64
Thinking about this some more, I question the value of `Channel`'s is-a relationship with `CallFactory`.  I think composition might be more appropriate:

[code]

I believe this would also address #538.  Thoughts?

[2015-06-16 15:46] ejona86 commented on #64
@nmittler, if `InterceptorChain` can return the base `Channel`, then `Channel` must be an `InterceptorChain`. Otherwise, you have no common type between `Channel` and `InterceptorChain` that you can pass to other code _and_ still allow that code to add interceptors on top. Really, if we are going to have `getChannel()` I'd expect it would need to be on `CallFactory`, otherwise `CallFactory` is use

[2015-06-16 15:58] nmittler commented on #64
@ejona86 I'm don't quite follow your reasoning ... I suspect that I don't understand the problem you're trying to solve.

`Channel` as the thing that controls connection state. The connection lifecycle is orthogonal to the interceptor lifecycle. We may very well have interceptor chains that will be "shutdown/closed", but that would have no affect on the underlying `Channel`. This would need to be

[2015-06-16 16:04] ejona86 commented on #64
@nmittler, shutting down interceptor chains does not work, unless you want to start doing reference counting and forcing every stub to require explicit closure. I am actually confused what you are responding to, since your `CallFactory` and `InterceptorChain` both don't have a shutdown method.

[2015-06-16 16:19] nmittler commented on #64
@ejona86 I wasn't actually suggesting that we provide lifecycle handling for interceptors. I was referring to the "interceptor lifecycle" only to make the point that they simply can't have control over the channel lifecycle.  That is the responsibility of the application. The "thing" returned by creation of an interceptor chain should not be a `Channel` if we want to allow multiple chains to use t

[2015-06-16 19:09] nmittler commented on #352
I'm going to close this for now since none of us have seen this in a while.  We can re-open or create a new bug if this ever pops back up.

[2015-06-16 19:09] #352 closed

[2015-06-16 19:57] ejona86 commented on #64
@nmittler, if by `Channel` you meant a concrete class `Channel` (`ChannelImpl` today), then I agree with no reservations.

My point was if you are going to pass an object to some other class, what type do you pass? If you pass a `CallFactory`, then the class can't add interceptors. If you pass `InterceptorChain` then you can't pass `Channel` (`ChannelImpl`) without any interceptors. And passing `C

[2015-06-16 20:34] nmittler commented on #64
@ejona86 and I discussed a bit offline.  IIUC, there are essentially 2 use cases for interceptors:

1. Allowing global interceptors for the `Channel`. These can be installed as part of the process of building the `Channel`. These interceptors would be used for all stubs that use the channel. I believe this solves this particular issue for single-stub scenarios. If the channel has built-in intercep

[2015-06-16 23:48] ejona86 opened #545 "Make Channel hierarchy more meaningful"
@nmittler wrote on [issue 64](https://github.com/grpc/grpc-java/issues/64#issuecomment-112221220):

Discussion continued further. This issue is for these class renames/additions.

[2015-06-16 23:50] ejona86 commented on #545
I felt that this reorganization should occur after we know whether `ChannelImpl` will handle load balancing. If "there is only one" `Channel` implementation, then I would just assume not having the `Channel` interface.

Also, almost every interface should be an abstract class, so we can add to it later.

[2015-06-16 23:51] ejona86 commented on #64
@nmittler, the approach you described is #538. If that approach is what we are going to go with, then this issue could be closed.

I'm okay with the renaming, but I do see it as being separate, as it doesn't add any previously-unavailable functionality. Both this issue and #538 are for functional deficiencies. I created #545 for tracking the renaming.

[2015-06-17 13:48] nmittler commented on #545
I believe some of this work can be done now, before we make any decisions about Channel being an interface or a concrete class. Certainly the interceptors can be reworked since they'll be unaffected by that decision.

[2015-06-17 13:50] nmittler commented on #64
@louiscryan since you opened this issue, what are your thoughts? :)

[2015-06-17 15:18] wrwg commented on #64
Making one observation @nmittler brought up first, I think, explicit.

The interface:

[code]

... is in his it's sole existence odd. Looking at  this standalone, there is nothing in here which makes this a "channel". The interface is not named for what it actually does, but for what is its purpose in some scenarios (and in others like interceptor chaining the name would not even fit that well).

[2015-06-17 15:30] ejona86 commented on #64
@wrwg, for discussions regarding naming, please use #545 now that it exists. Let's leave this issue and #538 for the functional problems with the current API.

[2015-06-17 15:32] ejona86 commented on #545
How would the interceptors be changed? Them implementing `CallFactory` wasn't ideal. That's what we used to have and we moved away from it. The current design of having a separate interface for interceptors is working better.

If interceptors do implement CallFactory, then we would need a Factory for intercepting CallFactorys, or something else.

[2015-06-17 17:10] ejona86 opened #547 "Recommend tcnative instead of jetty-alpn-boot"
We need to make sure there are builds of tcnative for Debian-compatible OpenSSL, first though.

[2015-06-17 17:43] ejona86 commented on #520
We need to backport this fix to 0.7.x

[2015-06-17 20:06] ejona86 opened #548 "Have different abstract base types for each stub type; use it instead of Calls"
Currently, `channel` (and soon, `callOptions`) are defined in AbstractStub, but the generated code uses them. It could be a good idea to have abstract base types for each stub type that uses `channel` so that the generated code doesn't.

This also moves the call of `Channel.newCall` into non-generated code. In all, this should have the generate code hard-code fewer things.

[2015-06-17 22:49] ejona86 commented on #58
Aaaand, now it seems we will handle the timeout on both client/server; both will set a timer to kill the RPC when the deadline expires.

The concern was that "things can go wrong" on the client-side, or with the TCP connection. It is more conservative to enforce the deadline on both client/server.

We actually don't care too much about this for grpc-java. We are just planning to copy what is done

[2015-06-17 22:56] ejona86 commented on #262
The thinking on this for a while has been to copy [Go's Context](http://godoc.org/golang.org/x/net/context), but with some Java-specific stuff like using `ThreadLocal` for passing and use type-safe accessors (similar to what we do with Metadata). Important parts of Go's implementation are contexts are immutable and _very_ little is in the API: just cancel, deadline. The rest is via generic "values

[2015-06-17 22:59] ejona86 commented on #58
From #542:
@ejona86:

[2015-06-18 20:30] #541 closed

[2015-06-18 20:30] #540 closed

[2015-06-19 00:30] ejona86 commented on #459
424c7e6 "fixed" this. GCM is still slow, but we now avoid it in tests. OpenSsl can already work today (there are a few hiccups, but it can be done). 5a8e9f40 added a note about GCM performance to our documentation. #547 is tracking suggesting users to use tcnative.

[2015-06-19 00:30] #459 closed

[2015-06-19 00:36] ejona86 commented on #426
@nmittler, FYI

[2015-06-19 01:00] #503 closed

[2015-06-19 15:56] #507 closed

[2015-06-19 21:22] #531 closed

[2015-06-23 18:49] ejona86 opened #557 "Migrate Windows Jenkins-based testing to grpc-testing"
The Jenkins host we set things up on is going away. We should migrate the setup to the grpc-testing project.

[2015-06-24 10:35] YiuRULE opened #558 "Using grpc with TLS"
Hello,

I'm working on grpc in android, and I want to use a self signed certificate.
[code]

But when I want to send request, a exception of type io.grpc.StatusRuntimeException is throw.
It's the good way to initialise TLS in grpc ?

[2015-06-24 16:38] ejona86 opened #560 "Rename getSslSocketFactoryForCertainCert to be more clear what cert is provided"
It isn't clear that the File should point to a CA certificate. It should be renamed to be clear.

`createSslSocketFactoryWithCa` or `newSslSocketFactoryForCa` or similar.

[2015-06-24 17:28] ejona86 commented on #560
The old method can continue existing for a while but be marked @Deprecated

[2015-06-24 20:12] ejona86 commented on #558
Can you provide the backtrace from the `StatusRuntimeException`?

[2015-06-24 23:10] ejona86 opened #565 "Ignore initial HEADERS with a 1xx :status"
Headers with a 1xx status code in HTTP/1.1 are [supposed to be ignored](https://tools.ietf.org/html/rfc7231#section-6.2). In HTTP/2, there is a [clear example of their usage](https://httpwg.github.io/specs/rfc7540.html#rfc.figure.u.11).

I don't think 1xx status codes are all that important/common, but we should follow the spec.

[2015-06-25 17:41] zhangkun83 commented on #428
@jhump Sorry for being silent for so long. I have some update for the design work from gRPC team. The service discovery (aka name resolution) functionality is now an independent part of the system, and LB relies on it. The work flow would be -
 1. Application creates a top-level channel with a __service name__
 2. The top-level channel uses a __name resolver__, passes the service name, and gets a

[2015-06-25 19:16] #477 closed

[2015-06-25 21:47] #560 closed

[2015-06-25 23:28] ejona86 commented on #538
In discussion offline, it seems that although discussing this topic led to many other related discussions, everyone was okay with this change. I'll move forward to supporting adding interceptors only to the AbstractChannelBuilder.

[2015-06-25 23:35] ejona86 opened #568 "ChannelImpl's constructor shouldn't be public"
ChannelImpl is really expected to be constructed from AbstractChannelBuilder. Using the builder allows us to more easily change the arguments as time goes on.

[2015-06-25 23:40] ejona86 opened #569 "Stop using intrinsic locks in ChannelImpl/ServerImpl"
I originally used intrinsic locks for expediency. We were still designing quite a bit and we were still using Service. It seems swapping away from intrinsic locks makes sense, as we have no want/need to allow users to compose method calls into higher-order atomic calls.

[2015-06-26 00:18] ejona86 opened #570 "Are Interceptors are executed in an unintuitive order?"
[code]

This seems like it would get really confusing if you call intercept multiple times with multiple interceptors each time:
[code]

It seems the first interceptor listed should most likely be the interceptor nearest the library. If there was a single mutable interceptor list then the current behavior would make more sense.

Note that on server-side the application and library are reversed, so

[2015-06-26 00:23] ejona86 commented on #570
This has implications with #538 as well, as it will use a builder and accumulate interceptors in a list before calling `intercept()`:
[code]

[2015-06-26 05:46] johnbcoughlin commented on #57
@ejona86 revisiting this ticket for the second part. Using a different status for the timeout/deadline cancellation seems non-trivial. If the Channel layer is to own timeout handling, then the `ClientStream` interface needs another method or parameter, perhaps `cancel(Status reason)`, or even `cancelForDeadline()`. What do you foresee being the easiest way to go here?

[2015-06-26 17:32] ejona86 commented on #57
@johnbcoughlin, yes, I see the need to add to the transport. The transport changes aren't trivial, but still seem pretty easy.

I think both `cancel(Status)` and `cancelForDeadline()` are similar in complexity, in that in both cases the transport would probably pass around a `Status` internally. `cancelForDeadline()` is the "smaller" interface, and prevents abuse, but we would only be preventing a

[2015-06-26 19:05] nmittler commented on #570
Yup ... +1 to using a builder. Perhaps we should create a builder for an interceptor chain as well and do away with `ClientInterceptors.intercept()` altogether?

[2015-06-26 19:16] ejona86 commented on #570
No, I wasn't suggesting to use a builder like it seems you are. I was doing the builder in relation to #538; that builder is an AbstractChannelBuilder.

I don't see how using a builder instead of intercept() solves any problem listed in this issue.

[2015-06-26 19:21] #479 closed

[2015-06-26 19:23] nmittler commented on #570
I understand, I was suggesting that you also you a builder for the interceptor chain itself.  Then you can have methods like `builder.addFirst(i)`, `builder.addLast(i)`.

[2015-06-26 19:34] ejona86 commented on #570
It sounds like your builder is becoming a List... What is wrong with providing a list to intercept, like you can do now?

[2015-06-26 19:40] nmittler commented on #570
Was just thinking that it might be more clear from a readability point of view as:

builder.addLast(i1).addLast(i2).addLast(channel).build();

rather than:

intercept(channel, i2, i1);

[2015-06-26 19:43] ejona86 commented on #570
i2 _is_ "last," but what does "last" mean. It doesn't seem to aid at all.

[2015-06-26 19:44] ejona86 commented on #570
Your second code should have been:

[code]

[2015-06-26 19:50] nmittler commented on #570
not sure how `last` is ambiguous :/

[2015-06-26 20:47] ejona86 commented on #570
To take the example: `intercept(channel, i1, i2)`. i2 is `last`, but when is it run relative to i1?

If you have:

[code]

i3 and i4 were added after i1 and i2, but they would executed before i1 and i2.

Because of the interception pattern we use, adding interceptors _prepends_ them; it makes them executed first. So that confuses what "last" is; last to execute or last to be added?

[2015-06-26 20:55] nmittler commented on #570
Last would certainly be execution order (i.e. the order they are in when the chain is finally built). We don't need the method `addLast` we could only have `addFirst` so that it's clear that we're prepending in all cases.